{% load static %}
{% load client_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{% endblock %} - Seguru
	</title>
	<meta charset="UTF-8">
	<meta name="author" content="Trambia">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="description" content="Description">
	<meta name="keywords" content="Keywords">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Css -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">	
	<link rel="stylesheet" href="{% static 'client/css/main.css' %}?v=0.1">

	<!-- OpenGraph (FB) Tags -->
	<meta property="og:title" content="Title">
	<meta property="og:type" content="website">
	<meta property="og:image" content="source">
	<meta property="og:description" content="Description">

	<!-- Twitter Cards Tags -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Title">
	<meta name="twitter:image" content="source">
	<meta name="twitter:description" content="Description">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>


<!-- Header
================================================= -->
<header {% if not index %}class="add-background"{% else %}class="hide-logo"{% endif %}>

	<div class="logo-container">
		<a href="{% url 'client.index' %}">
			<svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 0 384.11 167.13">
	<defs>
		<style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}.cls-3{fill:url(#linear-gradient-2);}</style>
		<linearGradient id="linear-gradient" x1="19.12" y1="59.14" x2="95.33" y2="59.14" gradientUnits="userSpaceOnUse">
			<stop offset="0" stop-color="#0b72ba"/>
			<stop offset="1" stop-color="#37b775"/>
		</linearGradient>
		<linearGradient id="linear-gradient-2" x1="49.45" y1="61.45" x2="79.3" y2="61.45" xlink:href="#linear-gradient"/>
	</defs>
	<title>seguru_oficial_BLANCO</title>
	<path class="cls-1" d="M95.33,97.24H19.12V21H95.33ZM24.37,92H90.08V26.29H24.37Z"/>
	<polygon class="cls-2" points="361.31 97.24 195.31 97.24 195.31 91.99 356.06 91.99 356.06 26.29 322.94 26.29 322.94 21.04 361.31 21.04 361.31 97.24"/>
	<rect class="cls-2" x="102.89" y="21.04" width="187.42" height="5.25"/>
	<rect class="cls-2" x="102.89" y="91.99" width="33.54" height="5.25"/>
	<path class="cls-3" d="M53.39,43q-3.93,3.12-3.94,9a9.63,9.63,0,0,0,1.62,5.83,12.69,12.69,0,0,0,4,3.58,25.6,25.6,0,0,0,5.32,2.24q2.88.87,5.31,1.74a14.2,14.2,0,0,1,4.06,2.12,4.06,4.06,0,0,1,1.61,3.39,5.21,5.21,0,0,1-2.32,4.68q-2.32,1.55-7.44,1.54a27.24,27.24,0,0,1-3.35-.2,10.46,10.46,0,0,1-2.48-.51L55,69.68H49.45l.08,11.65,1.81.48c.53.15,1.2.31,2,.47s1.69.3,2.64.43,1.9.24,2.87.32,1.91.11,2.8.11a27,27,0,0,0,6.81-.82,16.91,16.91,0,0,0,5.59-2.52,12.65,12.65,0,0,0,3.82-4.22,11.62,11.62,0,0,0,1.42-5.82,9,9,0,0,0-1.61-5.59,13.15,13.15,0,0,0-4.06-3.51,26.3,26.3,0,0,0-5.31-2.24q-2.88-.87-5.32-1.81a15.11,15.11,0,0,1-4.06-2.25,4.35,4.35,0,0,1-1.61-3.58,4.9,4.9,0,0,1,.59-2.52,4.13,4.13,0,0,1,1.58-1.58,7.23,7.23,0,0,1,2.24-.78,14.29,14.29,0,0,1,2.68-.24,20.49,20.49,0,0,1,3.85.35,18.21,18.21,0,0,1,2.45.6L72,52.75H77.1l.23-10.63-2-.63a32.24,32.24,0,0,0-5.86-1.3c-1.92-.24-3.8-.38-5.64-.44q-6.53.16-10.47,3.27"/>
	<path class="cls-2" d="M139.62,62.43l-27.17.16q0,6.47,3.11,10.32a10.15,10.15,0,0,0,8.31,3.86,19.4,19.4,0,0,0,3.47-.32,27.94,27.94,0,0,0,3.27-.79,21.41,21.41,0,0,0,2.79-1.06,18.44,18.44,0,0,0,2.13-1.14l1.57-1,2.76,4.1a36,36,0,0,1-4.92,3.35,31.34,31.34,0,0,1-5.28,2.2,21.06,21.06,0,0,1-6.58,1q-9.28,0-14.09-5.64T104.18,62a27.41,27.41,0,0,1,1.42-9,21.28,21.28,0,0,1,4-7.05,18,18,0,0,1,13.9-6.26Q140,39.75,140,58.26Zm-26.85-5.75h18.9a13.48,13.48,0,0,0-2-7.79c-1.36-2-3.57-3-6.61-3a9.08,9.08,0,0,0-7.17,3,12.92,12.92,0,0,0-3.07,7.75"/>
	<path class="cls-2" d="M164,69.68a21.41,21.41,0,0,1-5.9-.71l-.4,7.4h12.21q7.73,0,11.73,2.92t4,8.82a11.8,11.8,0,0,1-5.2,10.11Q175.3,102,165.22,102q-18.9,0-18.9-11.41,0-5,5.27-8.43a16.35,16.35,0,0,1,3-1.42,6.37,6.37,0,0,1-3.42-1.49,3.54,3.54,0,0,1-1.3-2.68q0-2.59,3.07-7.56l1-1.65A6.34,6.34,0,0,1,152,65.9a14.86,14.86,0,0,1-2-2.36,15.33,15.33,0,0,1-2.13-8.43q0-7.48,4.69-11.42t12.64-3.94a18.17,18.17,0,0,1,7,1.11l.87.39,13.78-.32v4.34l-7.64,1.1q2.13,2.84,2.13,8,0,7.73-4.65,11.54T164,69.68M168,82.28h-8.66a9.27,9.27,0,0,0-1.54,1A11.19,11.19,0,0,0,156,84.8a6.69,6.69,0,0,0-1.81,4.56q0,3.87,3,5.28t9.18,1.42q11.81,0,11.81-7.48c0-2.42-.86-4.07-2.56-5s-4.27-1.34-7.68-1.34m-3.15-37q-9.06,0-9.06,9.45A10.22,10.22,0,0,0,158,61.61a8,8,0,0,0,6.38,2.56q4.8,0,7-2.25t2.16-7.2q0-9.47-8.66-9.45"/>
	<path class="cls-2" d="M231.36,40.54V76l6.7,1.57v4.34l-13,.39-.79-5.51a25.91,25.91,0,0,1-7.48,4.6,19.51,19.51,0,0,1-7.08,1.7q-6.3,0-9.45-3.71T197.11,69V46.84l-6.7-1.57V40.93L205,40.54V68.18c0,2.78.55,4.85,1.66,6.18a6.14,6.14,0,0,0,5,2,12.61,12.61,0,0,0,6.22-1.57,16.28,16.28,0,0,0,4.17-3.07l1.42-1.58V46.84l-6.7-1.57V40.93Z"/>
	<path class="cls-2" d="M256.17,40.54l.71,5.75q5.82-6.54,11.89-6.54a20.57,20.57,0,0,1,6.22,1l.87.23-.4,11.42h-5.12l-1.18-5.9q-6.77,0-11.42,6.14V76l7.88,2v4.33H243.17V78l6.7-2V46.84l-6.7-1.57V40.93Z"/>
	<path class="cls-2" d="M319.17,40.54V76l6.69,1.57v4.33l-13,.4-.79-5.52a25.86,25.86,0,0,1-7.48,4.61,19.55,19.55,0,0,1-7.09,1.7q-6.3,0-9.45-3.71T284.91,69V46.84l-6.69-1.57V40.93l14.57-.39V68.18c0,2.78.55,4.85,1.65,6.18a6.14,6.14,0,0,0,5,2,12.58,12.58,0,0,0,6.22-1.57,16.3,16.3,0,0,0,4.18-3.08l1.41-1.57V46.84l-6.69-1.57V40.93Zm-6.3-15.43L296.33,35.34l-2.76-3.93L308.93,19.2Z"/>
	<path class="cls-2" d="M338,83.07a4.81,4.81,0,0,1-3.66-1.46,6.44,6.44,0,0,1,.08-8.07,5,5,0,0,1,3.74-1.5,4.81,4.81,0,0,1,3.66,1.46,5.65,5.65,0,0,1,1.38,4,5.53,5.53,0,0,1-1.46,4,5,5,0,0,1-3.74,1.5"/>
	<path class="cls-2" d="M19.19,120.16v-11h1.44v9.8H26.4v1.22Z"/>
	<path class="cls-2" d="M27.67,110.47v-1.33H29v1.33Zm0,1.76H29v7.93H27.67Z"/>
	<path class="cls-2" d="M36.1,118.12h1.32v.07a1.76,1.76,0,0,1-.4,1.07,2.58,2.58,0,0,1-1.06.83,4,4,0,0,1-1.58.29,3.39,3.39,0,0,1-2.72-1.11,5.4,5.4,0,0,1,0-6.15A3.39,3.39,0,0,1,34.38,112a4,4,0,0,1,1.58.29,2.67,2.67,0,0,1,1.06.79,1.7,1.7,0,0,1,.4,1.11v.07H36.1v-.07a.92.92,0,0,0-.39-.76,2,2,0,0,0-1.25-.33,2.23,2.23,0,0,0-1.7.73,4.42,4.42,0,0,0,0,4.71,2.26,2.26,0,0,0,1.7.73A1.92,1.92,0,0,0,35.7,119a1,1,0,0,0,.4-.76Z"/>
	<path class="cls-2" d="M44.08,118.12H45.4v.07a1.8,1.8,0,0,1-.41,1.07,2.59,2.59,0,0,1-1.09.83,4,4,0,0,1-1.56.29,3.35,3.35,0,0,1-2.74-1.17,4.47,4.47,0,0,1-1-3,4.56,4.56,0,0,1,1-3,3.49,3.49,0,0,1,4.24-.81A2.76,2.76,0,0,1,45,113.62a5.16,5.16,0,0,1,.42,2.3v.44H39.94a3.21,3.21,0,0,0,.66,2.09,2.26,2.26,0,0,0,1.85.83,1.84,1.84,0,0,0,1.24-.34,1,1,0,0,0,.39-.75ZM40,115.37h4.17v-.16a2.38,2.38,0,0,0-.26-1.07,1.71,1.71,0,0,0-.72-.78,2.13,2.13,0,0,0-1.06-.25,1.9,1.9,0,0,0-1.33.59A3.05,3.05,0,0,0,40,115.37Z"/>
	<path class="cls-2" d="M48.7,120.16H47.38v-7.93H48.7v1.37a4.13,4.13,0,0,1,.81-1,3.15,3.15,0,0,1,.83-.47,2.59,2.59,0,0,1,.95-.16,2.82,2.82,0,0,1,1.34.31,2.19,2.19,0,0,1,.92.89,4.14,4.14,0,0,1,.32,1.9v5H52.55v-4.48a5.39,5.39,0,0,0-.14-1.51,1.21,1.21,0,0,0-.55-.69,1.68,1.68,0,0,0-.9-.26,2.06,2.06,0,0,0-1.1.34,2.46,2.46,0,0,0-.84,1,3.82,3.82,0,0,0-.32,1.74Z"/>
	<path class="cls-2" d="M60.87,118.12H62.2v.07a1.78,1.78,0,0,1-.41,1.07,2.58,2.58,0,0,1-1.06.83,3.89,3.89,0,0,1-1.57.29,3.41,3.41,0,0,1-2.73-1.11,5.45,5.45,0,0,1,0-6.15A3.41,3.41,0,0,1,59.16,112a3.89,3.89,0,0,1,1.57.29,2.67,2.67,0,0,1,1.06.79,1.71,1.71,0,0,1,.41,1.11v.07H60.87v-.07a.88.88,0,0,0-.38-.76,2,2,0,0,0-1.26-.33,2.2,2.2,0,0,0-1.69.73,4.36,4.36,0,0,0,0,4.71,2.24,2.24,0,0,0,1.69.73,1.9,1.9,0,0,0,1.24-.33,1,1,0,0,0,.4-.76Z"/>
	<path class="cls-2" d="M63.79,110.47v-1.33h1.32v1.33Zm0,1.76h1.32v7.93H63.79Z"/>
	<path class="cls-2" d="M72,120.16a3.9,3.9,0,0,1-.2-1.1,4.89,4.89,0,0,1-1.44,1.09,3.27,3.27,0,0,1-1.15.23,2.3,2.3,0,0,1-1.58-.58,2.19,2.19,0,0,1,.27-3.36,9.31,9.31,0,0,1,3.21-1.08l.69-.13v-.9a1.1,1.1,0,0,0-.47-1,2.11,2.11,0,0,0-1.14-.3,1.88,1.88,0,0,0-1.23.36,1.07,1.07,0,0,0-.45.85v.11H67v-.11a1.78,1.78,0,0,1,.43-1.08,2.72,2.72,0,0,1,1.16-.85,4.53,4.53,0,0,1,3.11,0,2.12,2.12,0,0,1,1,.73,3.23,3.23,0,0,1,.32,1.72v3.07c0,.34,0,.69,0,1.06a5.55,5.55,0,0,0,.25,1.3Zm-.2-4-.39.1a7.56,7.56,0,0,0-2.47.93,1.31,1.31,0,0,0-.54,1,1.1,1.1,0,0,0,.16.58,1,1,0,0,0,.47.41,1.45,1.45,0,0,0,.63.15,1.94,1.94,0,0,0,1-.32,2.21,2.21,0,0,0,.8-.86,2.65,2.65,0,0,0,.29-1.25Z"/>
	<path class="cls-2" d="M81.3,123.24H80v-11H81.3v1.38a3.72,3.72,0,0,1,.79-1,3.1,3.1,0,0,1,1.83-.6,3.05,3.05,0,0,1,1.67.49A3.16,3.16,0,0,1,86.77,114a5.5,5.5,0,0,1,.42,2.2,4.92,4.92,0,0,1-.88,3,2.86,2.86,0,0,1-2.46,1.2,3,3,0,0,1-1-.15,2.43,2.43,0,0,1-.81-.43,3.91,3.91,0,0,1-.78-1Zm0-7a3.87,3.87,0,0,0,.59,2.21,1.89,1.89,0,0,0,1.66.87,2,2,0,0,0,1.62-.77,4.56,4.56,0,0,0,0-4.76,2.09,2.09,0,0,0-1.55-.7,2,2,0,0,0-1.18.38,2.26,2.26,0,0,0-.82,1.13A4.59,4.59,0,0,0,81.3,116.2Z"/>
	<path class="cls-2" d="M92.2,120.38a3.67,3.67,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.87,3.87,0,0,1,5.3,0,5,5,0,0,1,0,6.26A3.67,3.67,0,0,1,92.2,120.38Zm0-1.1a2.09,2.09,0,0,0,1.72-.85,4.17,4.17,0,0,0,0-4.47,2.17,2.17,0,0,0-3.44,0,4.17,4.17,0,0,0,0,4.47A2.08,2.08,0,0,0,92.2,119.28Z"/>
	<path class="cls-2" d="M99,120.16H97.65v-7.93H99v1.4a3.16,3.16,0,0,1,.73-.94,3,3,0,0,1,.84-.51,2.62,2.62,0,0,1,.91-.17,2,2,0,0,1,.73.12v1.37a2.38,2.38,0,0,0-1-.23,2.18,2.18,0,0,0-1.48.66,3,3,0,0,0-.71,2.31Z"/>
	<path class="cls-2" d="M108.11,120.16v-11h6.22v1.22h-4.79v3.47h4.19v1.1h-4.19v4h5.17v1.22Z"/>
	<path class="cls-2" d="M116,118.06h1.32v0a1.07,1.07,0,0,0,.39.85,2,2,0,0,0,1.31.34,2,2,0,0,0,1.31-.4,1.16,1.16,0,0,0,.51-.94c0-.48-.33-.83-1-1l-.67-.21-.45-.14-.91-.28a2,2,0,0,1-1.55-1.91,2.2,2.2,0,0,1,.75-1.65,3.2,3.2,0,0,1,2.25-.71,2.92,2.92,0,0,1,2.09.61A1.85,1.85,0,0,1,122,114v0h-1.33v0a.69.69,0,0,0-.39-.62,2.16,2.16,0,0,0-1.06-.23,1.92,1.92,0,0,0-1.21.33,1,1,0,0,0-.42.81.74.74,0,0,0,.27.6,2.56,2.56,0,0,0,.92.42l.63.18.46.13a9.14,9.14,0,0,1,1.2.39,3.53,3.53,0,0,1,.47.29,1.54,1.54,0,0,1,.49.62,2,2,0,0,1,.16.84,2.52,2.52,0,0,1-.8,1.89,3.27,3.27,0,0,1-2.34.77,4,4,0,0,1-1.62-.29,2.59,2.59,0,0,1-1-.81,1.91,1.91,0,0,1-.39-1.19Z"/>
	<path class="cls-2" d="M123.38,118.06h1.32v0a1.07,1.07,0,0,0,.39.85,2,2,0,0,0,1.31.34,2,2,0,0,0,1.31-.4,1.16,1.16,0,0,0,.51-.94c0-.48-.33-.83-1-1l-.67-.21-.44-.14-.91-.28a2,2,0,0,1-1.56-1.91,2.2,2.2,0,0,1,.75-1.65,3.2,3.2,0,0,1,2.25-.71,2.92,2.92,0,0,1,2.09.61,1.85,1.85,0,0,1,.62,1.34v0H128v0a.69.69,0,0,0-.39-.62,2.16,2.16,0,0,0-1.06-.23,1.92,1.92,0,0,0-1.21.33,1,1,0,0,0-.42.81.74.74,0,0,0,.27.6,2.56,2.56,0,0,0,.92.42l.63.18.46.13a9.14,9.14,0,0,1,1.2.39,3.53,3.53,0,0,1,.47.29,1.54,1.54,0,0,1,.49.62,2,2,0,0,1,.16.84,2.52,2.52,0,0,1-.8,1.89,3.27,3.27,0,0,1-2.34.77,4,4,0,0,1-1.62-.29,2.59,2.59,0,0,1-1-.81,1.91,1.91,0,0,1-.39-1.19Z"/>
	<path class="cls-2" d="M136.34,118.12h1.32v.07a1.74,1.74,0,0,1-.41,1.07,2.53,2.53,0,0,1-1.09.83,4,4,0,0,1-1.55.29,3.36,3.36,0,0,1-2.75-1.17,5,5,0,0,1,.06-6,3.3,3.3,0,0,1,2.63-1.2,3.33,3.33,0,0,1,1.61.39,2.74,2.74,0,0,1,1.13,1.22,5.16,5.16,0,0,1,.42,2.3v.44H132.2a3.16,3.16,0,0,0,.67,2.09,2.24,2.24,0,0,0,1.84.83,1.84,1.84,0,0,0,1.24-.34,1,1,0,0,0,.39-.75Zm-4.06-2.75h4.17v-.16a2.38,2.38,0,0,0-.26-1.07,1.71,1.71,0,0,0-.72-.78,2.1,2.1,0,0,0-1.06-.25,1.9,1.9,0,0,0-1.33.59A3.05,3.05,0,0,0,132.28,115.37Z"/>
	<path class="cls-2" d="M141,120.16h-1.32v-7.93H141v1.37a3.91,3.91,0,0,1,.82-1,3,3,0,0,1,.82-.47,2.59,2.59,0,0,1,1-.16,2.79,2.79,0,0,1,1.34.31,2.14,2.14,0,0,1,.92.89,4.12,4.12,0,0,1,.33,1.9v5h-1.32v-4.48a5.3,5.3,0,0,0-.15-1.51,1.21,1.21,0,0,0-.55-.69,1.65,1.65,0,0,0-.89-.26,2.06,2.06,0,0,0-1.11.34,2.46,2.46,0,0,0-.84,1,3.82,3.82,0,0,0-.32,1.74Z"/>
	<path class="cls-2" d="M153,119v1.1a6.59,6.59,0,0,1-1.47.24,2.93,2.93,0,0,1-1.34-.3,2.1,2.1,0,0,1-.9-.87,4,4,0,0,1-.31-1.81v-4.07h-1.37v-1.1H149v-1.87h1.32v1.87h2.32v1.1h-2.32V117a4.4,4.4,0,0,0,.17,1.46,1.17,1.17,0,0,0,.51.6,1.86,1.86,0,0,0,.84.19A4.48,4.48,0,0,0,153,119Z"/>
	<path class="cls-2" d="M154.57,110.47v-1.33h1.32v1.33Zm0,1.76h1.32v7.93h-1.32Z"/>
	<path class="cls-2" d="M162.74,120.16a3.9,3.9,0,0,1-.2-1.1,4.77,4.77,0,0,1-1.44,1.09,3.27,3.27,0,0,1-1.15.23,2.3,2.3,0,0,1-1.58-.58,2.19,2.19,0,0,1,.27-3.36,9.31,9.31,0,0,1,3.21-1.08l.69-.13v-.9a1.1,1.1,0,0,0-.47-1,2.11,2.11,0,0,0-1.14-.3,1.88,1.88,0,0,0-1.23.36,1.07,1.07,0,0,0-.45.85v.11h-1.43v-.11a1.78,1.78,0,0,1,.43-1.08,2.72,2.72,0,0,1,1.16-.85,4.53,4.53,0,0,1,3.11,0,2.08,2.08,0,0,1,1,.73,3.23,3.23,0,0,1,.32,1.72v3.07c0,.34,0,.69,0,1.06a5.55,5.55,0,0,0,.25,1.3Zm-.2-4-.39.1a7.56,7.56,0,0,0-2.47.93,1.31,1.31,0,0,0-.54,1,1.1,1.1,0,0,0,.16.58,1,1,0,0,0,.47.41,1.45,1.45,0,0,0,.63.15,1.94,1.94,0,0,0,1-.32,2.21,2.21,0,0,0,.8-.86,2.65,2.65,0,0,0,.29-1.25Z"/>
	<path class="cls-2" d="M167.34,120.16H166V108.7h1.32Z"/>
	<path class="cls-2" d="M180.84,117.79h1.32v.07a2.38,2.38,0,0,1-.45,1.33,2.62,2.62,0,0,1-1.23,1,4.76,4.76,0,0,1-1.81.31,4.47,4.47,0,0,1-3.44-1.46,7.84,7.84,0,0,1,0-8.74,4.42,4.42,0,0,1,3.45-1.47,4.71,4.71,0,0,1,1.8.31,2.64,2.64,0,0,1,1.23,1,2.4,2.4,0,0,1,.45,1.31v.07h-1.32v-.07a1.31,1.31,0,0,0-.25-.77,1.49,1.49,0,0,0-.73-.56,2.94,2.94,0,0,0-1.13-.19,2.76,2.76,0,0,0-2.52,1.33,7.4,7.4,0,0,0,0,6.81,2.76,2.76,0,0,0,2.51,1.33,2.33,2.33,0,0,0,1.64-.47,1.47,1.47,0,0,0,.48-1.06Z"/>
	<path class="cls-2" d="M187.11,120.38a3.67,3.67,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.87,3.87,0,0,1,5.3,0,5,5,0,0,1,0,6.26A3.67,3.67,0,0,1,187.11,120.38Zm0-1.1a2.09,2.09,0,0,0,1.72-.85,4.17,4.17,0,0,0,0-4.47,2.17,2.17,0,0,0-3.44,0,4.17,4.17,0,0,0,0,4.47A2.09,2.09,0,0,0,187.11,119.28Z"/>
	<path class="cls-2" d="M193.88,120.16h-1.32v-7.93h1.32v1.4a3.16,3.16,0,0,1,.73-.94,3,3,0,0,1,.84-.51,2.62,2.62,0,0,1,.91-.17,2,2,0,0,1,.73.12v1.37a2.38,2.38,0,0,0-1-.23,2.18,2.18,0,0,0-1.48.66,3.05,3.05,0,0,0-.71,2.31Z"/>
	<path class="cls-2" d="M199.49,120.16h-1.32v-7.93h1.32v1.4a3.33,3.33,0,0,1,.73-.94,3,3,0,0,1,.84-.51A2.67,2.67,0,0,1,202,112a1.94,1.94,0,0,1,.72.12v1.37a2.37,2.37,0,0,0-1-.23,2.16,2.16,0,0,0-1.48.66,3,3,0,0,0-.72,2.31Z"/>
	<path class="cls-2" d="M208.85,118.12h1.32v.07a1.8,1.8,0,0,1-.41,1.07,2.59,2.59,0,0,1-1.09.83,4,4,0,0,1-1.56.29,3.35,3.35,0,0,1-2.74-1.17,4.47,4.47,0,0,1-1-3,4.56,4.56,0,0,1,1-3,3.49,3.49,0,0,1,4.24-.81,2.76,2.76,0,0,1,1.14,1.22,5.16,5.16,0,0,1,.42,2.3v.44h-5.51a3.21,3.21,0,0,0,.66,2.09,2.26,2.26,0,0,0,1.85.83,1.84,1.84,0,0,0,1.24-.34,1,1,0,0,0,.39-.75Zm-4.06-2.75H209v-.16a2.38,2.38,0,0,0-.26-1.07,1.71,1.71,0,0,0-.72-.78,2.13,2.13,0,0,0-1.06-.25,1.9,1.9,0,0,0-1.33.59A3,3,0,0,0,204.79,115.37Z"/>
	<path class="cls-2" d="M217.66,108.7H219v11.46h-1.32v-1.38a3.47,3.47,0,0,1-.8,1.07,2.49,2.49,0,0,1-.87.41,4,4,0,0,1-1,.12,3,3,0,0,1-1.66-.5,3.09,3.09,0,0,1-1.18-1.47,5.5,5.5,0,0,1-.42-2.2,4.89,4.89,0,0,1,.88-3,2.87,2.87,0,0,1,2.46-1.2,3,3,0,0,1,1,.15,2.43,2.43,0,0,1,.81.43,3.79,3.79,0,0,1,.78,1Zm0,7.49a3.84,3.84,0,0,0-.59-2.21,1.89,1.89,0,0,0-1.66-.87,2,2,0,0,0-1.62.77,3.48,3.48,0,0,0-.65,2.29,3.69,3.69,0,0,0,.63,2.47,2.06,2.06,0,0,0,1.61.69,2,2,0,0,0,1.19-.38,2.27,2.27,0,0,0,.82-1.13A4.72,4.72,0,0,0,217.66,116.19Z"/>
	<path class="cls-2" d="M224.26,120.38a3.67,3.67,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.87,3.87,0,0,1,5.3,0,5,5,0,0,1,0,6.26A3.67,3.67,0,0,1,224.26,120.38Zm0-1.1a2.09,2.09,0,0,0,1.72-.85,4.17,4.17,0,0,0,0-4.47,2.17,2.17,0,0,0-3.44,0,4.17,4.17,0,0,0,0,4.47A2.09,2.09,0,0,0,224.26,119.28Z"/>
	<path class="cls-2" d="M231,120.16h-1.32v-7.93H231v1.4a3.16,3.16,0,0,1,.73-.94,3,3,0,0,1,.84-.51,2.62,2.62,0,0,1,.91-.17,2,2,0,0,1,.73.12v1.37a2.38,2.38,0,0,0-1-.23,2.18,2.18,0,0,0-1.48.66,3.05,3.05,0,0,0-.71,2.31Z"/>
	<path class="cls-2" d="M240.08,120.16a3.9,3.9,0,0,1-.2-1.1,4.77,4.77,0,0,1-1.44,1.09,3.27,3.27,0,0,1-1.15.23,2.3,2.3,0,0,1-1.58-.58,2.19,2.19,0,0,1,.27-3.36,9.31,9.31,0,0,1,3.21-1.08l.69-.13v-.9a1.1,1.1,0,0,0-.47-1,2.11,2.11,0,0,0-1.14-.3,1.88,1.88,0,0,0-1.23.36,1.07,1.07,0,0,0-.45.85v.11h-1.43v-.11a1.78,1.78,0,0,1,.43-1.08,2.72,2.72,0,0,1,1.16-.85,4.53,4.53,0,0,1,3.11,0,2.12,2.12,0,0,1,1,.73,3.23,3.23,0,0,1,.32,1.72v3.07c0,.34,0,.69,0,1.06a5.55,5.55,0,0,0,.25,1.3Zm-.2-4-.39.1a7.56,7.56,0,0,0-2.47.93,1.31,1.31,0,0,0-.54,1,1.1,1.1,0,0,0,.16.58,1,1,0,0,0,.47.41,1.45,1.45,0,0,0,.63.15,1.94,1.94,0,0,0,1-.32,2.21,2.21,0,0,0,.8-.86,2.65,2.65,0,0,0,.29-1.25Z"/>
	<path class="cls-2" d="M253.72,108.7H255v11.46h-1.32v-1.38a3.47,3.47,0,0,1-.8,1.07,2.49,2.49,0,0,1-.87.41,4,4,0,0,1-1,.12,3,3,0,0,1-1.66-.5,3.09,3.09,0,0,1-1.18-1.47,5.5,5.5,0,0,1-.43-2.2,4.9,4.9,0,0,1,.89-3,2.85,2.85,0,0,1,2.45-1.2,3,3,0,0,1,1,.15,2.43,2.43,0,0,1,.81.43,4,4,0,0,1,.78,1Zm0,7.49a3.84,3.84,0,0,0-.59-2.21,1.9,1.9,0,0,0-1.66-.87,2,2,0,0,0-1.62.77,3.48,3.48,0,0,0-.65,2.29,3.69,3.69,0,0,0,.63,2.47,2.06,2.06,0,0,0,1.61.69,2,2,0,0,0,1.19-.38,2.27,2.27,0,0,0,.82-1.13A4.72,4.72,0,0,0,253.72,116.19Z"/>
	<path class="cls-2" d="M262,118.12h1.32v.07a1.75,1.75,0,0,1-.42,1.07,2.5,2.5,0,0,1-1.08.83,4.05,4.05,0,0,1-1.56.29,3.37,3.37,0,0,1-2.75-1.17,5,5,0,0,1,.06-6,3.3,3.3,0,0,1,2.63-1.2,3.33,3.33,0,0,1,1.61.39,2.76,2.76,0,0,1,1.14,1.22,5.17,5.17,0,0,1,.41,2.3v.44h-5.51a3.16,3.16,0,0,0,.67,2.09,2.24,2.24,0,0,0,1.84.83,1.82,1.82,0,0,0,1.24-.34,1,1,0,0,0,.4-.75ZM258,115.37h4.17v-.16a2.38,2.38,0,0,0-.26-1.07,1.75,1.75,0,0,0-.71-.78,2.17,2.17,0,0,0-1.07-.25,1.86,1.86,0,0,0-1.32.59A3,3,0,0,0,258,115.37Z"/>
	<path class="cls-2" d="M269.9,117.69h1.44v.07A1.32,1.32,0,0,0,272,119a3.55,3.55,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.78,1.78,0,0,0,.64-1.44,1.45,1.45,0,0,0-.55-1.18,6.17,6.17,0,0,0-1.66-.91l-.57-.24a7.36,7.36,0,0,1-1.75-.95,3.35,3.35,0,0,1-.86-1.05,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.59,3.59,0,0,1,2.43.64A2,2,0,0,1,277,111V111h-1.44V111a.88.88,0,0,0-.21-.54,1.29,1.29,0,0,0-.65-.38,4.06,4.06,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.66,1.66,0,0,0-.27,2.06,2,2,0,0,0,.67.66,12.44,12.44,0,0,0,1.42.7l.67.29a5.05,5.05,0,0,1,2.16,1.48,2.87,2.87,0,0,1,.54,1.67,3.22,3.22,0,0,1-.44,1.6,2.89,2.89,0,0,1-1.22,1.18,4.53,4.53,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.43,2.43,0,0,1-1.26-1,2.74,2.74,0,0,1-.43-1.47Z"/>
	<path class="cls-2" d="M284.05,118.12h1.32v.07a1.75,1.75,0,0,1-.42,1.07,2.5,2.5,0,0,1-1.08.83,4,4,0,0,1-1.56.29,3.37,3.37,0,0,1-2.75-1.17,5,5,0,0,1,.06-6,3.3,3.3,0,0,1,2.63-1.2,3.33,3.33,0,0,1,1.61.39,2.76,2.76,0,0,1,1.14,1.22,5.16,5.16,0,0,1,.42,2.3v.44H279.9a3.16,3.16,0,0,0,.67,2.09,2.24,2.24,0,0,0,1.85.83,1.86,1.86,0,0,0,1.24-.34,1,1,0,0,0,.39-.75ZM280,115.37h4.16v-.16a2.25,2.25,0,0,0-.26-1.07,1.75,1.75,0,0,0-.71-.78,2.17,2.17,0,0,0-1.07-.25,1.86,1.86,0,0,0-1.32.59A2.92,2.92,0,0,0,280,115.37Z"/>
	<path class="cls-2" d="M292.81,118.48a3,3,0,0,1-1.05,1.26,2.77,2.77,0,0,1-1.54.42,2.93,2.93,0,0,1-2.34-1.11,4.46,4.46,0,0,1-.92-2.92,5.42,5.42,0,0,1,.42-2.17,3.05,3.05,0,0,1,1.16-1.47,3.13,3.13,0,0,1,1.74-.48,2.91,2.91,0,0,1,1.34.3,3.26,3.26,0,0,1,1.19,1.19v-1.27h1.32v6.48a6.66,6.66,0,0,1-.51,3.22,3.21,3.21,0,0,1-1.3,1.16,4.23,4.23,0,0,1-1.84.37,4.91,4.91,0,0,1-1.77-.29,2.73,2.73,0,0,1-1.18-.79,1.67,1.67,0,0,1-.4-1.06v-.12h1.32v.11a1,1,0,0,0,.56.85,3,3,0,0,0,1.45.31,2.82,2.82,0,0,0,1.22-.24,1.91,1.91,0,0,0,.82-.8,4.4,4.4,0,0,0,.31-2Zm0-2.52a3.14,3.14,0,0,0-.65-2.06,2,2,0,0,0-3.18,0,3.43,3.43,0,0,0-.64,2.23,4.49,4.49,0,0,0,.26,1.59,2,2,0,0,0,.8,1,2,2,0,0,0,1.16.35,1.91,1.91,0,0,0,1.63-.88A3.9,3.9,0,0,0,292.81,116Z"/>
	<path class="cls-2" d="M301.35,112.23h1.32v7.93h-1.32v-1.39a3.91,3.91,0,0,1-.82,1,2.83,2.83,0,0,1-.83.48,2.52,2.52,0,0,1-.93.17,3,3,0,0,1-1.89-.62,3.12,3.12,0,0,1-.78-2.5v-5h1.32v4.47c0,1.16.16,1.86.47,2.1a1.87,1.87,0,0,0,1.17.36,2,2,0,0,0,1.13-.34,2.46,2.46,0,0,0,.84-1,3.89,3.89,0,0,0,.32-1.73Z"/>
	<path class="cls-2" d="M306,120.16h-1.32v-7.93H306v1.4a3.33,3.33,0,0,1,.73-.94,3.2,3.2,0,0,1,.84-.51,2.67,2.67,0,0,1,.92-.17,1.94,1.94,0,0,1,.72.12v1.37a2.37,2.37,0,0,0-1-.23,2.16,2.16,0,0,0-1.48.66,3,3,0,0,0-.72,2.31Z"/>
	<path class="cls-2" d="M313.67,120.38a3.65,3.65,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.86,3.86,0,0,1,5.29,0,5,5,0,0,1,0,6.26A3.65,3.65,0,0,1,313.67,120.38Zm0-1.1a2.06,2.06,0,0,0,1.71-.85,4.17,4.17,0,0,0,0-4.47,2.16,2.16,0,0,0-3.43,0,4.17,4.17,0,0,0,0,4.47A2.06,2.06,0,0,0,313.67,119.28Z"/>
	<path class="cls-2" d="M318.62,118.06h1.32v0a1.07,1.07,0,0,0,.39.85,2,2,0,0,0,1.31.34,2,2,0,0,0,1.31-.4,1.15,1.15,0,0,0,.5-.94c0-.48-.32-.83-1-1l-.67-.21-.45-.14-.91-.28a2,2,0,0,1-1.56-1.91,2.21,2.21,0,0,1,.76-1.65,3.17,3.17,0,0,1,2.24-.71,2.94,2.94,0,0,1,2.1.61,1.85,1.85,0,0,1,.62,1.34v0h-1.33v0a.69.69,0,0,0-.4-.62,2.14,2.14,0,0,0-1.06-.23,1.9,1.9,0,0,0-1.2.33,1,1,0,0,0-.42.81.74.74,0,0,0,.27.6,2.58,2.58,0,0,0,.91.42l.64.18.46.13a8.29,8.29,0,0,1,1.19.39,3.07,3.07,0,0,1,.48.29,1.63,1.63,0,0,1,.49.62,2,2,0,0,1,.16.84,2.52,2.52,0,0,1-.8,1.89,3.29,3.29,0,0,1-2.35.77,4,4,0,0,1-1.61-.29,2.7,2.7,0,0,1-1-.81,2,2,0,0,1-.38-1.19Z"/>
	<path class="cls-2" d="M326.73,122.8V122a1.37,1.37,0,0,0,.52-.49,2,2,0,0,0,.28-.6,2.53,2.53,0,0,0,.09-.7h-.89v-1.88h1.88v1.17a4.67,4.67,0,0,1-.21,1.6,3,3,0,0,1-.61,1A2.94,2.94,0,0,1,326.73,122.8Z"/>
	<path class="cls-2" d="M335.5,117.69h1.43v.07a1.33,1.33,0,0,0,.65,1.27,3.5,3.5,0,0,0,1.71.36,2.28,2.28,0,0,0,1.57-.55,1.78,1.78,0,0,0,.64-1.44,1.45,1.45,0,0,0-.55-1.18,6,6,0,0,0-1.66-.91l-.57-.24a7.36,7.36,0,0,1-1.75-.95,3.35,3.35,0,0,1-.86-1.05,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.59,3.59,0,0,1,2.43.64,2,2,0,0,1,.7,1.49V111h-1.43V111a.89.89,0,0,0-.22-.54,1.25,1.25,0,0,0-.65-.38,4,4,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.64,1.64,0,0,0-.26,2.06,2.08,2.08,0,0,0,.66.66,12.44,12.44,0,0,0,1.42.7l.67.29a5.05,5.05,0,0,1,2.16,1.48,2.87,2.87,0,0,1,.54,1.67,3.12,3.12,0,0,1-.44,1.6,2.89,2.89,0,0,1-1.22,1.18,4.53,4.53,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.36,2.36,0,0,1-1.25-1,2.66,2.66,0,0,1-.43-1.47Z"/>
	<path class="cls-2" d="M346.67,120.16h-1.88v-1.88h1.88Z"/>
	<path class="cls-2" d="M349.49,120.16h-1.33l4.51-11h1.45l4.17,11h-1.55l-1.14-3h-4.87Zm1.67-4.13h4l-1.94-5.12Z"/>
	<path class="cls-2" d="M361.64,120.16h-1.87v-1.88h1.87Z"/>
	<path class="cls-2" d="M227.28,136.74h1.43v.07a1.33,1.33,0,0,0,.65,1.27,3.52,3.52,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.8,1.8,0,0,0,.63-1.44,1.47,1.47,0,0,0-.54-1.18,6.33,6.33,0,0,0-1.66-.91l-.57-.24a7.16,7.16,0,0,1-1.75-1,3.22,3.22,0,0,1-.86-1,3,3,0,0,1,.6-3.39,3.79,3.79,0,0,1,2.76-.86,3.56,3.56,0,0,1,2.42.64,1.94,1.94,0,0,1,.7,1.49v.07H233V130a.84.84,0,0,0-.22-.54,1.26,1.26,0,0,0-.64-.38,4.06,4.06,0,0,0-1-.11,2.06,2.06,0,0,0-1.57.53,1.71,1.71,0,0,0-.5,1.2,1.61,1.61,0,0,0,.24.85,2,2,0,0,0,.66.67,13.37,13.37,0,0,0,1.42.7l.68.29a5.19,5.19,0,0,1,2.16,1.48,2.84,2.84,0,0,1,.54,1.67,3.22,3.22,0,0,1-.44,1.6,3,3,0,0,1-1.22,1.18,4.56,4.56,0,0,1-2.08.4,6.34,6.34,0,0,1-2.06-.29,2.39,2.39,0,0,1-1.26-1,2.66,2.66,0,0,1-.43-1.47Z"/>
	<path class="cls-2" d="M236.19,128.19h1.44v7.09a4.79,4.79,0,0,0,.3,2.08,1.87,1.87,0,0,0,.94.8,3.44,3.44,0,0,0,1.43.28,3,3,0,0,0,1.34-.28,1.75,1.75,0,0,0,.87-.87,7,7,0,0,0,.29-2.51v-6.59h1.32v6.95a6,6,0,0,1-.44,2.71,3.32,3.32,0,0,1-1.28,1.24,4.45,4.45,0,0,1-2.11.45,6.2,6.2,0,0,1-2.16-.36,2.81,2.81,0,0,1-1.46-1.13,5.08,5.08,0,0,1-.48-2.58Z"/>
	<path class="cls-2" d="M253.92,138.7a7.73,7.73,0,0,1-3.34.84,4.86,4.86,0,0,1-2.68-.66,4.54,4.54,0,0,1-1.63-1.89,7.06,7.06,0,0,1-.61-3.16,8,8,0,0,1,.58-3.39,4.56,4.56,0,0,1,1.63-1.89,4.51,4.51,0,0,1,2.49-.68,4.91,4.91,0,0,1,1.79.31,2.84,2.84,0,0,1,1.29.95,2.07,2.07,0,0,1,.48,1.26v.07H252.6v-.07a1.09,1.09,0,0,0-.29-.72,2,2,0,0,0-.78-.51,2.86,2.86,0,0,0-1.09-.19,2.78,2.78,0,0,0-2.45,1.25,7.43,7.43,0,0,0,0,6.94,2.79,2.79,0,0,0,2.44,1.28,6.53,6.53,0,0,0,2.15-.44v-3.14h-2.48v-1.1h3.8Z"/>
	<path class="cls-2" d="M255.84,139.21v-11h6.23v1.22h-4.79v3.47h4.18V134h-4.18v4h5.17v1.22Z"/>
	<path class="cls-2" d="M263.94,136.74h1.44v.07a1.32,1.32,0,0,0,.64,1.27,3.52,3.52,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.8,1.8,0,0,0,.63-1.44,1.47,1.47,0,0,0-.54-1.18,6.17,6.17,0,0,0-1.66-.91l-.57-.24a7.16,7.16,0,0,1-1.75-1,3.22,3.22,0,0,1-.86-1,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.55,3.55,0,0,1,2.42.64A1.94,1.94,0,0,1,271,130v.07h-1.43V130a.88.88,0,0,0-.21-.54,1.29,1.29,0,0,0-.65-.38,4.06,4.06,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.68,1.68,0,0,0-.51,1.2,1.61,1.61,0,0,0,.24.85,2,2,0,0,0,.66.67,14.44,14.44,0,0,0,1.42.7l.68.29a5.05,5.05,0,0,1,2.16,1.48,2.84,2.84,0,0,1,.54,1.67A3.22,3.22,0,0,1,271,138a2.89,2.89,0,0,1-1.22,1.18,4.56,4.56,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.43,2.43,0,0,1-1.26-1,2.66,2.66,0,0,1-.43-1.47Z"/>
	<path class="cls-2" d="M273,139.21v-11h6.22v1.22h-4.79v3.47h4.19V134h-4.19v4h5.18v1.22Z"/>
	<path class="cls-2" d="M286,136.74h1.44v.07a1.32,1.32,0,0,0,.64,1.27,3.52,3.52,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.78,1.78,0,0,0,.64-1.44,1.45,1.45,0,0,0-.55-1.18,6.17,6.17,0,0,0-1.66-.91l-.57-.24a7.36,7.36,0,0,1-1.75-1,3.35,3.35,0,0,1-.86-1,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.55,3.55,0,0,1,2.42.64,2,2,0,0,1,.71,1.49v.07h-1.44V130a.88.88,0,0,0-.21-.54,1.29,1.29,0,0,0-.65-.38,4.06,4.06,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.68,1.68,0,0,0-.51,1.2,1.61,1.61,0,0,0,.24.85,2,2,0,0,0,.67.67,12.44,12.44,0,0,0,1.42.7l.67.29a5.05,5.05,0,0,1,2.16,1.48,2.84,2.84,0,0,1,.54,1.67A3.22,3.22,0,0,1,293,138a2.89,2.89,0,0,1-1.22,1.18,4.53,4.53,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.43,2.43,0,0,1-1.26-1,2.74,2.74,0,0,1-.43-1.47Z"/>
	<path class="cls-2" d="M301.6,136.84h1.32v.07a2.38,2.38,0,0,1-.45,1.33,2.67,2.67,0,0,1-1.23,1,4.78,4.78,0,0,1-1.82.31,4.44,4.44,0,0,1-3.43-1.46,6.29,6.29,0,0,1-1.33-4.38,6.36,6.36,0,0,1,1.32-4.37,4.47,4.47,0,0,1,3.45-1.46,4.76,4.76,0,0,1,1.81.31,2.69,2.69,0,0,1,1.23,1,2.38,2.38,0,0,1,.45,1.31v.07H301.6v-.07a1.32,1.32,0,0,0-.26-.77,1.46,1.46,0,0,0-.72-.56,3,3,0,0,0-1.13-.19A2.76,2.76,0,0,0,297,130.3a7.4,7.4,0,0,0,0,6.81,2.75,2.75,0,0,0,2.51,1.33,2.3,2.3,0,0,0,1.63-.47,1.44,1.44,0,0,0,.49-1.06Z"/>
	<path class="cls-2" d="M304,135.3v-1.1h4.4v1.1Z"/>
	<path class="cls-2" d="M313.35,139.21v-9.65l-2.23.88v-1.22l2.23-1h1.32v11Z"/>
	<path class="cls-2" d="M326,139.21h-1.32v-3.36h-5.29v-1.1l5.29-6.56H326v6.56h1.54v1.1H326Zm-1.32-4.46v-4.83l-3.84,4.83Z"/>
	<path class="cls-2" d="M328.9,135.3v-1.1h4.4v1.1Z"/>
	<path class="cls-2" d="M338.23,139.21v-9.65l-2.23.88v-1.22l2.23-1h1.32v11Z"/>
	<path class="cls-2" d="M344.8,139.21v-1.15a4.2,4.2,0,0,1,.55-1.94,6.61,6.61,0,0,1,1.86-2.07l.75-.57a10.53,10.53,0,0,0,1.89-1.72,2,2,0,0,0,.4-1.18,1.49,1.49,0,0,0-.53-1.12,2.19,2.19,0,0,0-1.54-.49,2.08,2.08,0,0,0-1.34.35,1,1,0,0,0-.44.79v.07h-1.32v-.07a1.8,1.8,0,0,1,.39-1.1,2.77,2.77,0,0,1,1.06-.83,4,4,0,0,1,1.7-.31,3.68,3.68,0,0,1,2.66.79,2.58,2.58,0,0,1,.79,1.9,3.15,3.15,0,0,1-.24,1.18,3.75,3.75,0,0,1-1,1.25c-.49.43-.89.75-1.19,1l-.54.37c-1.7,1.16-2.54,2.29-2.54,3.39V138h5.72v1.22Z"/>
	<path class="cls-2" d="M358.06,139.54a3.4,3.4,0,0,1-2.9-1.57,8.75,8.75,0,0,1,0-8.53,3.48,3.48,0,0,1,5.82,0,8.75,8.75,0,0,1,0,8.53A3.41,3.41,0,0,1,358.06,139.54Zm0-1.1a2.11,2.11,0,0,0,2-1.44,9.07,9.07,0,0,0,0-6.59,2.14,2.14,0,0,0-4,0,8.93,8.93,0,0,0,0,6.59A2.1,2.1,0,0,0,358.06,138.44Z"/>
			</svg>
		</a>
	</div>

	<div class="actions">
		<a href="{% url 'client.calculator.index' %}" class="btn btn-flashy">¡Cotizar Ahora!</a>
		 
		<div class="open-nav">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

</header>
<!-- / Header -->

<!-- <div class="notification-bar">
    <a href="#">¡Calcule su tarifa aquí!</a>
</div> -->


<!-- Nav
================================================= -->
{% display_menu %}
<!-- / Nav -->


<!-- Main
================================================= -->
{% block content %}{% endblock %}
<!-- / Main -->

<script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn.bitrix24.com/b13173009/crm/site_button/loader_1_i4wl8a.js');
</script>

<!-- Footer
================================================= -->
<footer>
	<div class="col reveal">
		<h3>Contacto</h3>
		<ul>
			<li>
				<a href="#">T. +506 4010-1075</a>
			</li>
			<li>
				<a href="#">E. info@seguru.com</a>
			</li>
			<li>
				<a href="#">D. Centro Corporativo Lindora, Piso 3, Oficina 9.</a>
			</li>
		</ul>
	</div>
	<div class="col social reveal">
		<h3>Social</h3>
		<ul>
			<li><a href="https://www.facebook.com/SeguruCostaRica"><i class="fab fa-facebook-f"></i></a></li>
		</ul>
	</div>
	<div class="col reveal">
		<h3>Legal</h3>
		<ul>
			<li>
				<a href="#">Términos y Condiciones</a>
			</li>
			<li>
				<a href="#">Política de Privacidad</a>
			</li>
			<li>
				<a href="#">© Segurú 2020</a>
			</li>
		</ul>
	</div>
</footer>
<!-- / Footer -->


<!-- Scripts
================================================= -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script type="text/javascript" src="{% static 'client/js/scrollreveal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/swiper.min.js' %}"></script>
<script src="{% static 'client/js/main.js' %}"></script>

{% block script_js %}{% endblock %}

</body>
</html>
