<nav>
    <h3 class="subtitle">Menú</h3>
    <ul>
        {% for page in menu_pages %}
            <li><a href="{{ page.page_url }}">{{ page.title }}</a></li>
        {% endfor %}

        <li><a href="{% url 'accounts.logout' %}">logout</a></li>
        
    </ul>



    <ul class="social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
</nav>