{% extends 'insurance/layout/base.html' %}


{% block title %}
    {{ insurance_info }}
{% endblock %}

{% block breadcrumb %}
    Data de Seguros
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">{{ insurance_info }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-accent-success">
                                <div class="card-header">Data de Seguros</div>
                                <div class="card-body">
                                    <p>
                                        <strong>Nombre (Etiqueta): </strong> {{ insurance_info }}
                                    </p>
                                    <p>
                                        <strong>Categoría: </strong> {{ insurance_info.get_category_display }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-lg-end">
                                        <div class="col-lg-6 text-right">
                                            <a href="{% url 'insurance.insurance_info.edit' insurance_info.id %}"
                                               class="text-warning">
                                                <i class="far fa-edit"></i> Editar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-accent-indigo">
                                <div class="card-header">Seguros</div>
                                <div class="card-body">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                        <tr>
                                            <th class="col-lg-11">Nombre</th>
                                            <th class="col-lg-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for insurance in insurance_info.insurance.all %}
                                            <tr>
                                                <td>{{ insurance }}</td>
                                                <td>
                                                    <a href="{% url 'insurance.insurance.edit' insurance.id %}"
                                                       class="text-warning" title="Editar">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-lg-end">
                                        <div class="col-lg-6 text-right">
                                            <a href="{% url 'insurance.insurance_info.add_insurance' insurance_info.id %}"
                                               class="text-success">
                                                <i class="far fa-plus-square"></i> Agregar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-accent-cyan">
                                <div class="card-header">Propiedades de Seguros</div>
                                <div class="card-body">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                        <tr>
                                            <th class="col-lg-10">Nombre</th>
                                            <th class="col-lg-1"></th>
                                            <th class="col-lg-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for insurance_property in insurance_info.insurance_info_property.all %}
                                            <tr>
                                                <td>{{ insurance_property.insurance_property }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'insurance.insurance_info_property_edit' insurance_property.id %}"
                                                       class="text-warning" title="Editar">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a href="{% url 'insurance.insurance_info_property.delete' insurance_property.id %}"
                                                       class="text-danger" title="Eliminar">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="2" class="text-danger text-center">
                                                    <h6>No tiene propiedades asociadas</h6>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-lg-end">
                                        <div class="col-lg-6 text-right">
                                            <a href="{% url 'insurance.insurance_info.add_property' insurance_info.id %}"
                                               class="text-success">
                                                <i class="far fa-plus-square"></i> Agregar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}