{% extends 'insurance/layout/base.html' %}

{% block title %}
    {{ title_form }}
{% endblock %}

{% block breadcrumb %}
    Data de Seguros
{% endblock %}

{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <div class="card card-accent-primary">
                <div class="card-header">{{ title_form }}</div>
                <div class="card-body">
                    <form method="post" action="">{% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-accent-success">
                                    <div class="card-header">Data de Seguro</div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {% for error in form.name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            {{ form.category.label_tag }}
                                            {{ form.category }}
                                            {% for error in form.category.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if not insurance_info %}
                                <div class="col-lg-12">
                                    <div class="card card-accent-indigo">
                                        <div class="card-header">Seguro</div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                {{ insurance_form.name.label_tag }}
                                                {{ insurance_form.name }}
                                                {% for error in insurance_form.name.errors %}
                                                    <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                {{ insurance_form.company.label_tag }}
                                                {{ insurance_form.company }}
                                                {% for error in insurance_form.company.errors %}
                                                    <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                {{ insurance_form.price.label_tag }}
                                                {{ insurance_form.price }}
                                                {% for error in insurance_form.price.errors %}
                                                    <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
