{% extends 'insurance/layout/base.html' %}

{% block title %}
    Data de Seguros
{% endblock %}

{% block breadcrumb %}
    Data de Seguros
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Data de Seguros</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Data</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for insurance_info in insurance_info_list %}
                            <tr>
                                <td>{{ insurance_info }}</td>
                                <td class="text-center">
                                    <a href="{% url 'insurance.insurance_info.detail' insurance_info.id %}"
                                       class="text-info" title="Ver Detalle">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center text-danger">
                                    <h4>No hay info de seguro disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if insurance_info_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=2 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-lg-end">
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.insurance_info.add' %}" class="text-success">
                                <i class="far fa-file"></i> Nueva
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}