{% extends 'insurance/layout/base.html' %}


{% block title %}
    Características
{% endblock %}


{% block breadcrumb %}
    Características
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Lista de Características</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Nombre</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for feature in feature_list %}
                            <tr>
                                <td>{{ feature }}</td>
                                <td>
                                    <a href="{% url 'insurance.feature.edit' feature.id %}"
                                       class="text-warning" title="Ver Detalle">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center text-danger">
                                    <h4>No hay características disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if feature_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=2 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.feature.add' %}" title="Nuevo" class="text-success"><i
                                    class="far fa-file"></i> Nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}