{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %} - Segurú</title>

	<!-- Icons -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

	<!-- Main styles for this application -->
	<link href="{% static 'insurance/css/style.min.css' %}" rel="stylesheet">
	<!-- Styles required by this views -->

	{% block css %}{% endblock %}

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
	<button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{% url 'insurance.index' %}">Segurú</a>
	<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>

	<ul class="nav navbar-nav ml-auto">
	</ul>

</header>

<div class="app-body">
	<div class="sidebar">
		<nav class="sidebar-nav">
			<ul class="nav">
				<li class="nav-item">
					<a href="{% url 'insurance.client_response.list' %}" class="nav-link">
						<i class="fas fa-users"></i> R. Clientes
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.post.list' %}" class="nav-link"><i class="fas fa-newspaper"></i>
						Páginas</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.section_home_template.list' %}" class="nav-link"><i
							class="fas fa-puzzle-piece"></i>
						Secciones</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.company.list' %}" class="nav-link"><i class="far fa-building"></i>
						Compañias</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.insurance_property.list' %}" class="nav-link">
						<i class="fas fa-tags"></i> P. Seguros
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.insurance_info.list' %}" class="nav-link">
						<i class="far fa-copy"></i> Data de Seguros
					</a>
				</li>
				<li class="nav-item nav-dropdown">
					<a class="nav-link nav-dropdown-toggle" href="#"><i class="fas fa-question"></i> Respuestas</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a href="{% url 'insurance.insurance_life_response.list' %}" class="nav-link">
								<i class="fas fa-circle"></i> Seguro de Vida
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'insurance.insurance_medical_response.list' %}" class="nav-link">
								<i class="fas fa-circle"></i> Seguro Médico
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'insurance.insurance_vehicle_response.list' %}" class="nav-link">
								<i class="fas fa-circle"></i> Seguro de Vehículos
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'insurance.insurance_home_response.list' %}" class="nav-link">
								<i class="fas fa-circle"></i> Seguro de Casas
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.vehicle_brand.list' %}" class="nav-link">
						<i class="fas fa-car"></i> Marcas de Vehículos
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.construction_type.list' %}" class="nav-link">
						<i class="fas fa-align-justify"></i> T. Construcción
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.feature.list' %}" class="nav-link">
						<i class="fas fa-hashtag"></i> Características
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'insurance.vehicle_year.list' %}" class="nav-link">
						<i class="far fa-clock"></i> Años
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'accounts.logout' %}" class="nav-link">
						<i class="fas fa-sign-out-alt"></i> Cerrar Sesión
					</a>
				</li>
			</ul>
		</nav>
		<button class="sidebar-minimizer brand-minimizer" type="button"></button>
	</div>

	<!-- Main content -->
	<main class="main">

		<!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">{% block breadcrumb %}{% endblock %}</li>
		</ol>

		<div class="container-fluid">
			<div class="animated fadeIn">
				{% block content %}{% endblock %}
			</div>

		</div>
		<!-- /.conainer-fluid -->
	</main>

</div>

<footer class="app-footer">

</footer>

<!-- Bootstrap and necessary plugins -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>#}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#<script src="node_modules/pace-progress/pace.min.js"></script>#}

<!-- Plugins and scripts required by all views -->
{#<script src="node_modules/chart.js/dist/Chart.min.js"></script>#}

<!-- CoreUI main scripts -->

<script src="{% static 'insurance/js/app.js' %}"></script>

{% block js_scripts %}{% endblock %}

</body>
</html>