{% extends 'insurance/layout/base.html' %}

{% block title %}
    {{ title_form }}
{% endblock %}

{% block breadcrumb %}
    {{ title_form }}
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card-accent-danger">
                <div class="card-header">
                    {{ title_card }}
                </div>
                <div class="card-body">
                    <form method="post" action="">{% csrf_token %}
                        <h3 class="text-center">{{ text_delete }}</h3>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger">Si, Eliminar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}