{% extends 'insurance/layout/base.html' %}

{% block title %}
	{{ title_form }}
{% endblock %}

{% block breadcrumb %}
	{{ title_section }}
{% endblock %}

{% block content %}
	<form method="post" action="">{% csrf_token %}
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="card card-accent-success">
					<div class="card-header">{{ title_form }}</div>
					<div class="card-body">
						{{ form.errors }}
						<div class="card card-accent-gray-300">
							<div class="card-header">Información Básica</div>
							<div class="card-body">
								{% for field in form %}
									{% if field.name != 'insurance' %}
										{% if field.is_hidden %}
											{{ field }}
										{% else %}
											<div class="form-group">
												{{ field.label_tag }}
												{{ field }}
												{% for error in field.errors %}
													<div class="invalid-feedback">{{ error }}</div>
												{% endfor %}
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>

						<div class="card card-accent-gray-400">
							<div class="card-header">Seguros</div>
							<div class="card-body">
								{% for field in form %}
									{% if field.name == 'insurance' %}
										{% if field.is_hidden %}
											{{ field }}
										{% else %}
											<div class="form-group">
												{{ field }}
												{% for error in field.errors %}
													<div class="invalid-feedback">{{ error }}</div>
												{% endfor %}
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>

						<div class="form-group text-right">
							<button type="submit" class="btn btn-success">Guardar</button>
						</div>

					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-lg-6">
								<a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
							</div>
							<div class="col-lg-6"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}