<tr>
    <td colspan="{{ colspan }}">
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if params %}&{{ params }}{% endif %}"
                                             aria-label="Anterior"><span
                            aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" aria-label="Anterior"><span
                            aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link">P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if params %}&{{ params }}{% endif %}" aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </td>
</tr>