{% extends 'insurance/layout/base.html' %}

{% block title %}
    Marcas de Vehículos
{% endblock %}

{% block breadcrumb %}
    Marcas de Vehículos
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Lista de Marcas</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Nombre</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vehicle_brand in vehicle_brand_list %}
                            <tr>
                                <td>{{ vehicle_brand }}</td>
                                <td>
                                    <a href="{% url 'insurance.vehicle_brand.detail' vehicle_brand.id %}"
                                       class="text-info" title="Ver Detalle">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center text-danger">
                                    <h4>No hay marcas de vehículos disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if vehicle_brand_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=2 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.vehicle_brand.add' %}" title="Nuevo" class="text-success"><i
                                    class="far fa-file"></i> Nueva</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}