{% extends 'insurance/layout/base.html' %}

{% block title %}
    {{ vehicle_brand }}
{% endblock %}

{% block breadcrumb %}
    Marcas de Vehículos
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">{{ vehicle_brand }}</div>
                <div class="card-body">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-6">
                            <div class="card card-accent-success">
                                <div class="card-header">Modelos</div>
                                <div class="card-body">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                        <tr>
                                            <th class="col-lg-11">Nombre</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for vehicle_model in vehicle_brand.sorted_vehicle_models %}
                                            <tr>
                                                <td>{{ vehicle_model }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'insurance.vehicle_brand.edit_model' vehicle_model.id %}"
                                                       class="text-warning" title="Editar Modelo">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="2" class="text-danger text-center"><h6>No hay modelos
                                                    disponibles</h6></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-lg-end">
                                        <div class="col-lg-6 text-right">
                                            <a href="{% url 'insurance.vehicle_brand.add_model' vehicle_brand.id %}"
                                               class="text-success" title="Agregar Modelo">
                                                <i class="far fa-plus-square"></i> Agregar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{% url 'insurance.vehicle_brand.list' %}">
                                <i class="fas fa-arrow-left"></i> Regresar
                            </a>
                        </div>
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.vehicle_brand.edit' vehicle_brand.id %}" title="Editar"
                               class="text-warning"><i class="far fa-edit"></i> Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}