{% extends 'insurance/layout/base.html' %}

{% block title %}
    Páginas
{% endblock %}

{% block breadcrumb %}
    Páginas
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Páginas</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Título</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in post_list %}
                            <tr>
                                <td>{{ post }}</td>
                                <td>
                                    <a href="{% url 'insurance.post.edit' post.id %}" class="text-warning"
                                       title="Editar"><i class="far fa-edit"></i></a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center text-danger"><h4>No hay páginas disponibles</h4></td>
                            </tr>
                        {% endfor %}
                        {% if post_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=2 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.post.sort' %}" class="text-cyan"><i class="fas fa-sort"></i>
                                Agregar al Menú y Ordenar</a>&nbsp;
                            <a href="{% url 'insurance.post.add' %}" title="Nuevo" class="text-success"><i
                                    class="far fa-file"></i> Nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}