{% extends 'insurance/layout/base.html' %}

{% load static %}

{% block title %}
    {{ title_form }}
{% endblock %}

{% block breadcrumb %}
    Páginas
{% endblock %}

{% block css %}
    <link href="{% static 'insurance/css/dropzone.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">{{ title_form }}</div>
                <div class="card-body">
                    <form method="post" action="">{% csrf_token %}
                        <div class="form-group">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            {% for error in form.title.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.subtitle.label_tag }}
                            {{ form.subtitle }}
                            {% for error in form.subtitle.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                            {% for error in form.content.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group row">
                            <div class="col-lg">
                                {{ form.primary_button_text.label_tag }}
                                {{ form.primary_button_text }}
                                {% for error in form.primary_button_text.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="col-lg">
                                {{ form.primary_button_url.label_tag }}
                                {{ form.primary_button_url }}
                                {% for error in form.primary_button_url.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg">
                                {{ form.secondary_button_text.label_tag }}
                                {{ form.secondary_button_text }}
                                {% for error in form.secondary_button_text.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="col-lg">
                                {{ form.secondary_button_url.label_tag }}
                                {{ form.secondary_button_url }}
                                {% for error in form.secondary_button_url.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        {% if post %}
                            <div class="form-group">
                                <label>Url:</label> <a href="{% url 'client.page.single' post.slug %}" target="_blank">
                                {{ request.get_host }}{% url 'client.page.single' post.slug %}</a>
                            </div>
                            <div id="post_image_container" class="form-group row">
                                <div class="col-lg-12">
                                    <label>Imágenes:</label>
                                </div>
                                {% for post_image in post.images.all %}
                                    <div class="col-lg text-center">
                                        <img class="img-fluid img-thumbnail rounded" src="{{ post_image.image.url }}">
                                        <br/>
                                        <a href="{% url 'insurance.post_image.delete' post_image.id %}"
                                           title="Eliminar Imagen" class="text-danger"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                {% empty %}
                                    <div class="col-lg text-center" id="empty_element">
                                        <h4 class="text-danger">La página no tiene imágenes relacionadas</h4>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-6">
                                {% if post %}
                                    <div class="form-group">
                                        <a href="{% url 'insurance.post.delete' post.id %}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if post %}
                        <div id="dropzone">
                            <form action="{% url 'insurance.post_image.add' post.id %}" class="dropzone dz-clickable"
                                  id="my-dropzone">{% csrf_token %}
                                <div class="dz-message">
                                    <h4 class="text-blue">
                                        Arrastre las imagenes o haga click aqui para subirlas.
                                    </h4>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_scripts %}
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('{{ form.content.id_for_label }}');
    </script>

    {% if post %}
        <script src="{% static 'insurance/js/dropzone.js' %}"></script>
        <script>
            // myDropzone is the configuration for the element that has an id attribute
            // with the value my-dropzone (or myDropzone)
            Dropzone.options.myDropzone = {
                maxFilesize: 3,
                paramName: 'post_image_file',
                init: function () {
                    this.on("success", function (file, response) {
                        var postImageContainer = $('#post_image_container');

                        var emptyElement = $('#post_image_container #empty_element');

                        console.log(emptyElement);

                        if (emptyElement.length > 0) {
                            postImageContainer.empty();
                        }

                        var itemImage = '<div class="col-lg text-center">\n' +
                            '                                        <img class="img-fluid img-thumbnail rounded" src="' + response.image_url + '">\n' +
                            '                                        <br/>\n' +
                            '                                        <a href="' + response.post_image_delete_url + '"\n' +
                            '                                           title="Eliminar Imagen" class="text-danger"><i class="far fa-trash-alt"></i></a>\n' +
                            '                                    </div>';

                        postImageContainer.append(itemImage);

                        this.removeFile(file);
                    });
                }
            };
        </script>
    {% endif %}

{% endblock %}