{% extends 'insurance/layout/base.html' %}

{% block title %}
    Ordenar Páginas
{% endblock %}

{% block breadcrumb %}
    Páginas
{% endblock %}

{% block content %}
    <style>

        #exclude_posts, #posts_in_menu {
            border: 1px solid #eee;
            min-height: 25px;
            padding: 5px;
        }

    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-success">
                <div class="card-header">Ordenar Páginas</div>
                <div class="card-body">
                    <form method="post" id="sort_form">{% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-accent-danger">
                                    <div class="card-header">Páginas que no están en el menú</div>
                                    <div class="card-body">
                                        <ul id="exclude_posts" class="list-group connectedSortable">
                                            {% for post in exclude_posts %}
                                                <li class="list-group-item" id="{{ post.id }}">{{ post }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="card card-accent-primary">
                                    <div class="card-header">Páginas en el menú</div>
                                    <div class="card-body">
                                        <ul id="posts_in_menu" class="list-group connectedSortable">
                                            {% for post in posts_in_menu %}
                                                <li class="list-group-item" id="{{ post.id }}">{{ post }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-success" type="submit" id="btn_save_order">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{% url 'insurance.post.list' %}"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_scripts %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#exclude_posts, #posts_in_menu").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });

        $("#btn_save_order").click(function (e) {
            var array_posts = [];
            var exclude_posts = [];

            var sort_form = $("#sort_form");

            $("#posts_in_menu li").each(function () {
                array_posts.push($(this).attr('id'));
            });

            $("#exclude_posts li").each(function () {
                exclude_posts.push($(this).attr('id'));
            });

            sort_form.append('<input type="hidden" id="ids_sort_posts" name="ids_sort_posts" value="' + array_posts + '">');

            sort_form.append('<input type="hidden" id="ids_exclude_posts" name="ids_exclude_posts" value="' + exclude_posts + '">');

            sort_form.submit();

            e.preventDefault();
        });

    </script>

{% endblock %}