{% extends 'client/layout/base.html' %}

{% block title %}
    ¡Hablemos!
{% endblock %}

{% block content %}

    <main class="single-page">
        <!-- Form Group -->
        <section class="form-container">
            <div class="content-box">
                <h2 class="title reveal">
                    ¡Hablemos!
                </h2>
                <h3 class="subtitle reveal-300">
                    Siempre atentos a sus consultas
                </h3>
                {% if success_message %}
                    <p class="reveal-500">
                        {{ success_message }}
                    </p>
                {% endif %}

                <!--<form id="bxform" enctype="multipart/form-data" method="post" action="https://bitrix24public.com/seguru.bitrix24.com/form/4_estimado_cliente_por_favor_ingrese_sus_datos/115kt3/" >{% csrf_token %}
                    <div class="form-group">
                        <label>
                            Nombre:
                            <input namne="LEAD_NAME" id="LEAD_NAME" type="text" name="full_name">
                        </label>

                        <label>
                            Apellido:
                            <input name="LEAD_LAST_NAME" id="LEAD_LAST_NAME" type="text" name="full_name">
                        </label>

                        <label class="half">
                            Email:
                            <input name="LEAD_EMAIL" id="LEAD_EMAIL" type="text" name="email">
                        </label>

                        <label class="half">
                            Teléfono:
                            <input name="LEAD_PHONE" id="LEAD_PHONE" type="text" name="phone">
                        </label>


                        <label class="half">
                            Tipo de seguro:

                            <select  name="LEAD_UF_CRM_1583512522" id="LEAD_UF_CRM_1583512522">
                                <option value="44">Vehículos</option>
                                <option value="46">Vida</option>
                                <option value="48">Médico</option>
                                <option value="50">Casa</option>
                            </select> 

                        </label>

                        <label>
                            Mensaje:
                            <textarea id="LEAD_COMMENTS" name="LEAD_COMMENTS" rows="4"></textarea>
                        </label>

                        <div class="action-container">
                            <button type="submit" class="btn btn-secondary">Enviar</button>
                        </div>
                        
                    </div>
                </form>-->

            </div>
        </section>
        <!-- / Form Group -->
        <!-- Map -->
        <!--<section class="map">
            <div id="map"></div>
        </section>-->
        <!-- / Map -->
    </main>

    <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://seguru.bitrix24.com/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"4","lang":"la","sec":"115kt3","type":"inline"});
    </script>



{% endblock %}