{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
				<h2 class="question-title">Ingrese los datos del vehículo</h2>
                <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">
                                <div class="question">
                                    <div class="simple-input">
                                        <label>
                                            Placa (si no tiene el dato, deje en blanco y coloque la Marca y Modelo):
                                            <input type="text" name="plate_id" id="plate_id" placeholder="Placa">
                                        </label>
                                        <center>
                                            <a href="javascript:searchPlate();" class="btn btn-secondary">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </center>
                                    </div>
                                </div>
                                <hr>
                                <div class="simple-input">
                                    <label>
                                        Marca:

                                        <select name="vehicle_brand" id="vehicle_brand" required>
                                            <option>Seleccione una marca</option>
                                            {% for vehicle_brand in vehicle_brand_list %}
                                                <option value="{{ vehicle_brand.id }}">{{ vehicle_brand }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Modelo:
                                        <select name="vehicle_model" id="vehicle_model" required>
                                            <option>Seleccione un modelo</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Año:
                                        <select name="vehicle_year" id="vehicle_year" required>
                                            {% for k,v in years_list.items %}
                                                <option value="{{ v }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                
                                <!--<div class="simple-input">
                                    <label>
                                        Estado:
                                        <select name="plate" id="plate" required>
                                            {% for k,v in plate.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>-->
                                
                                <!--<div class="simple-input">
                                    <label>
                                        Seleccione la moneda:
                                        <select name="currency" id="currency" required>
                                            {% for k,v in currency.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>-->

                                <div class="simple-input">
                                    <label>
                                        Valor del Vehículo:
                                        <input type="text" id="vehicle_value" name="vehicle_value" placeholder="Valor" required>
                                    </label>
                                </div>
                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Siguiente <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                            <input type="hidden" id="credid_propietario" name="credid_propietario" value="">
                            <input type="hidden" id="credid_brand" name="credid_brand" value="">
                            <input type="hidden" id="credid_model" name="credid_model" value="">
                            <input type="hidden" id="credid_year" name="credid_year" value="">
                            <input type="hidden" id="credid_motor" name="credid_motor" value="">
                            <input type="hidden" id="credid_chasis" name="credid_chasis" value="">
                            <input type="hidden" id="credid_type" name="credid_type" value="">
                            <input type="hidden" id="credid_cilinders" name="credid_cilinders" value="">
                            <input type="hidden" id="credid_cc" name="credid_cc" value="">
                            <input type="hidden" id="credid_weight" name="credid_weight" value="">
                            <input type="hidden" id="credid_sits" name="credid_sits" value="">
                        </form>
                    </div>			 
                <!--<img style="display:block;margin:auto;" src="{% static "client/images/loader.gif" %}" alt="loader">-->
			</div>

            <div class="tab" name="loader" id="loader">
                    <h2 class="question-title">¡Estamos cotizando tu seguro!</h2> 
                    <br>  
                    <div class="loader"></div>
            </div>
            
            {% if show_dialog == "True" %}
            <script>
                $('#loader').show();
                $('#questions').hide();
                console.log("false")
            </script>
            {% else %}
            <script type="text/javascript">
                $('#loader').hide();
                $('#questions').show();
                console.log("true")
            </script>
            {% endif %}

		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>

    <script>
        particlesJS("particle-js", {
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

        /*$(window).on('beforeunload', function(e) {
            console.log("this will be triggered");
            setup();
            restablish();

        });

        function restablish(){
             //alert("Boom!");
             $('#loader').hide();
             $('#questions').show();
        }*/

        $('#vehicle_value').keyup(
            function(event) {
                console.log('key pressed');

                if(event.which >= 37 && event.which <= 40){
                    event.preventDefault();
                }
                var $this = $(this);
                var num = $this.val().replace(/,/gi, "").replace('₡','');
                var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
                
                console.log('₡'+num2);

                // the following line has been simplified. Revision history contains original.
                $this.val('₡'+num2);
        });

        
        $("#submit").click( 
            function(){
                //
                if($("#vehicle_brand").val()==="Seleccione una marca" || 
                    $("#vehicle_value").val()==="" ||
                    $("#vehicle_model").val()==="Seleccione un modelo"){
                    alert("Seleccione una marca para continuar")
                }
                else{
                    $('#loader').show();
                    $('#questions').hide();
                    $(window).scrollTop(0);
                }
            }
        );

        function setup(){

            /** Fill Vehicle Model Drop Down **/
            var vehicle_brand_selector = '#vehicle_brand';

            var vehicle_model_selector = '#vehicle_model';

            //var vehicle_year_selector = '#vehicle_year';

            var url_models = '{% url 'insurance.vehicle_brand.get_models' %}';

            //var url_years = '{% url 'insurance.vehicle_brand.get_years' %}';

            $(vehicle_brand_selector).change(function () {
                var text_loading = '<option>Cargando....</option>';

                $(vehicle_model_selector).html(text_loading);

                $.get(url_models, {vehicle_brand_id: $(this).val()}, function (data) {
                    $(vehicle_model_selector).empty();

                    //$(vehicle_model_selector).append('<option value="">Seleccione un modelo</option>');

                    $.each(data, function (i, vehicle_model) {
                        $(vehicle_model_selector).append('<option value="' + vehicle_model.id + '">' + vehicle_model.name + '</option>');
                    })
                });
            });
        }

        setup();

        function searchPlate() {
            var url_getInfoByPlate = '{% url 'client.calculator.get_brand_model_by_plate' %}';

            $.get(url_getInfoByPlate, {plate_id: $('#plate_id').val()}, function (data) {
                $.each(data, function (i, credid_info) {
                    $('#credid_'+i).val(credid_info);
                    if (i=="brand") {
                        console.log("Entering to brand "+credid_info);
                        $("#vehicle_brand option").filter(function() {
                            console.log(this.textContent);
                            return this.textContent == credid_info; 
                        }).prop('selected', true);
                    }
                    if (i=="model") {
                        var url_models = '{% url 'insurance.vehicle_brand.get_models' %}';
                        $.get(url_models, {vehicle_brand_id: $('#vehicle_brand').val()}, function (data) {
                            $('#vehicle_model').empty();

                            $.each(data, function (i, vehicle_model) {
                                $('#vehicle_model').append('<option value="' + vehicle_model.id + '">' + vehicle_model.name + '</option>');
                            })

                            $("#vehicle_model option").filter(function() {
                                //return this.text == credid_info; 
                                var regex = new RegExp( this.textContent, 'g' );
                                return credid_info.match(regex)
                            }).prop('selected', true);
                        });
                    }
                    if (i=="year") {
                        $("#vehicle_year").val(credid_info);
                    }

                    // console.log("Key "+i+" Value is "+credid_info);
                })
            });
        }

	</script>

{% endblock %}
