{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
				<h2 class="question-title">Confirmar Pago</h2>
                <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">

                                <div class="simple-input">
                                    <label>
                                        Titular Tarjeta:
                                        <input type="text" name="card_name" id="card_name" placeholder="Nombre Titular Tarjeta"  value="">
                                    </label>
                                </div>

                                
                                <div class="simple-input">
                                    <label>
                                        Número Tarjeta:
                                        <input type="text" name="card_id" id="card_id" placeholder="xxxx xxxx xxxx xxxx"  value="" >
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        CVV:
                                        <input type="text" name="card_cvv" id="card_vv" placeholder="123"  value="">
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Fecha Vencimiento:
                                        <input type="text" name="card_id" id="card_id" placeholder="mm/yy"  value="">
                                    </label>
                                </div>


                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Siguiente <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>			 
                <!--<img style="display:block;margin:auto;" src="{% static "client/images/loader.gif" %}" alt="loader">-->
			</div>

		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>

    <script>
        particlesJS("particle-js", {
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

       

        /** Fill Vehicle Model Drop Down **/

	</script>

{% endblock %}
