{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            #hidden_div {
                display: none;
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
				<h2 class="question-title">Ingrese los datos del vehículo</h2>
                <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">
                                <div class="simple-input">
                                    <label>
                                       Placa:
                                        <input type="text" name="vehicle_plate" id="vehicle_plate" placeholder="Placa"  value="{{vehicle.plate}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Marca:
                                        <input type="text" name="vehicle_brand" id="vehicle_brand" placeholder="Marca"  value="{{vehicle.brand}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Modelo:
                                        <input type="text" name="vehicle_model" id="vehicle_model" placeholder="Modelo"  value="{{vehicle.model}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Año:
                                        <input type="text" name="vehicle_year" id="vehicle_year" placeholder="Año"  value="{{vehicle.year}}" required>
                                    </label>
                                </div>

                                <!--<div class="simple-input">
                                    <label>
                                       Versión:
                                        <input type="text" name="vehicle_version" id="vehicle_version" placeholder="Versión"  value="{{vehicle.version}}" required>
                                    </label>
                                </div>-->
                                {%if selected_company != 'ins' %}
                                    <div class="simple-input">
                                        <label>
                                            Versión:
                                            <select name="vehicle_version" id="vehicle_version" required>
                                                {% for k,v in versions.items %}
                                                    <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                {%endif%}
                                


                                <div class="simple-input">
                                    <label>
                                       No. Chasis:
                                        <input type="text" name="vehicle_chasis" id="vehicle_chasis" placeholder="No. Chasis"  value="{{vehicle.chasis}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       No. Motor:
                                        <input type="text" name="vehicle_motor" id="vehicle_motor" placeholder="No. Motor"  value="{{vehicle.motor}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Tipo de vehículo:
                                        <input type="text" name="vehicle_type" id="vehicle_type" placeholder="Todoterreno 4 puertas"  value="{{vehicle.type}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Cilíndros:
                                        <input type="text" name="vehicle_cilinders" id="vehicle_cilinders" placeholder="4 cilindros"  value="{{vehicle.cilinders}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Cubicaje:
                                        <input type="text" name="vehicle_cc" id="vehicle_cc" placeholder="2000 cc"  value="{{vehicle.cc}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Kilómetros:
                                        <input type="text" name="vehicle_kms" id="vehicle_kms" placeholder="1000"  value="{{vehicle.kms}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Color:
                                       <select name="vehicle_color" id="vehicle_color" required>
                                            {% for option in vehicle_color_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Ocupantes:
                                        <input type="text" name="vehicle_sits" id="vehicle_sits" placeholder="5 pasajeros"  value="{{vehicle.sits}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Combustible:
                                       <select name="vehicle_combustible" id="vehicle_combustible" required>
                                        
                                            {% for k,v in vehicle_combustible_list.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>

                                            
                                        
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Transmisión:
                                       <select name="vehicle_transmition" id="vehicle_transmition" required>
                                            {% for option in vehicle_transmition_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                    </label>
                                </div>


                                <div class="simple-input">
                                    <label>
                                       Peso Bruto:
                                        <input type="text" name="vehicle_weight" id="vehicle_weight" placeholder="500kg"  value="{{vehicle.weight}}" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Posee alguna deuda:
                                         <select name="has_debt" id="has_debt" onchange="showDiv('hidden_div', this)" required>
                                            {% for option in damage_answer_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                {%if selected_company == 'qualitas' %}

                                <div id="hidden_div">
                                    <div class="simple-input">
                                        <label>
                                           Acreedor:
                                            <input type="text" name="creditor_name" id="creditor_name" placeholder="Nombre completo">
                                        </label>
                                    </div>
                                    
                                    <div class="simple-input">
                                        <label>
                                           Cédula de acreedor:
                                            <input type="text" name="creditor_id" id="creditor_id" placeholder="Nombre completo">
                                        </label>
                                    </div>

                                    <div class="simple-input">
                                        <label>
                                           Porcentaje de acreencia:
                                            <input type="text" name="credit_percentage" id="credit_percentage" placeholder="80%">
                                        </label>
                                    </div>
                                    
                                </div>

                                {%endif%}

                                <div class="simple-input">
                                    <label>
                                       Existen daños en el vehículo:
                                        <select name="has_damage" id="vehicle_damage" required>
                                            {% for option in damage_answer_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>

                                    </label>
                                </div>

                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Confirmar<i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </form>
                    </div>			 

			</div>

            <div class="tab" name="loader" id="loader">
                <h2 class="question-title">Estamos buscando tus datos!</h2> 
                <br>  
                <div class="loader"></div>      
                <!--<img style="display:block;margin:auto;width: 128px;height: 128px;" src="{% static "client/images/blue_loader.gif" %}" alt="loader">-->
            </div>

            {% if show_dialog == "True" %}
            <script>
                $('#loader').show();
                $('#questions').hide();
                console.log("false")
            </script>
            {% else %}
            <script type="text/javascript">
                $('#loader').hide();
                $('#questions').show();
            </script>
            {% endif %}
            
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>
	
    <script>
        particlesJS("particle-js", {
            "height":"window.outerHeight",
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

        function showDiv(divId, element){
            document.getElementById(divId).style.display = element.value != 'No' ? 'block' : 'none';
        }

        /** Fill Vehicle Model Drop Down **/
        // var state_selector = '#client_state';
        // var county_selector = '#client_county';
        // var district_selector = '#client_district';

        // //var vehicle_year_selector = '#vehicle_year';

        // var url_counties = '{% url 'insurance.client-info.get_models' %}';

        // var url_districts = '{% url 'insurance.client-info.get_districts' %}';

        // //var url_years = '{% url 'insurance.vehicle_brand.get_years' %}';

        // $(state_selector).change(function () {
        //     var text_loading = '<option>Cargando....</option>';

        //     $(county_selector).html(text_loading);

        //     $.get(url_counties, {state_id: $(this).val()}, function (data) {
        //         $(county_selector).empty();

        //         $(county_selector).append('<option value="">Seleccione un cantón</option>');

        //         $.each(data, function (i, county) {
        //             $(county_selector).append('<option value="' + county.id + '">' + county.name + '</option>');
        //         })
        //     });
        // });

        // $(county_selector).change(function () {
        //     var text_loading = '<option>Cargando....</option>';

        //     $(district_selector).html(text_loading);

        //     $.get(url_districts, {county_id: $(this).val()}, function (data) {
        //         $(district_selector).empty();

        //         $(district_selector).append('<option value="">Seleccione un distrito</option>');

        //         $.each(data, function (i, district) {
        //             $(district_selector).append('<option value="' + district.id + '">' + district.name + '</option>');
        //         })
        //     });
        // });


	</script>

{% endblock %}