{% extends 'client/layout/base.html' %}

{% block title %}
	{{ title_section }}
{% endblock %}

{% block content %}
	<main class="single-page">

		<!-- Form Group -->
		<section class="form-container">

			<div class="content-box">

				<h2 class="title reveal">
					Solicitud
				</h2>
				<h3 class="subtitle reveal-300">
					{{ title_insurance }}
				</h3>
				<p class="reveal-500">
					{{ insurance }}
				</p>
				<form method="post" action="">{% csrf_token %}
					<div class="form-group">
						<label class="half">
							{{ client_form.first_name.label }}:
							{{ client_form.first_name }}
						</label>
						<label class="half">
							{{ client_form.last_name.label }}:
							{{ client_form.last_name }}
						</label>
						<label>
							¿Como desea que lo contactemos?
						</label>
						<div class="radio">
							<label>
								<input type="radio" name="contact_type" id="contact_type_email" required>
								<div class="icon"></div>
								Correo Electrónico
							</label>

							<label>
								<input type="radio" name="contact_type" id="contact_type_phone" required>
								<div class="icon"></div>
								Teléfono
							</label>


						</div>
						<label id="email_label">
							{{ client_form.email.label }}:
							{{ client_form.email }}
						</label>
						<label id="phone_label">
							{{ client_form.phone.label }}:
							{{ client_form.phone }}
						</label>
					</div>

					<div class="action-container">
						<button type="submit" class="btn btn-secondary">Enviar</button>
					</div>

				</form>

			</div>

		</section>
		<!-- / Form Group -->
	</main>
{% endblock %}

{% block script_js %}

	<script>
        $(document).ready(function () {
            $('#email_label').hide();
            $('#phone_label').hide();
        });

        $('#contact_type_email').click(function () {
            $('#email_label').show();
            $('#phone_label').hide();
        });

        $('#contact_type_phone').click(function () {
            $('#email_label').hide();
            $('#phone_label').show();
        });
	</script>

{% endblock %}