{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .hidden {
                display: none;
            }
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
                <h2 class="question-title">Confirmación de compra</h2>
                <div style="display: block;">
                    
                    {%if selected_company == 'Oceanica' %}   
                        <form method="post" action="https://portal.oceanica-cr.com/datafono/index.php">
                            <div class="question">

                                <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos del vehículo:</label>
                                    <br>
                                    <br>
                                    <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                </div>
                                
                                <table>
                                  <tr>
                                    <td>Marca</td>
                                    <td>{{brand}}</td>
                                  </tr>

                                  <tr>
                                    <td>Modelo</td>
                                    <td>{{model}}</td>
                                  </tr>

                                  <tr>
                                    <td>Año</td>
                                    <td>{{year}}</td>
                                  </tr>

                                  <tr>
                                    <td>Valor</td>
                                    <td>{{value}}</td>
                                  </tr>
                                </table>
                                
                                <br>
                                <br>
                                <br>
                                

                                <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos del cliente:</label>
                                    <br>
                                    <br>
                                    <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                </div>
                                
                                <table>
                                  <tr>
                                    <td>Cliente</td>
                                    <td>{{name}}</td>
                                  </tr>

                                  <tr>
                                    <td>Número de identificación</td>
                                    <td>{{id}}</td>
                                  </tr>

                                  <tr>
                                    <td>Correo</td>
                                    <td>{{email}}</td>
                                  </tr>

                                  <tr>
                                    <td>Número de teléfono</td>
                                    <td>{{phone}}</td>
                                  </tr>

                                </table>

                                <br>
                                <br>
                                <br>

                                <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos del seguro:</label>
                                    <br>
                                    <br>
                                    <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                </div>

                                <table>
                                  <tr>
                                    <td>Aseguradora</td>
                                    <td>{{selected_company}}</td>
                                  </tr>

                                  <tr>
                                    <td>Tipo de pago</td>
                                    <td>{{payment_type}}</td>
                                  </tr>

                                  <tr>
                                    <td>Monto</td>
                                    <td>{{des_monto}}</td>
                                  </tr>

                                </table>

                                <div class="hidden">
                                    <label class="control-label col-sm-2" for="monto">Monto:</label>
                                    <input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">
                                </div>

                                <div class="hidden">
                                    <label class="control-label col-sm-2" for="order">Order Id:</label>
                                    <input type="text" class="form-control" id="order" name="order" value="{{order}}">
                                </div>

                                <div class="hidden">
                                    <label class="control-label col-sm-2" for="indredirect">Indicador Redirect:</label>
                                    <input type="text" class="form-control" id="indredirect" name="indredirect" value="{{indredirect}}">
                                </div>

                                <div class="hidden">
                                    <label class="control-label col-sm-2" for="redirect">Redirect:</label>
                                    <input type="text" class="form-control" id="redirect" name="redirect" value="{{redirect}}">
                                </div>

                                <div class="hidden">
                                    <label class="control-label col-sm-2" for="poliza">Poliza:</label>
                                    <input type="text" class="form-control" id="poliza" name="poliza" value="{{poliza}}">
                                </div>

                                <div class="hidden">
                                    <label class="control-label col-sm-2" for="moneda">Moneda:</label>
                                    <input type="text" class="form-control" id="moneda" name="moneda" value="{{moneda}}">
                                </div>

                                <div class="actions">
                                        <!--<input type="submit" value="Pagar" >-->
                                        <button type="submit" value="Pagar" class="btn">Confirmar<i class="fa fa-arrow-right"></i>
                                        </button>
                                </div>

                            </div>
                        </form>
                    {%endif%}

                    {%if selected_company == 'Qualitas' %}

                        <div class="question">
                            <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos del vehículo:</label>
                                    <br>
                                    <br>
                                    <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                </div>
                                    
                                <table>
                                  <tr>
                                    <td>Marca</td>
                                    <td>{{brand}}</td>
                                  </tr>

                                  <tr>
                                    <td>Modelo</td>
                                    <td>{{model}}</td>
                                  </tr>

                                  <tr>
                                    <td>Año</td>
                                    <td>{{year}}</td>
                                  </tr>

                                  <tr>
                                    <td>Valor</td>
                                    <td>{{value}}</td>
                                  </tr>
                                </table>
                                
                                <br>
                                <br>
                                <br>
                                    

                                <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos del cliente:</label>
                                    <br>
                                    <br>
                                    <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                </div>
                                
                                <table>
                                  <tr>
                                    <td>Cliente</td>
                                    <td>{{name}}</td>
                                  </tr>

                                  <tr>
                                    <td>Número de identificación</td>
                                    <td>{{id}}</td>
                                  </tr>

                                  <tr>
                                    <td>Correo</td>
                                    <td>{{email}}</td>
                                  </tr>

                                  <tr>
                                    <td>Número de teléfono</td>
                                    <td>{{phone}}</td>
                                  </tr>
                                </table>

                                <br>
                                <br>
                                <br>

                                <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos del seguro:</label>
                                    <br>
                                    <br>
                                    <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                </div>

                                <table>
                                  <tr>
                                    <td>Aseguradora</td>
                                    <td>{{selected_company}}</td>
                                  </tr>

                                  <tr>
                                    <td>Tipo de pago</td>
                                    <td>{{payment_type}}</td>
                                  </tr>

                                  <tr>
                                    <td>Monto</td>
                                    <td>{{des_monto}}</td>
                                  </tr>

                                  {%if des_monto_real != '' %}
                                    <tr>
                                      <td>Monto Real (Solo en Pruebas)</td>
                                      <td>{{des_monto_real}}</td>
                                    </tr>
                                  {%endif%}
                                </table>

                                <br>
                                <br>
                                <br>

                                <div class="">
                                    <label class="control-label col-sm-2" for="monto">Datos de la tarjeta:</label>
                                    <br>
                                    <br>
                                </div>
                        </div>
                        
                        <form  method="post" action="https://credomatic.compassmerchantsolutions.com/api/transact.php">



                             <div class="question">

                                 <div class="simple-input">
                                    <label>
                                        Nombre del titular de la tarjeta:
                                        <input type="text" id="" name="titular" placeholder="Nombre Tarjeta" required>
                                    </label>
                                </div>


                                 <div class="simple-input">
                                    <label>
                                        Número de tarjeta:
                                        <input type="text" id="" name="ccnumber" placeholder="5432187659087432" required>
                                    </label>
                                </div>       

                                <div class="simple-input">
                                    <label>
                                        Fecha de vencimiento:
                                        <input type="text" id="" name="ccexp" placeholder="mmaa" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        CVV:
                                        <input type="text" id="" name="cvv" placeholder="123" required>
                                    </label>
                                </div>

                                <div class="hidden">
                                    <input type="text" name="hash" value="{{hash}}"></input>
                                    <input type="text" name="time" value="{{time}}"></input>
                                    <input type="text" name="type" value="{{type}}"></input>

                                    <input type="text" name="amount" value="{{amount}}"></input>
                                    <input type="text" name="redirect" value="{{redirect}}"></input>

                                    <input type="text" name="orderid" value="{{order_id}}"></input>
                                    <input type="text" name="key_id" value="{{key_id}}"></input>
                                    <input type="text" name="processor_id" value="{{processor_id}}"></input>
                                    <input type="text" name="address" value=""></input>
                                    
                                </div>

                                <div class="actions">
                                    <button type="submit" value="Enviar Transacción" class="btn">
                                        Pagar<i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>  
                             </div>
                        </form>
                    {%endif%}

                    {%if selected_company == 'Ins' %}
                        <form  method="post" action="">{% csrf_token %}

                                 <div class="question">
                                    <!---->
                                    <div class="">
                                        <label class="control-label col-sm-2" for="monto">Datos del vehículo:</label>
                                        <br>
                                        <br>
                                        <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                    </div>
                                        
                                    <table>
                                      <tr>
                                        <td>Marca</td>
                                        <td>{{brand}}</td>
                                      </tr>

                                      <tr>
                                        <td>Modelo</td>
                                        <td>{{model}}</td>
                                      </tr>

                                      <tr>
                                        <td>Año</td>
                                        <td>{{year}}</td>
                                      </tr>

                                      <tr>
                                        <td>Valor</td>
                                        <td>{{value}}</td>
                                      </tr>
                                    </table>
                                    
                                    <br>
                                    <br>
                                    <br>
                                        

                                    <div class="">
                                        <label class="control-label col-sm-2" for="monto">Datos del cliente:</label>
                                        <br>
                                        <br>
                                        <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                    </div>
                                    
                                    <table>
                                      <tr>
                                        <td>Cliente</td>
                                        <td>{{name}}</td>
                                      </tr>

                                      <tr>
                                        <td>Número de identificación</td>
                                        <td>{{id}}</td>
                                      </tr>

                                      <tr>
                                        <td>Correo</td>
                                        <td>{{email}}</td>
                                      </tr>

                                      <tr>
                                        <td>Número de teléfono</td>
                                        <td>{{phone}}</td>
                                      </tr>
                                    </table>

                                    <br>
                                    <br>
                                    <br>

                                    <div class="">
                                        <label class="control-label col-sm-2" for="monto">Datos del seguro:</label>
                                        <br>
                                        <br>
                                        <!--<input type="text" class="form-control" id="monto" name="monto" value="{{monto}}">-->
                                    </div>

                                    <table>
                                      <tr>
                                        <td>Aseguradora</td>
                                        <td>{{selected_company}}</td>
                                      </tr>

                                      <tr>
                                        <td>Tipo de pago</td>
                                        <td>{{payment_type}}</td>
                                      </tr>

                                      <tr>
                                        <td>Monto</td>
                                        <td>{{des_monto}}</td>
                                      </tr>
                                    </table>

                                    <br>
                                    <br>
                                    <br>

                                    <div class="">
                                        <label class="control-label col-sm-2" for="monto">Datos de la tarjeta:</label>
                                        <br>
                                        <br>
                                    </div>

                                    <div class="simple-input">
                                        <label>
                                            Número de tarjeta:
                                            <input type="text" id="ccnumber" name="ccnumber" placeholder="5432187659087432" required>
                                        </label>
                                    </div>

                                    <div class="simple-input">
                                        <label>
                                            Fecha de vencimiento:
                                            <input type="text" id="ccexp" name="ccexp" placeholder="mmaa" required>
                                        </label>
                                    </div>

                                    <div class="simple-input">
                                        <label>
                                            CVV:
                                            <input type="text" id="cvv" name="cvv" placeholder="321" required>
                                        </label>
                                    </div>

                                    <div class="hidden">

                                        <!--
                                        <input type="text" name="hash" value="{{hash}}"></input>
                                        <input type="text" name="time" value="{{time}}"></input>
                                        <input type="text" name="amount" value="{{amount}}"></input>
                                        <input type="text" name="type" value="{{type}}"></input>
                                        <input type="text" name="orderid" value="{{order_id}}"></input>
                                        <input type="text" name="key_id" value="{{key_id}}"></input>
                                        <input type="text" name="processor_id" value="{{processor_id}}"></input>
                                        <input type="text" name="redirect" value="{{redirect}}"></input>
                                        <input type="text" name="cvv" value=""></input>
                                        <input type="text" name="address" value=""></input>
                                        -->

                                    </div>

                                    <div class="actions">
                                        <button type="submit" value="Enviar Transacción" class="btn">
                                            Pagar<i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>     

                                 </div>
                        </form>
                    {%endif%}

                </div>
            </div>
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>

    <script>
        particlesJS("particle-js", {
            "height":"window.outerHeight",
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });
	</script>

{% endblock %}