{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>

        <section class="calculator">

            {% if approved  %}
                <div class="tab" name="questions" id="questions">
                    <h2 class="question-title">Hemos finalizado la creación de tu seguro</h2>
                    <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">

                                <section>

                                  <p>Se ha completado de manera exitosa el proceso de creación de tu seguro.</p>
                                  <!--<p>Puedes descargar los detalles de la póliza del siguiente enlace.</p>-->
                                  <p>Los detalles de tu póliza serán enviados al correo registrado.</p>

                                  <!--<p>Puedes descargarla también.</p>-->
                                </section>
                                
                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Finalizar <i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </form>
                    </div>           
                     <!--<img style="display:block;margin:auto;" src="{% static "client/images/loader.gif" %}" alt="loader">-->
                </div>
            {% endif %}

             {% if not approved  %}
                <div class="tab" name="questions" id="questions">
                    <h2 class="question-title">Metodo de pago Rechazado</h2>
                    <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">

                                <section>
                                  <p>Por favor revisa la informaci&oacute;n de tu m&eacute;todo de pago</p>
                                  <p>Si tienes un problema con tu m&eacute;todo de pago escr&iacute;benos a info@seguru.cr</p>
                                </section>
                                
                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn"><i class="fa fa-arrow-left"></i> Atr&aacute;s </i></button>
                                </div>

                            </div>
                        </form>
                    </div>           
                     <!--<img style="display:block;margin:auto;" src="{% static "client/images/loader.gif" %}" alt="loader">-->
                </div>
            {% endif %}

		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>

    <script>
        particlesJS("particle-js", {
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

        $('#vehicle_value').keyup(function(event) {
            console.log('key pressed');

            if(event.which >= 37 && event.which <= 40){
                event.preventDefault();
            }
            var $this = $(this);
            var num = $this.val().replace(/,/gi, "");
            var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
            console.log(num2);
            // the following line has been simplified. Revision history contains original.
            $this.val(num2);
        });

        
        $("#submit").click( function()
           {
            var empty=false;

            if($("#vehicle_brand").val()===""|| $("#vehicle_model").val()===""||$("#vehicle_value").val()==="")
            { 
                console.log('empty');
                empty=true;
            } 
            if(!empty){
                $('#loader').show();
                $('#questions').hide();
                //$("html, body").animate({ scrollTop: 0 }, "slow");
                $(window).scrollTop(0);
            } 
           }
        );

        /** Fill Vehicle Model Drop Down **/
        var vehicle_brand_selector = '#vehicle_brand';

        var vehicle_model_selector = '#vehicle_model';

        //var vehicle_year_selector = '#vehicle_year';

        var url_models = '{% url 'insurance.vehicle_brand.get_models' %}';

        //var url_years = '{% url 'insurance.vehicle_brand.get_years' %}';

        $(vehicle_brand_selector).change(function () {
            var text_loading = '<option>Cargando....</option>';

            $(vehicle_model_selector).html(text_loading);

            $.get(url_models, {vehicle_brand_id: $(this).val()}, function (data) {
                $(vehicle_model_selector).empty();

                $(vehicle_model_selector).append('<option value="">Seleccione un modelo</option>');

                $.each(data, function (i, vehicle_model) {
                    $(vehicle_model_selector).append('<option value="' + vehicle_model.id + '">' + vehicle_model.name + '</option>');
                })
            });
        });

        /** Fill Vehicle Year Drop Down **/
        /*$(vehicle_model_selector).change(function () {
            var text_loading = '<option>Cargando....</option>';

            $(vehicle_year_selector).html(text_loading);

            $.get(url_years, {vehicle_model_id: $(this).val()}, function (data) {
                $(vehicle_year_selector).empty();

                $(vehicle_year_selector).append('<option value="">Seleccione un año</option>');

                $.each(data, function (i, vehicle_year) {
                    $(vehicle_year_selector).append('<option value="' + vehicle_year.id + '">' + vehicle_year.year + '</option>');
                })
            });
        });*/

	</script>

{% endblock %}