{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
				<h2 class="question-title">Verifique sus datos</h2>
                <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">
                                <div class="simple-input">
                                    <label>
                                        Nombre:
                                        <input type="text" name="client_name" id="client_name" placeholder="Nombre"  value="{{name}}" required>
                                    </label>
                                </div>
                                
                                <div class="simple-input">
                                    <label>
                                        Primer apellido:
                                        <input type="text" name="client_lastname1" id="client_lastname1" placeholder="Apellido 1" value="{{lastname1}}" required>
                                    </label>
                                </div>
                                
                                <div class="simple-input">
                                    <label>
                                        Segundo apellido:
                                        <input type="text" name="client_lastname2" id="client_lastname2" placeholder="Apellido 2" value="{{lastname2}}" required>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Género:
                                        <select name="client_gender" id="client_gender" required>
                                            <!--<option>Seleccione su género</option>-->
                                            {% for k,v in gender.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Estado Civil:
                                        <select name="client_marital_status" id="client_marital_status" required>
                                            <!--<option>Seleccione su estado civil</option>-->
                                            {% for k,v in marital_status.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Provincia:
                                        
                                        <select name="client_state" id="client_state" required>
                                            <option>Seleccione una provincia</option>
                                            {% for state in state_list %}
                                                <option value="{{ state.id }}">{{ state }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Cantón:
                                        
                                        <select name="client_county" id="client_county" required>
                                            <option>Seleccione una provincia</option>
                                            {% for k,v in county_list.items %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Distrito:
                                        
                                        <select name="client_district" id="client_district"
                                        required>
                                        <option>Seleccione una provincia</option>
                                            {% for k,v in district_list.items %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                {%if selected_company == 'qualitas' %}
                                <div class="simple-input">
                                    <label>
                                        Barrio:
                                        <select name="client_barrio" id="client_barrio">
                                            {% for k,v in barrio_list.items %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                {%endif%}
                                <div class="simple-input">
                                    <label>
                                        Dirección:
                                        <input type="text" name="client_address" id="client_address" placeholder="Detalle de dirección"  required>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Número de teléfono:
                                        <input type="number" name="client_phone" id="client_phone" placeholder="88888888" required>
                                    </label>
                                </div>
                                
                                <div class="simple-input">
                                    <label>
                                        Correo electrónico:
                                        <input type="text" name="client_email" id="client_email" placeholder="usuario@dominio.com" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Fecha de nacimiento:
                                        <input type="text" id="datepicker" name="datepicker" value="{{birth_date}}" placeholder="dd/mm/aaaa" required>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Nivel de Estudios:
                                        <select name="client_study_level" id="client_study_level" required>
                                            <!--<option>Seleccione su nivel de estudios</option>-->
                                            {% for k,v in study_level.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Fecha de Vencimiento Documento de Identidad:
                                        <input type="text" id="DueDate" name="DueDate" value="{{DueDate}}" placeholder="dd/mm/aaaa" required>
                                </div>

                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Confirmar<i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </form>
                    </div>			 

			</div>

            <div class="tab" name="loader" id="loader">
                <h2 class="question-title">Estamos buscando tus datos!</h2> 
                <br>  
                <div class="loader"></div>      
                <!--<img style="display:block;margin:auto;width: 128px;height: 128px;" src="{% static "client/images/blue_loader.gif" %}" alt="loader">-->
            </div>

            <!--<div id="dialog" title="">
                <p>El formato del correo es inv&aacute;lido</p>
            </div>-->

            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            
            <script>
                $( function() {
                    $.datepicker.regional['es'] = {
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']
                    }
                    $.datepicker.setDefaults($.datepicker.regional['es']);

                    $( "#datepicker" ).datepicker();
                    $( "#datepicker" ).datepicker( "option", "dateFormat", "dd/mm/yy");

                    $( "#DueDate" ).datepicker();
                    $( "#DueDate" ).datepicker( "option", "dateFormat", "dd/mm/yy");
                } );
            </script>

            {% if show_dialog == "True" %}
            <script>
                $('#loader').show();
                $('#questions').hide();
                console.log("false")
            </script>
            {% else %}
            <script type="text/javascript">
                $('#loader').hide();
                $('#questions').show();
            </script>
            {% endif %}
            
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>
	
    <script>
        var empty=false;

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        
        email_value=$("#client_address").val()

        var valid = isEmail(email_value)

        if($("#client_name").val()==="" || $("#client_lastname1").val()==="" || $("#client_lastname2").val()==="" || $("#client_email").val()==="" || $("#client_phone").val()==="" || email_value==="" || 
            $("#datepicker").val()==="" || $("#DueDate").val()===""){ 
            //console.log('empty');
            empty=true;
        } 


        $("#submit").click( function(){
            if(!empty){
                //console.log('valid email')
                if(valid){
                    $('#loader').show();
                    $('#questions').hide();
                }else{
                    $( "#dialog" ).dialog();
                }
            }else{
                //$( "#dialog" ).dialog();
            }
            
        });

    </script>

    <script>
        particlesJS("particle-js", {
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

        /** Fill Vehicle Model Drop Down **/
        var state_selector = '#client_state';
        var county_selector = '#client_county';
        var district_selector = '#client_district';
        var barrio_selector = '#client_barrio';

        //var vehicle_year_selector = '#vehicle_year';

        var url_counties = '{% url 'insurance.client-info.get_models' %}';

        var url_districts = '{% url 'insurance.client-info.get_districts' %}';

        var url_barrios = '{% url 'insurance.client-info.get_barrios' %}';

        //var url_years = '{% url 'insurance.vehicle_brand.get_years' %}';

        $(state_selector).change(function () {
            var text_loading = '<option>Cargando....</option>';

            $(county_selector).html(text_loading);

            $.get(url_counties, {state_id: $(this).val()}, function (data) {
                $(county_selector).empty();

                $(county_selector).append('<option value="">Seleccione un cantón</option>');

                $.each(data, function (i, county) {
                    $(county_selector).append('<option value="' + county.id + '">' + county.name + '</option>');
                })
            });
        });

        $(county_selector).change(function () {
            var text_loading = '<option>Cargando....</option>';

            $(district_selector).html(text_loading);

            $.get(url_districts, {county_id: $(this).val()}, function (data) {
                $(district_selector).empty();

                //$(district_selector).append('<option value="">Seleccione un distrito</option>');

                $.each(data, function (i, district) {
                    $(district_selector).append('<option value="' + district.id + '">' + district.name + '</option>');
                })
            });
        });

        $(district_selector).change(function () {
            var text_loading = '<option>Cargando....</option>';

            $(barrio_selector).html(text_loading);

            $.get(url_barrios, {district_id: $(this).val()}, function (data) {
                $(barrio_selector).empty();

                //$(barrio_selector).append('<option value="">Seleccione un barrio</option>');

                $.each(data, function (i, barrio) {
                    $(barrio_selector).append('<option value="' + barrio.id + '">' + barrio.name + '</option>');
                })
            });
        });


	</script>

{% endblock %}