{% extends 'client/layout/base.html' %}

{% block title %}
    Calculador
{% endblock %}

{% block content %}

    <main class="single-page">

        <section class="calculator">

            <div class="menu-tab">
                <h1 class="title">Calculador</h1>
                <h2 class="subtitle">Seleccione tipo de seguro.</h2>

                <ul>

                    <li>
                        {% if user.is_superuser or user.is_staff %}
                            <a href="{% url 'client.calculator.vehicle' %}">
                        {% else %}
                            <a href="{% url 'client.contact_form' %}">
                        {% endif %}
                            <div class="icon">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <div class="menu-title">
                                <h3>
                                    Vehículos
                                </h3>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'client.contact_form' %}">
                            <div class="icon">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                                </svg> 
                            </div>
                            <div class="menu-title">
                                <h3>
                                    Vida
                                </h3>
                            </div>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{% url 'client.contact_form' %}">
                            <div class="icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
                                <path d="M16.6,7.6C19.3,7.1,22,6.6,24.7,6c1.5-0.2,2.9-0.5,4.3-0.9C30,5,30.9,5,31.9,5.1c0.3,0.2,0.6,0.3,0.9,0.3
                                    c2.6,1.1,3.6,3.3,4,5.9c0.1,0.6,0.2,1.2,0.3,1.8c0,0.1,0,0.1,0,0.2c1,3.7-1.4,7-4.8,7.7c-2.2,0.4-4.5,0.9-6.7,1.3
                                    c-0.8,0.1-1.1,0.4-1,1.2c0.1,1.6,0,3.2,0,4.7c0,0.3-0.1,0.7,0.1,1c0,2.7,0,5.4,0,8.2c-0.1,0.1-0.1,0.3-0.1,0.5c0,2.3,0,4.7,0,7
                                    c0,0.2,0,0.3,0.1,0.5c0,2.7,0,5.4,0,8.2c-0.3,0.7,0,1.3,0,1.9c0.1,2.1,0.6,4.2,1.3,6.2c1,3.1,2.7,5.8,4.9,8.2
                                    c0.5,0.7,1.1,1.3,1.8,1.8c0.4,0.5,1,0.9,1.5,1.3c2,1.5,4.1,2.7,6.5,3.5c2.7,1,5.5,1.5,8.3,1.5c1,0,1.9,0,2.9-0.1
                                    c1.8-0.3,3.6-0.6,5.3-1.3c0.1,0,0.1,0,0.2,0c4.6-1.7,8.4-4.7,11.2-8.6c1.3-1.8,2.5-3.8,3.1-6c1.1-2.6,1.5-5.4,1.6-8.2
                                    c0-2.7,0-5.4,0-8c0-2.7,0-5.4,0-8.2c0-2.7,0-5.4,0-8.2c0-2.1,0-4.2,0-6.2c0-0.4-0.1-0.5-0.5-0.6c-2.2-0.4-4.4-0.9-6.6-1.3
                                    c-2.8-0.5-4.7-1.9-5.4-4.7c-0.3-1.1-0.1-2.2,0.1-3.3c0.1-0.2,0.1-0.4,0.2-0.6c0.2-1,0.4-2.1,0.6-3.1c0.5-2,1.9-3.2,3.7-4.1
                                    c2.3-0.8,4.6,0.1,6.9,0.5c0.3,0,0.6,0.1,0.9,0.1c2.8,0.7,5.6,1.2,8.4,1.7c0.9,0.2,1.9,0.4,2.8,0.6c2.6,0.5,4.3,2,5.1,4.5
                                    c0,0.2,0.1,0.3,0.1,0.5c0,2.7,0,5.3,0.1,8c-0.1,2.7-0.1,5.5,0,8.2c-0.1,2.7-0.1,5.4,0,8.2c-0.1,2.7-0.1,5.4,0,8
                                    c-0.1,2.7-0.1,5.4,0,8.1c0,0.2-0.1,0.3-0.1,0.5c0,3.4-0.5,6.8-1.4,10.1c-0.5,2-1.3,3.8-2,5.7c-0.1,0.3-0.3,0.5-0.4,0.8
                                    c-2.1,4.5-4.9,8.5-8.5,12c-1.3,1.2-2.6,2.3-4,3.5c-0.1,0-0.1,0.1-0.2,0.1c-2.5,1.8-5.2,3.3-8,4.7c-2.4,0.9-4.7,1.8-7.2,2.3
                                    c-0.7,0.1-0.9,0.4-0.7,1.1c0,0.3,0.1,0.7,0.1,1c0.4,2.5,0.9,4.9,2.1,7.1c0,0.1,0.1,0.2,0.1,0.3c1,2.1,2.2,4,3.7,5.7
                                    c0.6,0.7,1.1,1.5,2,2c0,0,0,0,0,0c1.5,1.7,3.4,2.9,5.3,4.1c0.9,0.6,1.8,1.1,2.9,1.4c2.6,1.3,5.3,1.9,8.2,2.3c2,0.3,3.9,0.4,5.9,0.3
                                    c0.7,0,1.4,0,2.1-0.3c2.9-0.3,5.5-1.1,8.2-2.2c2-0.9,4-1.9,5.7-3.3c0.9-0.7,1.9-1.3,2.5-2.3l0,0c0.2,0,0.3-0.2,0.5-0.3
                                    c2.2-2.3,4.1-4.8,5.4-7.7c0.1-0.2,0.2-0.4,0.3-0.6c1-2.4,1.7-4.9,1.8-7.5c0.3-2.7,0.1-5.4,0.1-8.2c0-2.7,0-5.4,0-8.2
                                    c0-2.7,0-5.4,0-8c0-2,0-3.9,0-5.9c0-0.3-0.1-0.5-0.3-0.6c-0.8-0.5-1.6-1.1-2.3-1.7c-0.2-0.4-0.6-0.5-0.9-0.9
                                    c-3.5-3.9-5-8.4-4.5-13.6c0-0.7,0.2-1.3,0.3-1.9c0.9-3.1,2.6-5.7,4.9-8c0.9-0.7,1.9-1.4,2.8-2.1c2.5-1.3,5.2-1.9,8-2
                                    c2.8,0,5.5,0.7,8,2c1,0.7,2.1,1.4,3,2.2c1.5,1.5,2.8,3.1,3.7,5.1c0.9,1.9,1.4,3.8,1.5,5.9c0.3,5.1-1.4,9.3-5,12.8
                                    c-0.1,0.1-0.1,0.2-0.2,0.2c-0.8,0.7-1.5,1.3-2.4,1.8c-0.3,0.2-0.4,0.4-0.4,0.7c0,1.9,0,3.9,0,5.8c0,2.7,0,5.4,0,8.2c0,2.7,0,5.3,0,8
                                    c0,2.7,0,5.4,0,8.2c-0.1,0.3-0.2,0.7-0.1,1.1c-0.2,2.4-0.6,4.8-1.2,7.1c-0.7,2.8-1.8,5.4-3,8c-1.2,2.2-2.5,4.3-3.9,6.4
                                    c-0.5,0.6-1,1.1-1.4,1.8c-0.5,0.5-1,1.1-1.5,1.6c-1.6,1.7-3.4,3.3-5.2,4.9c-0.8,0.5-1.5,1-2.2,1.7c-1.9,1.2-3.9,2.4-5.9,3.4
                                    c-0.4,0.2-0.8,0.4-1.3,0.6c-2.2,1-4.6,1.7-6.9,2.5c-1.9,0.4-3.7,0.9-5.6,1.1c-3.4,0.5-6.8,0.5-10.3,0.3c-2.9-0.2-5.7-0.8-8.4-1.4
                                    c-1.1-0.3-2.1-0.7-3.2-1c-1.7-0.6-3.3-1.3-5-2c-2-1-4-2.2-5.9-3.4c-0.7-0.5-1.4-1.1-2.1-1.6c-5-4.1-9.1-8.9-12-14.7
                                    c-1.2-2.6-2.3-5.2-3-8c-0.6-2.4-1-4.8-1.2-7.3c0-0.3,0-0.6,0-0.9c0.1-0.7-0.3-1-1-1c-0.1,0-0.2-0.1-0.4-0.1
                                    c-2.4-0.5-4.7-1.4-6.9-2.3c-1.3-0.7-2.7-1.3-4-2.1c-1.4-0.8-2.7-1.8-4-2.6c0,0-0.1-0.1-0.1-0.1c-1.3-1.1-2.5-2.1-3.7-3.2
                                    c-1.6-1.5-2.9-3.1-4.3-4.8c0,0-0.1-0.1-0.1-0.1c-1.8-2.5-3.3-5.2-4.6-8c-0.8-2-1.5-4-2.1-6.1c-0.9-3.4-1.2-6.8-1.3-10.2
                                    c0-2.7,0-5.3,0-8c0-2.7,0-5.4,0-8.2c0-2.7,0-5.4,0-8.2c0-2.7,0-5.4,0-8.2c0.1-2.7-0.1-5.3,0.1-8c0-0.1,0-0.3,0-0.4
                                    c0-0.1,0.1-0.1,0.1-0.2c0.8-2.4,2.5-3.8,5-4.3C14.7,8,15.6,7.8,16.6,7.6z M122.1,45.7c-2.3,0-4,1.8-4,4.2c0,2.2,1.8,3.9,4,3.9
                                    c1.9,0.2,4.1-1.6,4.1-3.9C126.2,47.3,124.3,45.5,122.1,45.7z"/>
                                </svg>
                            </div>
                            <div class="menu-title">
                                <h3>
                                    Médico
                                </h3>
                            </div>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{% url 'client.contact_form' %}">
                            <div class="icon">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <div class="menu-title">
                                <h3>
                                    Casa
                                </h3>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'client.contact_form' %}">
                            <div class="icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
                                <path d="M121.9,80c0,2.7,0,5.5,0,8.2c-0.1,2.7-0.1,5.5,0,8.2c0,2.7,0,5.5,0,8.2c-0.1,2.7-0.1,5.4,0,8c0,2.7,0,5.5,0,8.2
                                    c0,2.6,0,5.2,0,7.7c0,0.5,0.3,0.4,0.6,0.4c1.5,0,3,0,4.5,0c1.8,0,3.1,1.3,3.1,3.1c0,1.6,0,3.3,0,4.9c-2.9,0-5.8,0-8.6,0
                                    c-34.8,0-69.7,0-104.5,0c-0.7,0-1-0.1-0.9-0.9c0.1-1.7-0.1-3.4,0.1-5.1c0.4-1,1.1-1.6,2-2c1.8-0.1,3.6,0,5.4-0.1
                                    c0.4,0,0.6,0,0.6-0.5c0-2.6,0-5.1,0-7.7c0.1-2.7,0.1-5.5,0-8.2c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.4,0-8c0.1-2.7,0.1-5.5,0-8.2
                                    c0.1-2.7,0.1-5.4,0-8c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.5,0-8.2c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.4,0-8c0-2.7,0-5.5,0-8.2
                                    c0.1-2.7,0.1-5.5,0-8.2c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.4,0-8c0.1-1.3-0.1-2.6,0.2-3.9c0.1-0.2,0.2-0.3,0.3-0.5
                                    c0.7-1.7,2-2.9,3.8-3.5C28.5,7,28.8,6.9,29,6.8c14.1,0,28.2,0,42.3,0c14.7,0,29.3,0,44,0c3.1,0,5.7,1.7,6.5,4.6
                                    c0.3,1.2,0,2.4,0.2,3.6c0,2.7,0,5.4,0,8c-0.1,2.7-0.1,5.5,0,8.2c0,2.7,0,5.5,0,8.2c-0.1,2.7-0.1,5.4,0,8c0,2.7,0,5.5,0,8.2
                                    c-0.1,2.7-0.1,5.5,0,8.2c0,2.7,0,5.5,0,8.2C121.8,74.7,121.8,77.3,121.9,80z M64.8,55.6c0-1.7,0-3.4,0-5.1c0-1.6-1.3-2.9-2.9-2.9
                                    c-1.7,0-3.4,0-5.1,0c-1.8-0.2-3.7-0.2-5.5,0c-1.7,0.2-2.7,1.4-2.7,3.1c0,1.7,0,3.3,0,5c0,1.8,0,3.5,0,5.3c0,1.6,1.3,2.9,2.9,2.9
                                    c1.8,0,3.5,0,5.3,0c1.7,0,3.4,0,5.1,0c1.6,0,2.9-1.3,2.9-2.8C64.8,59.2,64.8,57.4,64.8,55.6z M73,104.6c-1.8,0-3.5,0-5.3,0
                                    c-1.4,0-2.6,1-2.8,2.4c-0.3,1.9-0.1,3.8-0.1,5.6c-0.1,2.7-0.1,5.5,0,8.2c0,2.6,0,5.1,0,7.7c0,0.4,0.1,0.5,0.5,0.5c2.6,0,5.1,0,7.7,0
                                    c2.6,0,5.2,0,7.7,0c0.3,0,0.4-0.1,0.4-0.4c0-2.6,0-5.2,0-7.7c0.1-2.7,0.1-5.5,0-8.2c0-1.7,0.1-3.5,0-5.2c0-1.4-1.1-2.7-2.4-2.8
                                    C76.8,104.4,74.9,104.4,73,104.6z M89.2,39.3c1.8,0,3.7,0,5.5,0c1.5-0.1,2.7-1.3,2.7-2.8c0-1.8,0-3.5,0-5.3c0-1.7,0.1-3.3,0-5
                                    c0-1.7-1.4-3.1-3-3.2c-1.7-0.1-3.5,0-5.2,0c-1.6,0-3.2-0.1-4.8,0c-1.9,0.1-3.2,1.2-3.2,2.8c0,1.8,0,3.6,0,5.3c0,1.7,0,3.5,0,5.2
                                    c0,1.5,1.2,2.9,2.8,2.9C85.7,39.4,87.4,39.3,89.2,39.3z M64.8,31.2c0-1.7,0-3.3,0-5c0-1.8-1.2-3.1-2.9-3.2c-1.7-0.1-3.4,0-5.1,0
                                    c-1.7,0-3.3-0.1-5,0c-2.2,0.1-3.2,1.3-3.2,3.5c0,1.6,0,3.1,0,4.7c0,1.8,0,3.5,0,5.3c0,1.5,1.3,2.8,2.8,2.9c1.8,0.1,3.6,0,5.4,0
                                    c1.7,0,3.4,0.1,5.1,0c1.6-0.1,2.9-1.3,2.9-2.8C64.8,34.7,64.8,33,64.8,31.2z M56.7,72c-1.8,0-3.6,0-5.4,0c-1.5,0-2.7,1.3-2.8,2.8
                                    c0,1.8,0,3.6,0,5.4c0,1.8,0,3.5,0,5.3c0,1.5,1.3,2.7,2.8,2.8c1.8,0,3.6,0,5.4,0c1.8,0,3.5,0,5.3,0c1.5,0,2.8-1.3,2.8-2.8
                                    c0-1.8,0-3.6,0-5.4c0-1.8,0.1-3.5,0-5.3c0-1.5-1.3-2.7-2.8-2.8C60.3,71.9,58.5,72,56.7,72z M89.2,72c-1.8,0-3.5,0-5.3,0
                                    c-1.5,0-2.7,1.3-2.8,2.8c0,1.8,0,3.6,0,5.4c0,1.8-0.1,3.5,0,5.3c0,1.5,1.3,2.7,2.8,2.8c1.8,0,3.5,0,5.3,0c1.8,0,3.6,0,5.4,0
                                    c1.5,0,2.8-1.3,2.8-2.8c0-1.8,0-3.6,0-5.4c0-1.8,0-3.5,0-5.3c0-1.5-1.3-2.8-2.8-2.8C92.8,71.9,91,72,89.2,72z M89.2,63.8
                                    c1.8,0,3.5,0,5.3,0c1.6,0,2.9-1.3,2.9-2.9c0-1.8,0-3.5,0-5.3c0-1.7,0-3.5,0-5.2c0-1.6-1.3-2.8-2.9-2.9c-1.7,0-3.4,0-5.1,0
                                    c-1.9-0.1-3.8-0.2-5.8,0c-1.4,0.2-2.4,1.4-2.4,2.7c0,1.8,0,3.6,0,5.3c0,1.7,0,3.5,0,5.2c0,1.6,1.3,2.9,2.9,3
                                    C85.8,63.8,87.5,63.8,89.2,63.8z"/>
                                </svg>
                            </div>
                            <div class="menu-title">
                                <h3>
                                    Empresa
                                </h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </section>


    </main>

{% endblock %}
