{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros de Casa
{% endblock %}

{% block content %}
	<main id="particle-js" class="single-page">
		<section class="calculator">
			<div class="progress-bar">
				<div class="progress"></div>
				<div class="label">
					1 de 2
				</div>
			</div>
			<div class="tab">
				<h2 class="question-title">Ingrese los datos de la casa</h2>
				<form id="form-home" method="post" action="">{% csrf_token %}
					<div id="part-one" class="question">
						<div class="simple-input">
							<label>
								Tipo de Construcción:
								<select name="construction_type" required data-msg-required="Este campo es obligatorio">
									<option value="">Seleccione una opción</option>
									{% for construction_type in construction_type_list %}
										<option value="{{ construction_type.id }}">{{ construction_type }}</option>
									{% endfor %}
								</select>
							</label>
						</div>
						<div class="checkbox">
							<div class="simple-input">
								<label>Características:</label>
							</div>
							{% for feature in feature_list %}
								<label>
									<input type="checkbox" name="feature" value="{{ feature.id }}" required>
									<div class="icon"></div>
									{{ feature }}
								</label>
							{% endfor %}
						</div>
						<div class="simple-input">
							<label>
								Antigüedad de la Edificación:
								<input type="number" name="building_age" placeholder="Antigüedad" required
									   data-msg-required="Este campo es obligatorio">
							</label>
						</div>
						<div class="actions">
							<button id="next_step" type="button" class="btn">Siguiente <i class="fa fa-arrow-right"></i>
							</button>
						</div>
					</div>
					<div id="part-two" class="question">
						<div class="simple-input">
							<label>
								Medidas contra incendios:
								<select name="fire_protection" required data-msg-required="Este campo es obligatorio">
									<option value="">Seleccione una opción</option>
									<option value="True">Si</option>
									<option value="False">No</option>
								</select>
							</label>
						</div>
						<div class="simple-input">
							<label>
								¿Hay ríos cerca?:
								<select name="rivers_near" required data-msg-required="Este campo es obligatorio">
									<option value="">Seleccione una opción</option>
									<option value="True">Si</option>
									<option value="False">No</option>
								</select>
							</label>
						</div>
						<div class="simple-input">
							<label>
								Siniestros en los últimos 3 años:
								<select name="claims_last_3_years" required
										data-msg-required="Este campo es obligatorio">
									<option value="">Seleccione una opción</option>
									<option value="True">Si</option>
									<option value="False">No</option>
								</select>
							</label>
						</div>
						<div class="actions">
							<div id="prev_step" class="btn"><i class="fa fa-arrow-left"></i> Anterior</div>
							<button type="submit" class="btn">Siguiente <i class="fa fa-arrow-right"></i></button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script>
        setTimeout(function () {
            $(".progress").css('width', '50%');
        }, 1000);

        $(document).ready(function () {
            $('#part-two').hide();
        });

        $('#next_step').click(function () {
            if ($('#form-home').valid()) {
                $('#part-one').hide();
                $('#part-two').show();

                $(".progress").css('width', '100%');
            }
        });

        $('#prev_step').click(function () {
            $('#part-one').show();
            $('#part-two').hide();

            $(".progress").css('width', '50%');
        });

        particlesJS("particle-js", {
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });
	</script>

{% endblock %}
