{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
				<h2 class="question-title">Ingrese sus datos</h2>
                <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">
                                <!--<div class="simple-input">
                                    <label>
                                        Marca:
                                        <select name="vehicle_brand" id="vehicle_brand" required>
                                            <option>Seleccione una marca</option>
                                            {% for vehicle_brand in vehicle_brand_list %}
                                                <option value="{{ vehicle_brand.id }}">{{ vehicle_brand }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Modelo:
                                        <select name="vehicle_model" id="vehicle_model" required>
                                            <option>Seleccione un modelo</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="simple-input">
                                    <label>
                                        Año:
                                        <select name="vehicle_year" id="vehicle_year" required>
                                            {% for k,v in years_list.items %}
                                                <option value="{{ v }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>-->
                                <div class="simple-input">
                                    <label>
                                        Seleccione el tipo de cédula:
                                        <select name="client_id_type" id="client_id_type" required>
                                            {% for k,v in id_types.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                        Digite su numero de cédula:
                                        <input type="number" name="client_id" id="client_id" placeholder="Cédula" required>
                                    </label>
                                </div>
                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Buscar<i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>			 

			</div>

            <div class="tab" name="loader" id="loader">
                <h2 class="question-title">Estamos buscando tus datos!</h2> 
                <br>  
                <div class="loader"></div>      
                <!--<img style="display:block;margin:auto;width: 128px;height: 128px;" src="{% static "client/images/blue_loader.gif" %}" alt="loader">-->
            </div>

            {% if show_dialog == "True" %}
            <script>
                $('#loader').show();
                $('#questions').hide();
                console.log("false")
            </script>
            {% else %}
            <script type="text/javascript">
                $('#loader').hide();
                $('#questions').show();
                console.log("true")
            </script>
            {% endif %}
            
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>
	
    <script>
        
        //if (document.readyState === "complete") { print("loaded!!!") }

        $( "#loader" ).load(function() {
            print("loaded");
        });

        $("#submit").click( function()
           {
            var empty =false; 
            if($("#client_id").val()==="")
            { 
                console.log('empty');
                empty=true;
            } 
            
            if(!empty){
                $('#loader').show();
                $('#questions').hide();
            } 
           }
        );
    </script>

    <script>
        particlesJS("particle-js", {
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

        /** Fill Vehicle Model Drop Down **/
        //var vehicle_brand_selector = '#vehicle_brand';

        //var vehicle_model_selector = '#vehicle_model';

        //var vehicle_year_selector = '#vehicle_year';

        //var url_models = '{% url 'insurance.vehicle_brand.get_models' %}';

        //var url_years = '{% url 'insurance.vehicle_brand.get_years' %}';

        /*$(vehicle_brand_selector).change(function () {
            var text_loading = '<option>Cargando....</option>';

            $(vehicle_model_selector).html(text_loading);

            $.get(url_models, {vehicle_brand_id: $(this).val()}, function (data) {
                $(vehicle_model_selector).empty();

                $(vehicle_model_selector).append('<option value="">Seleccione un modelo</option>');

                $.each(data, function (i, vehicle_model) {
                    $(vehicle_model_selector).append('<option value="' + vehicle_model.id + '">' + vehicle_model.name + '</option>');
                })
            });
        });*/


	</script>

{% endblock %}