{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .hidden {
                display: none;
            }

            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
                <h2 class="question-title">Ingrese los datos del metodo de pago</h2>
                <div style="display: block;">
                    
                    <form method="POST"  action="">{% csrf_token %}
                        
                        <div class="question">

                            <div class="simple-input">

                                <table>
                                  
                                  <tr>
                                    <th>Anual</th>
                                    <th>Semestral</th>
                                    <th>Trimestral</th>
                                    <th>Mensual</th>
                                  </tr>
                                  
                                  <tr>
                                    <td>{{anual}}</td>
                                    <td>{{semestral}}</td>
                                    <td>{{trimestral}}</td>
                                    <td>{{mensual}}</td>
                                  </tr>

                                </table>

                                <br>
                                <br>

                                <label>
                                    Tipo de pago:
                                    <select name="payment_type" id="payment_type" required>
                                        {% for k,v in payment_type.items %}
                                        <option value="{{ k }}">{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="actions">
                                    <button type="submit" value="Pagar" class="btn">Confirmar<i class="fa fa-arrow-right"></i></button>
                            </div>
                            
                        </div>
                        
                    </form>

                </div>

            </div>
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>

    <script>
        particlesJS("particle-js", {
            "height":"window.outerHeight",
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });

        

	</script>

{% endblock %}