{% extends 'client/layout/base.html' %}

{% load static %}

{% block title %}
	Calculador de Seguros Vehículos
{% endblock %}

{% block content %}

	<main id="particle-js" class="single-page">
		
        <style>
            body{
                background-color: #080B4C;
            }
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #09043B;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                display:block;
                margin:auto;
            }
            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>

        <section class="calculator">

            <div class="tab" name="questions" id="questions">
				<h2 class="question-title">Formulario Conozca a su Cliente</h2>
                <div style="display: block;">
                        <form method="post" action="">{% csrf_token %}
                            <div class="question">
                                
                                <div class="simple-input">
                                    <label>
                                        Nombre del patrono o empresa:
                                        <input type="text" name="sugese_company_name" id="sugese_company_name" placeholder="Nombre de la empresa" required>
                                    </label>
                                </div>


                                {%if selected_company != 'ins' %}
                                    <div class="simple-input">
                                       <label>
                                           Actividad comercial:
                                           <select name="sugese_comertial_activity" id="sugese_comertial_activity" required>
                                                {% for k,v in business.items %}
                                                    <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>

                                    </div>
                                {%endif%}


                                <div class="simple-input">
                                    <label>
                                        Cargo:
                                        <select name="sugese_position" id="sugese_position" required>
                                           {% for option in profession_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>

                                         
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Teléfono trabajo:
                                        <input type="text" name="sugese_work_phone" id="sugese_work_phone" value="{{sugese.work_phone}}" placeholder="22334455" required>
                                    </label>
                                </div>
            
                                <div class="simple-input">
                                    <label>
                                       Ingreso mensual:
                                        <input type="text" name="sugese_income" id="sugese_income" value="{{sugese.income}}" placeholder="₡100,000" required>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Origen de los fondos para el pago de la póliza:
                                        <!--<input type="text" name="sugese_funds_source" id="sugese_funds_source" placeholder=""  value="{{sugese.income_source}}" required>-->
                                        <select name="sugese_funds_source" id="sugese_funds_source" required>
                                            {% for k,v in origin.items %}
                                                <option value="{{ v }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>


                                <div class="simple-input">
                                    <label>
                                       Maneja fondos para terceros (o, caso de persona jurídica, algún miembro de la sociedad maneja fondos para terceros):
                                        
                                         <select name="sugese_thirdparty_funds" id="sugese_thirdparty_funds" required>
                                            <!--<option value="">Seleccione una opción</option>-->
                                            {% for option in no_yes_answer_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <div class="simple-input">
                                    <label>
                                       Es usted una persona políticamente expuesta:
                                         <select name="sugese_politically_exposed " id="sugese_politically_exposed" required>
                                            <!--<option value="">Seleccione una opción</option>-->
                                            {% for option in no_yes_answer_list %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <div class="actions">
                                    <button type="submit" name="submit" id="submit" class="btn">Confirmar<i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </form>
                    </div>			 

			</div>

            <div class="tab" name="loader" id="loader">
                <h2 class="question-title">Estamos buscando tus datos!</h2> 
                <br>  
                <div class="loader"></div>      
               
            </div>

            {% if show_dialog == "True" %}
            <script>
                $('#loader').show();
                $('#questions').hide();
                console.log("false")
            </script>
            {% else %}
            <script type="text/javascript">
                $('#loader').hide();
                $('#questions').show();
            </script>
            {% endif %}
            
		</section>
	</main>

{% endblock %}

{% block script_js %}

	<script type="text/javascript" src="{% static 'client/js/particles.min.js' %}"></script>

    <script>
        particlesJS("particle-js", {
            "height":"window.outerHeight",
            "particles": {
                "number": {
                    "value": 6,
                    "density": {"enable": true, "value_area": 800}
                },
                "color": {"value": "#000"},
                "shape": {
                    "type": "polygon",
                    "stroke": {"width": 0, "color": "#000"},
                    "polygon": {"nb_sides": 6},
                    "image": {"src": "img/github.svg", "width": 100, "height": 100}
                },
                "opacity": {
                    "value": 0.3,
                    "random": true,
                    "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                },
                "size": {
                    "value": 160,
                    "random": false,
                    "anim": {"enable": true, "speed": 10, "size_min": 40, "sync": false}
                },
                "line_linked": {"enable": false, "distance": 200, "color": "#ffffff", "opacity": 1, "width": 2},
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {"enable": false, "mode": "grab"},
                    "onclick": {"enable": false, "mode": "push"},
                    "resize": true
                },
                "modes": {
                    "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                    "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                    "repulse": {"distance": 200, "duration": 0.4},
                    "push": {"particles_nb": 4},
                    "remove": {"particles_nb": 2}
                }
            },
            "retina_detect": true
        });


        $('#sugese_income').keyup(function(event) {
            console.log('key pressed');

            if(event.which >= 37 && event.which <= 40){
                event.preventDefault();
            }
            var $this = $(this);
            var num = $this.val().replace(/,/gi, "").replace('₡','');
            var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
            
            console.log('₡'+num2);
            // the following line has been simplified. Revision history contains original.
            $this.val('₡'+num2);
        });

        

	</script>

{% endblock %}