{% extends 'client/layout/base.html' %}

{% block title %}
    Su Solicitud ha sido enviada con éxito
{% endblock %}


{% block content %}

    <main class="single-page">
        <!-- Form Group -->
        <section class="form-container">
            <div class="content-box">
                <h3 class="subtitle reveal-300">
                    Su Solicitud ha sido enviada con éxito.<br/>Lo estaremos contactando en breve.
                </h3>
                <div class="actions">
                    <a href="{% url 'client.index' %}" class="btn">Ir al Inicio <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}