{% extends 'insurance/layout/base.html' %}

{% block title %}
    Categorías de Seguros
{% endblock %}

{% block breadcrumb %}
    Categorías de Seguros
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Lista de Categorías</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Nombre</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for insurance_category in insurance_category_list %}
                            <tr>
                                <td>{{ insurance_category }}</td>
                                <td class="text-center">
                                    <a href="{% url 'insurance.insurance_category.edit' insurance_category.id %}"
                                       class="text-warning"
                                       title="Editar">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center text-danger">
                                    <h4>No hay categorías disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if company_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=2 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-lg-end">
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.insurance_category.add' %}" class="text-success">
                                <i class="far fa-file"></i> Nueva Categoría
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}