{% extends 'insurance/layout/base.html' %}


{% block title %}
	Respuestas de Clientes
{% endblock %}

{% block breadcrumb %}
	Respuestas de Clientes
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
			<div class="card card-accent-primary">
				<div class="card-header">Respuestas de Clientes</div>
				<div class="card-body">
					<table class="table table-responsive-sm">
						<thead>
						<tr class="">
							<th class="col-lg-4">Cliente</th>
							<th class="col-lg-3 text-center">T.Seguro</th>
							<th class="col-lg-1"></th>
						</tr>
						</thead>
						<tbody>
						{% for client_response in client_response_list %}
							<tr>
								<td>{{ client_response }}</td>
								<td class="text-center">{{ client_response.get_insurance_type }}</td>
								<td class="text-center">
									<a href="{% url 'insurance.client_response.detail' client_response.id %}"
									   title="Ver Detalles" class="text-primary">
										<i class="fas fa-info-circle"></i>
									</a>
								</td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="3" class="text-center text-danger">
									<h4>No hay respuestas disponibles</h4>
								</td>
							</tr>
						{% endfor %}
						{% if client_response_list %}
							{% include 'insurance/layout/paginator.html' with colspan=3 %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}