{% extends 'insurance/layout/base.html' %}

{% block title %}
	Años
{% endblock %}

{% block breadcrumb %}
	Años
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
			<div class="card card-accent-primary">
				<div class="card-header">Años</div>
				<div class="card-body">
					<table class="table table-responsive-sm">
						<thead>
						<tr>
							<th class="col-lg-11">Año</th>
							<th class="col-lg-1"></th>
						</tr>
						</thead>
						<tbody>
						{% for vehicle_year in vehicle_year_list %}
							<tr>
								<td>{{ vehicle_year }}</td>
								<td class="text-center">
									<a href="{% url 'insurance.vehicle_year.edit' vehicle_year.id %}"
									   class="text-warning" title="Ver Detalle">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="2" class="text-center text-danger">
									<h4>No hay marcas de años disponibles</h4>
								</td>
							</tr>
						{% endfor %}
						{% if vehicle_year_list %}
							{% include 'insurance/layout/paginator.html' with colspan=2 %}
						{% endif %}
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-lg-6"></div>
						<div class="col-lg-6 text-right">
							<a href="{% url 'insurance.vehicle_year.add' %}" title="Nuevo" class="text-success"><i
									class="far fa-file"></i> Nueva</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}