{% extends 'insurance/layout/base.html' %}

{% block title %}
    Secciones
{% endblock %}

{% block breadcrumb %}
    Secciones
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Lista de Secciones</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Nombre</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for section in section_list %}
                            <tr>
                                <td>{{ section }}</td>
                                <td class="text-center"><a
                                        href="{% url 'insurance.section_home_template.edit' section.id %}"
                                        title="Editar" class="text-warning"><i class="far fa-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Lista de Secciones con Iconos</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Nombre</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for section in section_icon_list %}
                            <tr>
                                <td>{{ section }}</td>
                                <td class="text-center"><a
                                        href="{% url 'insurance.section_icon.edit' section.id %}"
                                        title="Editar" class="text-warning"><i class="far fa-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}