{% extends 'insurance/layout/base.html' %}

{% block title %}
    Ordernar Propiedades de Seguro
{% endblock %}

{% block breadcrumb %}
    Propiedades de Seguro
{% endblock %}

{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <div class="card card-accent-cyan">
                <div class="card-header">Ordernar Propiedades de Seguro</div>
                <div class="card-body">
                    <form id="sort_form" method="post" action="">{% csrf_token %}
                        <ul id="sort_list" class="list-group">
                            {% for insurance_property in insurance_property_list %}
                                <li id="{{ insurance_property.id }}" class="list-group-item">
                                    {{ insurance_property }}
                                </li>
                            {% endfor %}
                        </ul>
                        <br/>
                        <div class="form-group text-right">
                            <button id="btn_save_order" type="submit" class="btn btn-success">Ordenar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{% url 'insurance.insurance_property.list' %}"><i class="fas fa-arrow-left"></i>
                                Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_scripts %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#sort_list").sortable().disableSelection();
        });

        $("#btn_save_order").click(function (e) {
            var array_properties = [];

            var sort_form = $("#sort_form");

            $("#sort_list li").each(function () {
                array_properties.push($(this).attr('id'));
            });

            sort_form.append('<input type="hidden" id="insurance_property_ids" name="insurance_property_ids" value="' + array_properties + '">');

            sort_form.submit();

            e.preventDefault();
        });

    </script>

{% endblock %}