{% extends 'client/layout/base.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <main>
        <!-- Intro -->
        <section class="intro show-background show-content">

            <div class="overlay"></div>

            <svg id="logo_blanco" class="logo fade-in fade-white set-position" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 384.11 167.13">
                <defs>
                    <style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}.cls-3{fill:url(#linear-gradient-2);}</style>
                    <linearGradient id="linear-gradient" x1="19.12" y1="59.14" x2="95.33" y2="59.14" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#0b72ba"/>
                        <stop offset="1" stop-color="#37b775"/>
                    </linearGradient>
                    <linearGradient id="linear-gradient-2" x1="49.45" y1="61.45" x2="79.3" y2="61.45" xlink:href="#linear-gradient"/>
                </defs>
                <title>seguru_oficial_BLANCO</title>
                <path class="cls-1" d="M95.33,97.24H19.12V21H95.33ZM24.37,92H90.08V26.29H24.37Z"/>
                <polygon class="cls-2" points="361.31 97.24 195.31 97.24 195.31 91.99 356.06 91.99 356.06 26.29 322.94 26.29 322.94 21.04 361.31 21.04 361.31 97.24"/>
                <rect class="cls-2" x="102.89" y="21.04" width="187.42" height="5.25"/>
                <rect class="cls-2" x="102.89" y="91.99" width="33.54" height="5.25"/>
                <path class="cls-3" d="M53.39,43q-3.93,3.12-3.94,9a9.63,9.63,0,0,0,1.62,5.83,12.69,12.69,0,0,0,4,3.58,25.6,25.6,0,0,0,5.32,2.24q2.88.87,5.31,1.74a14.2,14.2,0,0,1,4.06,2.12,4.06,4.06,0,0,1,1.61,3.39,5.21,5.21,0,0,1-2.32,4.68q-2.32,1.55-7.44,1.54a27.24,27.24,0,0,1-3.35-.2,10.46,10.46,0,0,1-2.48-.51L55,69.68H49.45l.08,11.65,1.81.48c.53.15,1.2.31,2,.47s1.69.3,2.64.43,1.9.24,2.87.32,1.91.11,2.8.11a27,27,0,0,0,6.81-.82,16.91,16.91,0,0,0,5.59-2.52,12.65,12.65,0,0,0,3.82-4.22,11.62,11.62,0,0,0,1.42-5.82,9,9,0,0,0-1.61-5.59,13.15,13.15,0,0,0-4.06-3.51,26.3,26.3,0,0,0-5.31-2.24q-2.88-.87-5.32-1.81a15.11,15.11,0,0,1-4.06-2.25,4.35,4.35,0,0,1-1.61-3.58,4.9,4.9,0,0,1,.59-2.52,4.13,4.13,0,0,1,1.58-1.58,7.23,7.23,0,0,1,2.24-.78,14.29,14.29,0,0,1,2.68-.24,20.49,20.49,0,0,1,3.85.35,18.21,18.21,0,0,1,2.45.6L72,52.75H77.1l.23-10.63-2-.63a32.24,32.24,0,0,0-5.86-1.3c-1.92-.24-3.8-.38-5.64-.44q-6.53.16-10.47,3.27"/>
                <path class="cls-2" d="M139.62,62.43l-27.17.16q0,6.47,3.11,10.32a10.15,10.15,0,0,0,8.31,3.86,19.4,19.4,0,0,0,3.47-.32,27.94,27.94,0,0,0,3.27-.79,21.41,21.41,0,0,0,2.79-1.06,18.44,18.44,0,0,0,2.13-1.14l1.57-1,2.76,4.1a36,36,0,0,1-4.92,3.35,31.34,31.34,0,0,1-5.28,2.2,21.06,21.06,0,0,1-6.58,1q-9.28,0-14.09-5.64T104.18,62a27.41,27.41,0,0,1,1.42-9,21.28,21.28,0,0,1,4-7.05,18,18,0,0,1,13.9-6.26Q140,39.75,140,58.26Zm-26.85-5.75h18.9a13.48,13.48,0,0,0-2-7.79c-1.36-2-3.57-3-6.61-3a9.08,9.08,0,0,0-7.17,3,12.92,12.92,0,0,0-3.07,7.75"/>
                <path class="cls-2" d="M164,69.68a21.41,21.41,0,0,1-5.9-.71l-.4,7.4h12.21q7.73,0,11.73,2.92t4,8.82a11.8,11.8,0,0,1-5.2,10.11Q175.3,102,165.22,102q-18.9,0-18.9-11.41,0-5,5.27-8.43a16.35,16.35,0,0,1,3-1.42,6.37,6.37,0,0,1-3.42-1.49,3.54,3.54,0,0,1-1.3-2.68q0-2.59,3.07-7.56l1-1.65A6.34,6.34,0,0,1,152,65.9a14.86,14.86,0,0,1-2-2.36,15.33,15.33,0,0,1-2.13-8.43q0-7.48,4.69-11.42t12.64-3.94a18.17,18.17,0,0,1,7,1.11l.87.39,13.78-.32v4.34l-7.64,1.1q2.13,2.84,2.13,8,0,7.73-4.65,11.54T164,69.68M168,82.28h-8.66a9.27,9.27,0,0,0-1.54,1A11.19,11.19,0,0,0,156,84.8a6.69,6.69,0,0,0-1.81,4.56q0,3.87,3,5.28t9.18,1.42q11.81,0,11.81-7.48c0-2.42-.86-4.07-2.56-5s-4.27-1.34-7.68-1.34m-3.15-37q-9.06,0-9.06,9.45A10.22,10.22,0,0,0,158,61.61a8,8,0,0,0,6.38,2.56q4.8,0,7-2.25t2.16-7.2q0-9.47-8.66-9.45"/>
                <path class="cls-2" d="M231.36,40.54V76l6.7,1.57v4.34l-13,.39-.79-5.51a25.91,25.91,0,0,1-7.48,4.6,19.51,19.51,0,0,1-7.08,1.7q-6.3,0-9.45-3.71T197.11,69V46.84l-6.7-1.57V40.93L205,40.54V68.18c0,2.78.55,4.85,1.66,6.18a6.14,6.14,0,0,0,5,2,12.61,12.61,0,0,0,6.22-1.57,16.28,16.28,0,0,0,4.17-3.07l1.42-1.58V46.84l-6.7-1.57V40.93Z"/>
                <path class="cls-2" d="M256.17,40.54l.71,5.75q5.82-6.54,11.89-6.54a20.57,20.57,0,0,1,6.22,1l.87.23-.4,11.42h-5.12l-1.18-5.9q-6.77,0-11.42,6.14V76l7.88,2v4.33H243.17V78l6.7-2V46.84l-6.7-1.57V40.93Z"/>
                <path class="cls-2" d="M319.17,40.54V76l6.69,1.57v4.33l-13,.4-.79-5.52a25.86,25.86,0,0,1-7.48,4.61,19.55,19.55,0,0,1-7.09,1.7q-6.3,0-9.45-3.71T284.91,69V46.84l-6.69-1.57V40.93l14.57-.39V68.18c0,2.78.55,4.85,1.65,6.18a6.14,6.14,0,0,0,5,2,12.58,12.58,0,0,0,6.22-1.57,16.3,16.3,0,0,0,4.18-3.08l1.41-1.57V46.84l-6.69-1.57V40.93Zm-6.3-15.43L296.33,35.34l-2.76-3.93L308.93,19.2Z"/>
                <path class="cls-2" d="M338,83.07a4.81,4.81,0,0,1-3.66-1.46,6.44,6.44,0,0,1,.08-8.07,5,5,0,0,1,3.74-1.5,4.81,4.81,0,0,1,3.66,1.46,5.65,5.65,0,0,1,1.38,4,5.53,5.53,0,0,1-1.46,4,5,5,0,0,1-3.74,1.5"/>
                <path class="cls-2" d="M19.19,120.16v-11h1.44v9.8H26.4v1.22Z"/>
                <path class="cls-2" d="M27.67,110.47v-1.33H29v1.33Zm0,1.76H29v7.93H27.67Z"/>
                <path class="cls-2" d="M36.1,118.12h1.32v.07a1.76,1.76,0,0,1-.4,1.07,2.58,2.58,0,0,1-1.06.83,4,4,0,0,1-1.58.29,3.39,3.39,0,0,1-2.72-1.11,5.4,5.4,0,0,1,0-6.15A3.39,3.39,0,0,1,34.38,112a4,4,0,0,1,1.58.29,2.67,2.67,0,0,1,1.06.79,1.7,1.7,0,0,1,.4,1.11v.07H36.1v-.07a.92.92,0,0,0-.39-.76,2,2,0,0,0-1.25-.33,2.23,2.23,0,0,0-1.7.73,4.42,4.42,0,0,0,0,4.71,2.26,2.26,0,0,0,1.7.73A1.92,1.92,0,0,0,35.7,119a1,1,0,0,0,.4-.76Z"/>
                <path class="cls-2" d="M44.08,118.12H45.4v.07a1.8,1.8,0,0,1-.41,1.07,2.59,2.59,0,0,1-1.09.83,4,4,0,0,1-1.56.29,3.35,3.35,0,0,1-2.74-1.17,4.47,4.47,0,0,1-1-3,4.56,4.56,0,0,1,1-3,3.49,3.49,0,0,1,4.24-.81A2.76,2.76,0,0,1,45,113.62a5.16,5.16,0,0,1,.42,2.3v.44H39.94a3.21,3.21,0,0,0,.66,2.09,2.26,2.26,0,0,0,1.85.83,1.84,1.84,0,0,0,1.24-.34,1,1,0,0,0,.39-.75ZM40,115.37h4.17v-.16a2.38,2.38,0,0,0-.26-1.07,1.71,1.71,0,0,0-.72-.78,2.13,2.13,0,0,0-1.06-.25,1.9,1.9,0,0,0-1.33.59A3.05,3.05,0,0,0,40,115.37Z"/>
                <path class="cls-2" d="M48.7,120.16H47.38v-7.93H48.7v1.37a4.13,4.13,0,0,1,.81-1,3.15,3.15,0,0,1,.83-.47,2.59,2.59,0,0,1,.95-.16,2.82,2.82,0,0,1,1.34.31,2.19,2.19,0,0,1,.92.89,4.14,4.14,0,0,1,.32,1.9v5H52.55v-4.48a5.39,5.39,0,0,0-.14-1.51,1.21,1.21,0,0,0-.55-.69,1.68,1.68,0,0,0-.9-.26,2.06,2.06,0,0,0-1.1.34,2.46,2.46,0,0,0-.84,1,3.82,3.82,0,0,0-.32,1.74Z"/>
                <path class="cls-2" d="M60.87,118.12H62.2v.07a1.78,1.78,0,0,1-.41,1.07,2.58,2.58,0,0,1-1.06.83,3.89,3.89,0,0,1-1.57.29,3.41,3.41,0,0,1-2.73-1.11,5.45,5.45,0,0,1,0-6.15A3.41,3.41,0,0,1,59.16,112a3.89,3.89,0,0,1,1.57.29,2.67,2.67,0,0,1,1.06.79,1.71,1.71,0,0,1,.41,1.11v.07H60.87v-.07a.88.88,0,0,0-.38-.76,2,2,0,0,0-1.26-.33,2.2,2.2,0,0,0-1.69.73,4.36,4.36,0,0,0,0,4.71,2.24,2.24,0,0,0,1.69.73,1.9,1.9,0,0,0,1.24-.33,1,1,0,0,0,.4-.76Z"/>
                <path class="cls-2" d="M63.79,110.47v-1.33h1.32v1.33Zm0,1.76h1.32v7.93H63.79Z"/>
                <path class="cls-2" d="M72,120.16a3.9,3.9,0,0,1-.2-1.1,4.89,4.89,0,0,1-1.44,1.09,3.27,3.27,0,0,1-1.15.23,2.3,2.3,0,0,1-1.58-.58,2.19,2.19,0,0,1,.27-3.36,9.31,9.31,0,0,1,3.21-1.08l.69-.13v-.9a1.1,1.1,0,0,0-.47-1,2.11,2.11,0,0,0-1.14-.3,1.88,1.88,0,0,0-1.23.36,1.07,1.07,0,0,0-.45.85v.11H67v-.11a1.78,1.78,0,0,1,.43-1.08,2.72,2.72,0,0,1,1.16-.85,4.53,4.53,0,0,1,3.11,0,2.12,2.12,0,0,1,1,.73,3.23,3.23,0,0,1,.32,1.72v3.07c0,.34,0,.69,0,1.06a5.55,5.55,0,0,0,.25,1.3Zm-.2-4-.39.1a7.56,7.56,0,0,0-2.47.93,1.31,1.31,0,0,0-.54,1,1.1,1.1,0,0,0,.16.58,1,1,0,0,0,.47.41,1.45,1.45,0,0,0,.63.15,1.94,1.94,0,0,0,1-.32,2.21,2.21,0,0,0,.8-.86,2.65,2.65,0,0,0,.29-1.25Z"/>
                <path class="cls-2" d="M81.3,123.24H80v-11H81.3v1.38a3.72,3.72,0,0,1,.79-1,3.1,3.1,0,0,1,1.83-.6,3.05,3.05,0,0,1,1.67.49A3.16,3.16,0,0,1,86.77,114a5.5,5.5,0,0,1,.42,2.2,4.92,4.92,0,0,1-.88,3,2.86,2.86,0,0,1-2.46,1.2,3,3,0,0,1-1-.15,2.43,2.43,0,0,1-.81-.43,3.91,3.91,0,0,1-.78-1Zm0-7a3.87,3.87,0,0,0,.59,2.21,1.89,1.89,0,0,0,1.66.87,2,2,0,0,0,1.62-.77,4.56,4.56,0,0,0,0-4.76,2.09,2.09,0,0,0-1.55-.7,2,2,0,0,0-1.18.38,2.26,2.26,0,0,0-.82,1.13A4.59,4.59,0,0,0,81.3,116.2Z"/>
                <path class="cls-2" d="M92.2,120.38a3.67,3.67,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.87,3.87,0,0,1,5.3,0,5,5,0,0,1,0,6.26A3.67,3.67,0,0,1,92.2,120.38Zm0-1.1a2.09,2.09,0,0,0,1.72-.85,4.17,4.17,0,0,0,0-4.47,2.17,2.17,0,0,0-3.44,0,4.17,4.17,0,0,0,0,4.47A2.08,2.08,0,0,0,92.2,119.28Z"/>
                <path class="cls-2" d="M99,120.16H97.65v-7.93H99v1.4a3.16,3.16,0,0,1,.73-.94,3,3,0,0,1,.84-.51,2.62,2.62,0,0,1,.91-.17,2,2,0,0,1,.73.12v1.37a2.38,2.38,0,0,0-1-.23,2.18,2.18,0,0,0-1.48.66,3,3,0,0,0-.71,2.31Z"/>
                <path class="cls-2" d="M108.11,120.16v-11h6.22v1.22h-4.79v3.47h4.19v1.1h-4.19v4h5.17v1.22Z"/>
                <path class="cls-2" d="M116,118.06h1.32v0a1.07,1.07,0,0,0,.39.85,2,2,0,0,0,1.31.34,2,2,0,0,0,1.31-.4,1.16,1.16,0,0,0,.51-.94c0-.48-.33-.83-1-1l-.67-.21-.45-.14-.91-.28a2,2,0,0,1-1.55-1.91,2.2,2.2,0,0,1,.75-1.65,3.2,3.2,0,0,1,2.25-.71,2.92,2.92,0,0,1,2.09.61A1.85,1.85,0,0,1,122,114v0h-1.33v0a.69.69,0,0,0-.39-.62,2.16,2.16,0,0,0-1.06-.23,1.92,1.92,0,0,0-1.21.33,1,1,0,0,0-.42.81.74.74,0,0,0,.27.6,2.56,2.56,0,0,0,.92.42l.63.18.46.13a9.14,9.14,0,0,1,1.2.39,3.53,3.53,0,0,1,.47.29,1.54,1.54,0,0,1,.49.62,2,2,0,0,1,.16.84,2.52,2.52,0,0,1-.8,1.89,3.27,3.27,0,0,1-2.34.77,4,4,0,0,1-1.62-.29,2.59,2.59,0,0,1-1-.81,1.91,1.91,0,0,1-.39-1.19Z"/>
                <path class="cls-2" d="M123.38,118.06h1.32v0a1.07,1.07,0,0,0,.39.85,2,2,0,0,0,1.31.34,2,2,0,0,0,1.31-.4,1.16,1.16,0,0,0,.51-.94c0-.48-.33-.83-1-1l-.67-.21-.44-.14-.91-.28a2,2,0,0,1-1.56-1.91,2.2,2.2,0,0,1,.75-1.65,3.2,3.2,0,0,1,2.25-.71,2.92,2.92,0,0,1,2.09.61,1.85,1.85,0,0,1,.62,1.34v0H128v0a.69.69,0,0,0-.39-.62,2.16,2.16,0,0,0-1.06-.23,1.92,1.92,0,0,0-1.21.33,1,1,0,0,0-.42.81.74.74,0,0,0,.27.6,2.56,2.56,0,0,0,.92.42l.63.18.46.13a9.14,9.14,0,0,1,1.2.39,3.53,3.53,0,0,1,.47.29,1.54,1.54,0,0,1,.49.62,2,2,0,0,1,.16.84,2.52,2.52,0,0,1-.8,1.89,3.27,3.27,0,0,1-2.34.77,4,4,0,0,1-1.62-.29,2.59,2.59,0,0,1-1-.81,1.91,1.91,0,0,1-.39-1.19Z"/>
                <path class="cls-2" d="M136.34,118.12h1.32v.07a1.74,1.74,0,0,1-.41,1.07,2.53,2.53,0,0,1-1.09.83,4,4,0,0,1-1.55.29,3.36,3.36,0,0,1-2.75-1.17,5,5,0,0,1,.06-6,3.3,3.3,0,0,1,2.63-1.2,3.33,3.33,0,0,1,1.61.39,2.74,2.74,0,0,1,1.13,1.22,5.16,5.16,0,0,1,.42,2.3v.44H132.2a3.16,3.16,0,0,0,.67,2.09,2.24,2.24,0,0,0,1.84.83,1.84,1.84,0,0,0,1.24-.34,1,1,0,0,0,.39-.75Zm-4.06-2.75h4.17v-.16a2.38,2.38,0,0,0-.26-1.07,1.71,1.71,0,0,0-.72-.78,2.1,2.1,0,0,0-1.06-.25,1.9,1.9,0,0,0-1.33.59A3.05,3.05,0,0,0,132.28,115.37Z"/>
                <path class="cls-2" d="M141,120.16h-1.32v-7.93H141v1.37a3.91,3.91,0,0,1,.82-1,3,3,0,0,1,.82-.47,2.59,2.59,0,0,1,1-.16,2.79,2.79,0,0,1,1.34.31,2.14,2.14,0,0,1,.92.89,4.12,4.12,0,0,1,.33,1.9v5h-1.32v-4.48a5.3,5.3,0,0,0-.15-1.51,1.21,1.21,0,0,0-.55-.69,1.65,1.65,0,0,0-.89-.26,2.06,2.06,0,0,0-1.11.34,2.46,2.46,0,0,0-.84,1,3.82,3.82,0,0,0-.32,1.74Z"/>
                <path class="cls-2" d="M153,119v1.1a6.59,6.59,0,0,1-1.47.24,2.93,2.93,0,0,1-1.34-.3,2.1,2.1,0,0,1-.9-.87,4,4,0,0,1-.31-1.81v-4.07h-1.37v-1.1H149v-1.87h1.32v1.87h2.32v1.1h-2.32V117a4.4,4.4,0,0,0,.17,1.46,1.17,1.17,0,0,0,.51.6,1.86,1.86,0,0,0,.84.19A4.48,4.48,0,0,0,153,119Z"/>
                <path class="cls-2" d="M154.57,110.47v-1.33h1.32v1.33Zm0,1.76h1.32v7.93h-1.32Z"/>
                <path class="cls-2" d="M162.74,120.16a3.9,3.9,0,0,1-.2-1.1,4.77,4.77,0,0,1-1.44,1.09,3.27,3.27,0,0,1-1.15.23,2.3,2.3,0,0,1-1.58-.58,2.19,2.19,0,0,1,.27-3.36,9.31,9.31,0,0,1,3.21-1.08l.69-.13v-.9a1.1,1.1,0,0,0-.47-1,2.11,2.11,0,0,0-1.14-.3,1.88,1.88,0,0,0-1.23.36,1.07,1.07,0,0,0-.45.85v.11h-1.43v-.11a1.78,1.78,0,0,1,.43-1.08,2.72,2.72,0,0,1,1.16-.85,4.53,4.53,0,0,1,3.11,0,2.08,2.08,0,0,1,1,.73,3.23,3.23,0,0,1,.32,1.72v3.07c0,.34,0,.69,0,1.06a5.55,5.55,0,0,0,.25,1.3Zm-.2-4-.39.1a7.56,7.56,0,0,0-2.47.93,1.31,1.31,0,0,0-.54,1,1.1,1.1,0,0,0,.16.58,1,1,0,0,0,.47.41,1.45,1.45,0,0,0,.63.15,1.94,1.94,0,0,0,1-.32,2.21,2.21,0,0,0,.8-.86,2.65,2.65,0,0,0,.29-1.25Z"/>
                <path class="cls-2" d="M167.34,120.16H166V108.7h1.32Z"/>
                <path class="cls-2" d="M180.84,117.79h1.32v.07a2.38,2.38,0,0,1-.45,1.33,2.62,2.62,0,0,1-1.23,1,4.76,4.76,0,0,1-1.81.31,4.47,4.47,0,0,1-3.44-1.46,7.84,7.84,0,0,1,0-8.74,4.42,4.42,0,0,1,3.45-1.47,4.71,4.71,0,0,1,1.8.31,2.64,2.64,0,0,1,1.23,1,2.4,2.4,0,0,1,.45,1.31v.07h-1.32v-.07a1.31,1.31,0,0,0-.25-.77,1.49,1.49,0,0,0-.73-.56,2.94,2.94,0,0,0-1.13-.19,2.76,2.76,0,0,0-2.52,1.33,7.4,7.4,0,0,0,0,6.81,2.76,2.76,0,0,0,2.51,1.33,2.33,2.33,0,0,0,1.64-.47,1.47,1.47,0,0,0,.48-1.06Z"/>
                <path class="cls-2" d="M187.11,120.38a3.67,3.67,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.87,3.87,0,0,1,5.3,0,5,5,0,0,1,0,6.26A3.67,3.67,0,0,1,187.11,120.38Zm0-1.1a2.09,2.09,0,0,0,1.72-.85,4.17,4.17,0,0,0,0-4.47,2.17,2.17,0,0,0-3.44,0,4.17,4.17,0,0,0,0,4.47A2.09,2.09,0,0,0,187.11,119.28Z"/>
                <path class="cls-2" d="M193.88,120.16h-1.32v-7.93h1.32v1.4a3.16,3.16,0,0,1,.73-.94,3,3,0,0,1,.84-.51,2.62,2.62,0,0,1,.91-.17,2,2,0,0,1,.73.12v1.37a2.38,2.38,0,0,0-1-.23,2.18,2.18,0,0,0-1.48.66,3.05,3.05,0,0,0-.71,2.31Z"/>
                <path class="cls-2" d="M199.49,120.16h-1.32v-7.93h1.32v1.4a3.33,3.33,0,0,1,.73-.94,3,3,0,0,1,.84-.51A2.67,2.67,0,0,1,202,112a1.94,1.94,0,0,1,.72.12v1.37a2.37,2.37,0,0,0-1-.23,2.16,2.16,0,0,0-1.48.66,3,3,0,0,0-.72,2.31Z"/>
                <path class="cls-2" d="M208.85,118.12h1.32v.07a1.8,1.8,0,0,1-.41,1.07,2.59,2.59,0,0,1-1.09.83,4,4,0,0,1-1.56.29,3.35,3.35,0,0,1-2.74-1.17,4.47,4.47,0,0,1-1-3,4.56,4.56,0,0,1,1-3,3.49,3.49,0,0,1,4.24-.81,2.76,2.76,0,0,1,1.14,1.22,5.16,5.16,0,0,1,.42,2.3v.44h-5.51a3.21,3.21,0,0,0,.66,2.09,2.26,2.26,0,0,0,1.85.83,1.84,1.84,0,0,0,1.24-.34,1,1,0,0,0,.39-.75Zm-4.06-2.75H209v-.16a2.38,2.38,0,0,0-.26-1.07,1.71,1.71,0,0,0-.72-.78,2.13,2.13,0,0,0-1.06-.25,1.9,1.9,0,0,0-1.33.59A3,3,0,0,0,204.79,115.37Z"/>
                <path class="cls-2" d="M217.66,108.7H219v11.46h-1.32v-1.38a3.47,3.47,0,0,1-.8,1.07,2.49,2.49,0,0,1-.87.41,4,4,0,0,1-1,.12,3,3,0,0,1-1.66-.5,3.09,3.09,0,0,1-1.18-1.47,5.5,5.5,0,0,1-.42-2.2,4.89,4.89,0,0,1,.88-3,2.87,2.87,0,0,1,2.46-1.2,3,3,0,0,1,1,.15,2.43,2.43,0,0,1,.81.43,3.79,3.79,0,0,1,.78,1Zm0,7.49a3.84,3.84,0,0,0-.59-2.21,1.89,1.89,0,0,0-1.66-.87,2,2,0,0,0-1.62.77,3.48,3.48,0,0,0-.65,2.29,3.69,3.69,0,0,0,.63,2.47,2.06,2.06,0,0,0,1.61.69,2,2,0,0,0,1.19-.38,2.27,2.27,0,0,0,.82-1.13A4.72,4.72,0,0,0,217.66,116.19Z"/>
                <path class="cls-2" d="M224.26,120.38a3.67,3.67,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.87,3.87,0,0,1,5.3,0,5,5,0,0,1,0,6.26A3.67,3.67,0,0,1,224.26,120.38Zm0-1.1a2.09,2.09,0,0,0,1.72-.85,4.17,4.17,0,0,0,0-4.47,2.17,2.17,0,0,0-3.44,0,4.17,4.17,0,0,0,0,4.47A2.09,2.09,0,0,0,224.26,119.28Z"/>
                <path class="cls-2" d="M231,120.16h-1.32v-7.93H231v1.4a3.16,3.16,0,0,1,.73-.94,3,3,0,0,1,.84-.51,2.62,2.62,0,0,1,.91-.17,2,2,0,0,1,.73.12v1.37a2.38,2.38,0,0,0-1-.23,2.18,2.18,0,0,0-1.48.66,3.05,3.05,0,0,0-.71,2.31Z"/>
                <path class="cls-2" d="M240.08,120.16a3.9,3.9,0,0,1-.2-1.1,4.77,4.77,0,0,1-1.44,1.09,3.27,3.27,0,0,1-1.15.23,2.3,2.3,0,0,1-1.58-.58,2.19,2.19,0,0,1,.27-3.36,9.31,9.31,0,0,1,3.21-1.08l.69-.13v-.9a1.1,1.1,0,0,0-.47-1,2.11,2.11,0,0,0-1.14-.3,1.88,1.88,0,0,0-1.23.36,1.07,1.07,0,0,0-.45.85v.11h-1.43v-.11a1.78,1.78,0,0,1,.43-1.08,2.72,2.72,0,0,1,1.16-.85,4.53,4.53,0,0,1,3.11,0,2.12,2.12,0,0,1,1,.73,3.23,3.23,0,0,1,.32,1.72v3.07c0,.34,0,.69,0,1.06a5.55,5.55,0,0,0,.25,1.3Zm-.2-4-.39.1a7.56,7.56,0,0,0-2.47.93,1.31,1.31,0,0,0-.54,1,1.1,1.1,0,0,0,.16.58,1,1,0,0,0,.47.41,1.45,1.45,0,0,0,.63.15,1.94,1.94,0,0,0,1-.32,2.21,2.21,0,0,0,.8-.86,2.65,2.65,0,0,0,.29-1.25Z"/>
                <path class="cls-2" d="M253.72,108.7H255v11.46h-1.32v-1.38a3.47,3.47,0,0,1-.8,1.07,2.49,2.49,0,0,1-.87.41,4,4,0,0,1-1,.12,3,3,0,0,1-1.66-.5,3.09,3.09,0,0,1-1.18-1.47,5.5,5.5,0,0,1-.43-2.2,4.9,4.9,0,0,1,.89-3,2.85,2.85,0,0,1,2.45-1.2,3,3,0,0,1,1,.15,2.43,2.43,0,0,1,.81.43,4,4,0,0,1,.78,1Zm0,7.49a3.84,3.84,0,0,0-.59-2.21,1.9,1.9,0,0,0-1.66-.87,2,2,0,0,0-1.62.77,3.48,3.48,0,0,0-.65,2.29,3.69,3.69,0,0,0,.63,2.47,2.06,2.06,0,0,0,1.61.69,2,2,0,0,0,1.19-.38,2.27,2.27,0,0,0,.82-1.13A4.72,4.72,0,0,0,253.72,116.19Z"/>
                <path class="cls-2" d="M262,118.12h1.32v.07a1.75,1.75,0,0,1-.42,1.07,2.5,2.5,0,0,1-1.08.83,4.05,4.05,0,0,1-1.56.29,3.37,3.37,0,0,1-2.75-1.17,5,5,0,0,1,.06-6,3.3,3.3,0,0,1,2.63-1.2,3.33,3.33,0,0,1,1.61.39,2.76,2.76,0,0,1,1.14,1.22,5.17,5.17,0,0,1,.41,2.3v.44h-5.51a3.16,3.16,0,0,0,.67,2.09,2.24,2.24,0,0,0,1.84.83,1.82,1.82,0,0,0,1.24-.34,1,1,0,0,0,.4-.75ZM258,115.37h4.17v-.16a2.38,2.38,0,0,0-.26-1.07,1.75,1.75,0,0,0-.71-.78,2.17,2.17,0,0,0-1.07-.25,1.86,1.86,0,0,0-1.32.59A3,3,0,0,0,258,115.37Z"/>
                <path class="cls-2" d="M269.9,117.69h1.44v.07A1.32,1.32,0,0,0,272,119a3.55,3.55,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.78,1.78,0,0,0,.64-1.44,1.45,1.45,0,0,0-.55-1.18,6.17,6.17,0,0,0-1.66-.91l-.57-.24a7.36,7.36,0,0,1-1.75-.95,3.35,3.35,0,0,1-.86-1.05,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.59,3.59,0,0,1,2.43.64A2,2,0,0,1,277,111V111h-1.44V111a.88.88,0,0,0-.21-.54,1.29,1.29,0,0,0-.65-.38,4.06,4.06,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.66,1.66,0,0,0-.27,2.06,2,2,0,0,0,.67.66,12.44,12.44,0,0,0,1.42.7l.67.29a5.05,5.05,0,0,1,2.16,1.48,2.87,2.87,0,0,1,.54,1.67,3.22,3.22,0,0,1-.44,1.6,2.89,2.89,0,0,1-1.22,1.18,4.53,4.53,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.43,2.43,0,0,1-1.26-1,2.74,2.74,0,0,1-.43-1.47Z"/>
                <path class="cls-2" d="M284.05,118.12h1.32v.07a1.75,1.75,0,0,1-.42,1.07,2.5,2.5,0,0,1-1.08.83,4,4,0,0,1-1.56.29,3.37,3.37,0,0,1-2.75-1.17,5,5,0,0,1,.06-6,3.3,3.3,0,0,1,2.63-1.2,3.33,3.33,0,0,1,1.61.39,2.76,2.76,0,0,1,1.14,1.22,5.16,5.16,0,0,1,.42,2.3v.44H279.9a3.16,3.16,0,0,0,.67,2.09,2.24,2.24,0,0,0,1.85.83,1.86,1.86,0,0,0,1.24-.34,1,1,0,0,0,.39-.75ZM280,115.37h4.16v-.16a2.25,2.25,0,0,0-.26-1.07,1.75,1.75,0,0,0-.71-.78,2.17,2.17,0,0,0-1.07-.25,1.86,1.86,0,0,0-1.32.59A2.92,2.92,0,0,0,280,115.37Z"/>
                <path class="cls-2" d="M292.81,118.48a3,3,0,0,1-1.05,1.26,2.77,2.77,0,0,1-1.54.42,2.93,2.93,0,0,1-2.34-1.11,4.46,4.46,0,0,1-.92-2.92,5.42,5.42,0,0,1,.42-2.17,3.05,3.05,0,0,1,1.16-1.47,3.13,3.13,0,0,1,1.74-.48,2.91,2.91,0,0,1,1.34.3,3.26,3.26,0,0,1,1.19,1.19v-1.27h1.32v6.48a6.66,6.66,0,0,1-.51,3.22,3.21,3.21,0,0,1-1.3,1.16,4.23,4.23,0,0,1-1.84.37,4.91,4.91,0,0,1-1.77-.29,2.73,2.73,0,0,1-1.18-.79,1.67,1.67,0,0,1-.4-1.06v-.12h1.32v.11a1,1,0,0,0,.56.85,3,3,0,0,0,1.45.31,2.82,2.82,0,0,0,1.22-.24,1.91,1.91,0,0,0,.82-.8,4.4,4.4,0,0,0,.31-2Zm0-2.52a3.14,3.14,0,0,0-.65-2.06,2,2,0,0,0-3.18,0,3.43,3.43,0,0,0-.64,2.23,4.49,4.49,0,0,0,.26,1.59,2,2,0,0,0,.8,1,2,2,0,0,0,1.16.35,1.91,1.91,0,0,0,1.63-.88A3.9,3.9,0,0,0,292.81,116Z"/>
                <path class="cls-2" d="M301.35,112.23h1.32v7.93h-1.32v-1.39a3.91,3.91,0,0,1-.82,1,2.83,2.83,0,0,1-.83.48,2.52,2.52,0,0,1-.93.17,3,3,0,0,1-1.89-.62,3.12,3.12,0,0,1-.78-2.5v-5h1.32v4.47c0,1.16.16,1.86.47,2.1a1.87,1.87,0,0,0,1.17.36,2,2,0,0,0,1.13-.34,2.46,2.46,0,0,0,.84-1,3.89,3.89,0,0,0,.32-1.73Z"/>
                <path class="cls-2" d="M306,120.16h-1.32v-7.93H306v1.4a3.33,3.33,0,0,1,.73-.94,3.2,3.2,0,0,1,.84-.51,2.67,2.67,0,0,1,.92-.17,1.94,1.94,0,0,1,.72.12v1.37a2.37,2.37,0,0,0-1-.23,2.16,2.16,0,0,0-1.48.66,3,3,0,0,0-.72,2.31Z"/>
                <path class="cls-2" d="M313.67,120.38a3.65,3.65,0,0,1-2.65-1.06,5,5,0,0,1,0-6.26,3.86,3.86,0,0,1,5.29,0,5,5,0,0,1,0,6.26A3.65,3.65,0,0,1,313.67,120.38Zm0-1.1a2.06,2.06,0,0,0,1.71-.85,4.17,4.17,0,0,0,0-4.47,2.16,2.16,0,0,0-3.43,0,4.17,4.17,0,0,0,0,4.47A2.06,2.06,0,0,0,313.67,119.28Z"/>
                <path class="cls-2" d="M318.62,118.06h1.32v0a1.07,1.07,0,0,0,.39.85,2,2,0,0,0,1.31.34,2,2,0,0,0,1.31-.4,1.15,1.15,0,0,0,.5-.94c0-.48-.32-.83-1-1l-.67-.21-.45-.14-.91-.28a2,2,0,0,1-1.56-1.91,2.21,2.21,0,0,1,.76-1.65,3.17,3.17,0,0,1,2.24-.71,2.94,2.94,0,0,1,2.1.61,1.85,1.85,0,0,1,.62,1.34v0h-1.33v0a.69.69,0,0,0-.4-.62,2.14,2.14,0,0,0-1.06-.23,1.9,1.9,0,0,0-1.2.33,1,1,0,0,0-.42.81.74.74,0,0,0,.27.6,2.58,2.58,0,0,0,.91.42l.64.18.46.13a8.29,8.29,0,0,1,1.19.39,3.07,3.07,0,0,1,.48.29,1.63,1.63,0,0,1,.49.62,2,2,0,0,1,.16.84,2.52,2.52,0,0,1-.8,1.89,3.29,3.29,0,0,1-2.35.77,4,4,0,0,1-1.61-.29,2.7,2.7,0,0,1-1-.81,2,2,0,0,1-.38-1.19Z"/>
                <path class="cls-2" d="M326.73,122.8V122a1.37,1.37,0,0,0,.52-.49,2,2,0,0,0,.28-.6,2.53,2.53,0,0,0,.09-.7h-.89v-1.88h1.88v1.17a4.67,4.67,0,0,1-.21,1.6,3,3,0,0,1-.61,1A2.94,2.94,0,0,1,326.73,122.8Z"/>
                <path class="cls-2" d="M335.5,117.69h1.43v.07a1.33,1.33,0,0,0,.65,1.27,3.5,3.5,0,0,0,1.71.36,2.28,2.28,0,0,0,1.57-.55,1.78,1.78,0,0,0,.64-1.44,1.45,1.45,0,0,0-.55-1.18,6,6,0,0,0-1.66-.91l-.57-.24a7.36,7.36,0,0,1-1.75-.95,3.35,3.35,0,0,1-.86-1.05,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.59,3.59,0,0,1,2.43.64,2,2,0,0,1,.7,1.49V111h-1.43V111a.89.89,0,0,0-.22-.54,1.25,1.25,0,0,0-.65-.38,4,4,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.64,1.64,0,0,0-.26,2.06,2.08,2.08,0,0,0,.66.66,12.44,12.44,0,0,0,1.42.7l.67.29a5.05,5.05,0,0,1,2.16,1.48,2.87,2.87,0,0,1,.54,1.67,3.12,3.12,0,0,1-.44,1.6,2.89,2.89,0,0,1-1.22,1.18,4.53,4.53,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.36,2.36,0,0,1-1.25-1,2.66,2.66,0,0,1-.43-1.47Z"/>
                <path class="cls-2" d="M346.67,120.16h-1.88v-1.88h1.88Z"/>
                <path class="cls-2" d="M349.49,120.16h-1.33l4.51-11h1.45l4.17,11h-1.55l-1.14-3h-4.87Zm1.67-4.13h4l-1.94-5.12Z"/>
                <path class="cls-2" d="M361.64,120.16h-1.87v-1.88h1.87Z"/>
                <path class="cls-2" d="M227.28,136.74h1.43v.07a1.33,1.33,0,0,0,.65,1.27,3.52,3.52,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.8,1.8,0,0,0,.63-1.44,1.47,1.47,0,0,0-.54-1.18,6.33,6.33,0,0,0-1.66-.91l-.57-.24a7.16,7.16,0,0,1-1.75-1,3.22,3.22,0,0,1-.86-1,3,3,0,0,1,.6-3.39,3.79,3.79,0,0,1,2.76-.86,3.56,3.56,0,0,1,2.42.64,1.94,1.94,0,0,1,.7,1.49v.07H233V130a.84.84,0,0,0-.22-.54,1.26,1.26,0,0,0-.64-.38,4.06,4.06,0,0,0-1-.11,2.06,2.06,0,0,0-1.57.53,1.71,1.71,0,0,0-.5,1.2,1.61,1.61,0,0,0,.24.85,2,2,0,0,0,.66.67,13.37,13.37,0,0,0,1.42.7l.68.29a5.19,5.19,0,0,1,2.16,1.48,2.84,2.84,0,0,1,.54,1.67,3.22,3.22,0,0,1-.44,1.6,3,3,0,0,1-1.22,1.18,4.56,4.56,0,0,1-2.08.4,6.34,6.34,0,0,1-2.06-.29,2.39,2.39,0,0,1-1.26-1,2.66,2.66,0,0,1-.43-1.47Z"/>
                <path class="cls-2" d="M236.19,128.19h1.44v7.09a4.79,4.79,0,0,0,.3,2.08,1.87,1.87,0,0,0,.94.8,3.44,3.44,0,0,0,1.43.28,3,3,0,0,0,1.34-.28,1.75,1.75,0,0,0,.87-.87,7,7,0,0,0,.29-2.51v-6.59h1.32v6.95a6,6,0,0,1-.44,2.71,3.32,3.32,0,0,1-1.28,1.24,4.45,4.45,0,0,1-2.11.45,6.2,6.2,0,0,1-2.16-.36,2.81,2.81,0,0,1-1.46-1.13,5.08,5.08,0,0,1-.48-2.58Z"/>
                <path class="cls-2" d="M253.92,138.7a7.73,7.73,0,0,1-3.34.84,4.86,4.86,0,0,1-2.68-.66,4.54,4.54,0,0,1-1.63-1.89,7.06,7.06,0,0,1-.61-3.16,8,8,0,0,1,.58-3.39,4.56,4.56,0,0,1,1.63-1.89,4.51,4.51,0,0,1,2.49-.68,4.91,4.91,0,0,1,1.79.31,2.84,2.84,0,0,1,1.29.95,2.07,2.07,0,0,1,.48,1.26v.07H252.6v-.07a1.09,1.09,0,0,0-.29-.72,2,2,0,0,0-.78-.51,2.86,2.86,0,0,0-1.09-.19,2.78,2.78,0,0,0-2.45,1.25,7.43,7.43,0,0,0,0,6.94,2.79,2.79,0,0,0,2.44,1.28,6.53,6.53,0,0,0,2.15-.44v-3.14h-2.48v-1.1h3.8Z"/>
                <path class="cls-2" d="M255.84,139.21v-11h6.23v1.22h-4.79v3.47h4.18V134h-4.18v4h5.17v1.22Z"/>
                <path class="cls-2" d="M263.94,136.74h1.44v.07a1.32,1.32,0,0,0,.64,1.27,3.52,3.52,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.8,1.8,0,0,0,.63-1.44,1.47,1.47,0,0,0-.54-1.18,6.17,6.17,0,0,0-1.66-.91l-.57-.24a7.16,7.16,0,0,1-1.75-1,3.22,3.22,0,0,1-.86-1,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.55,3.55,0,0,1,2.42.64A1.94,1.94,0,0,1,271,130v.07h-1.43V130a.88.88,0,0,0-.21-.54,1.29,1.29,0,0,0-.65-.38,4.06,4.06,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.68,1.68,0,0,0-.51,1.2,1.61,1.61,0,0,0,.24.85,2,2,0,0,0,.66.67,14.44,14.44,0,0,0,1.42.7l.68.29a5.05,5.05,0,0,1,2.16,1.48,2.84,2.84,0,0,1,.54,1.67A3.22,3.22,0,0,1,271,138a2.89,2.89,0,0,1-1.22,1.18,4.56,4.56,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.43,2.43,0,0,1-1.26-1,2.66,2.66,0,0,1-.43-1.47Z"/>
                <path class="cls-2" d="M273,139.21v-11h6.22v1.22h-4.79v3.47h4.19V134h-4.19v4h5.18v1.22Z"/>
                <path class="cls-2" d="M286,136.74h1.44v.07a1.32,1.32,0,0,0,.64,1.27,3.52,3.52,0,0,0,1.72.36,2.3,2.3,0,0,0,1.57-.55,1.78,1.78,0,0,0,.64-1.44,1.45,1.45,0,0,0-.55-1.18,6.17,6.17,0,0,0-1.66-.91l-.57-.24a7.36,7.36,0,0,1-1.75-1,3.35,3.35,0,0,1-.86-1,3,3,0,0,1,.6-3.39,3.81,3.81,0,0,1,2.76-.86,3.55,3.55,0,0,1,2.42.64,2,2,0,0,1,.71,1.49v.07h-1.44V130a.88.88,0,0,0-.21-.54,1.29,1.29,0,0,0-.65-.38,4.06,4.06,0,0,0-.95-.11,2,2,0,0,0-1.56.53,1.68,1.68,0,0,0-.51,1.2,1.61,1.61,0,0,0,.24.85,2,2,0,0,0,.67.67,12.44,12.44,0,0,0,1.42.7l.67.29a5.05,5.05,0,0,1,2.16,1.48,2.84,2.84,0,0,1,.54,1.67A3.22,3.22,0,0,1,293,138a2.89,2.89,0,0,1-1.22,1.18,4.53,4.53,0,0,1-2.08.4,6.38,6.38,0,0,1-2.06-.29,2.43,2.43,0,0,1-1.26-1,2.74,2.74,0,0,1-.43-1.47Z"/>
                <path class="cls-2" d="M301.6,136.84h1.32v.07a2.38,2.38,0,0,1-.45,1.33,2.67,2.67,0,0,1-1.23,1,4.78,4.78,0,0,1-1.82.31,4.44,4.44,0,0,1-3.43-1.46,6.29,6.29,0,0,1-1.33-4.38,6.36,6.36,0,0,1,1.32-4.37,4.47,4.47,0,0,1,3.45-1.46,4.76,4.76,0,0,1,1.81.31,2.69,2.69,0,0,1,1.23,1,2.38,2.38,0,0,1,.45,1.31v.07H301.6v-.07a1.32,1.32,0,0,0-.26-.77,1.46,1.46,0,0,0-.72-.56,3,3,0,0,0-1.13-.19A2.76,2.76,0,0,0,297,130.3a7.4,7.4,0,0,0,0,6.81,2.75,2.75,0,0,0,2.51,1.33,2.3,2.3,0,0,0,1.63-.47,1.44,1.44,0,0,0,.49-1.06Z"/>
                <path class="cls-2" d="M304,135.3v-1.1h4.4v1.1Z"/>
                <path class="cls-2" d="M313.35,139.21v-9.65l-2.23.88v-1.22l2.23-1h1.32v11Z"/>
                <path class="cls-2" d="M326,139.21h-1.32v-3.36h-5.29v-1.1l5.29-6.56H326v6.56h1.54v1.1H326Zm-1.32-4.46v-4.83l-3.84,4.83Z"/>
                <path class="cls-2" d="M328.9,135.3v-1.1h4.4v1.1Z"/>
                <path class="cls-2" d="M338.23,139.21v-9.65l-2.23.88v-1.22l2.23-1h1.32v11Z"/>
                <path class="cls-2" d="M344.8,139.21v-1.15a4.2,4.2,0,0,1,.55-1.94,6.61,6.61,0,0,1,1.86-2.07l.75-.57a10.53,10.53,0,0,0,1.89-1.72,2,2,0,0,0,.4-1.18,1.49,1.49,0,0,0-.53-1.12,2.19,2.19,0,0,0-1.54-.49,2.08,2.08,0,0,0-1.34.35,1,1,0,0,0-.44.79v.07h-1.32v-.07a1.8,1.8,0,0,1,.39-1.1,2.77,2.77,0,0,1,1.06-.83,4,4,0,0,1,1.7-.31,3.68,3.68,0,0,1,2.66.79,2.58,2.58,0,0,1,.79,1.9,3.15,3.15,0,0,1-.24,1.18,3.75,3.75,0,0,1-1,1.25c-.49.43-.89.75-1.19,1l-.54.37c-1.7,1.16-2.54,2.29-2.54,3.39V138h5.72v1.22Z"/>
                <path class="cls-2" d="M358.06,139.54a3.4,3.4,0,0,1-2.9-1.57,8.75,8.75,0,0,1,0-8.53,3.48,3.48,0,0,1,5.82,0,8.75,8.75,0,0,1,0,8.53A3.41,3.41,0,0,1,358.06,139.54Zm0-1.1a2.11,2.11,0,0,0,2-1.44,9.07,9.07,0,0,0,0-6.59,2.14,2.14,0,0,0-4,0,8.93,8.93,0,0,0,0,6.59A2.1,2.1,0,0,0,358.06,138.44Z"/>
            </svg>

            <div class="content-box">

                <h1 class="title title-big">
                    Cotice Seguros
                </h1>
                <br/>
                <h2 class="subtitle">
                    Rápido, Fácil <span>e Inteligente.</span>
                </h2>
                <div class="form-group" style="max-width:400px;">
                    <!-- <p>Cotizar ahora:</p> -->
                    <a href="/pages/vida/{{ section_life.button_url }}" class="btn btn-secondary">
                        <i class="fa fa-heart"></i>
                        <p>Vida</p>
                    </a>
                    <a href="/pages/gastos-medicos/{{ section_medical.button_url }}" class="btn btn-secondary">
                        <i class="fa fa-stethoscope"></i>
                        <p>Médico</p>
                    </a>
                    <br>
                    <!--<a href="{% url 'client.calculator.vehicle' %}" class="btn btn-secondary">-->
                    <a href="{% url 'client.contact_form' %}" class="btn btn-secondary">
                        <i class="fa fa-building"></i>
                        <p>Empresa</p>
                    </a>
                    <a href="{% url 'client.contact_form' %}" class="btn btn-secondary">
                        <i class="fa fa-home"></i>
                        <p>Casa</p>
                    </a>
                    <a href="{% url 'client.contact_form' %}" class="btn btn-secondary">
                        <i class="fa fa-car"></i>
                        <p>Vehículo</p>
                    </a>
                </div>

                <div class="action-container">
                    <a href="{% url 'client.contact_form' %}" class="btn btn-white">Ver Más</a>
                    <a href="{% url 'client.contact_form' %}" class="btn btn-ghost-white">Contáctenme <i class="fa fa-arrow-right"></i></a>
                </div>

            </div>

            <svg class="background-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path d="M0 0h24v24H0V0z" id="a"/>
                </defs>
                <clipPath id="b">
                    <use overflow="visible" xlink:href="#a"/>
                </clipPath>
                <path clip-path="url(#b)"
                      d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6C7.8 12.16 7 10.63 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"/>
            </svg>

        </section>
        <!-- / Intro -->


        <!-- CTA -->
        <section class="cta cta-gradient" style="background-image: url({{ section_four.background_image.url }});">

            <div class="content-box">

                <h2 class="title reveal">
                    compare
                </h2>
                <h3 class="subtitle reveal-300">
                    cotice y ahorre comparando 
                </h3>
                <p class="reveal-500">
                    {{ section_four.summary }}
                </p>

                <div class="action-container reveal-500">
                    <a href="{% url 'client.calculator.index' %}"
                       class="btn btn-white">ver más</a>
                    <a href="{% url 'client.contact_form' %}"
                       class="btn btn-secondary">contacto<i
                            class="fa fa-arrow-right"></i></a>
                </div>
            </div>

            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.81 4.47c-.08 0-.16-.02-.23-.06C15.66 3.42 14 3 12.01 3c-1.98 0-3.86.47-5.57 1.41-.24.13-.54.04-.68-.2-.13-.24-.04-.55.2-.68C7.82 2.52 9.86 2 12.01 2c2.13 0 3.99.47 6.03 1.52.25.13.34.43.21.67-.09.18-.26.28-.44.28zM3.5 9.72c-.1 0-.2-.03-.29-.09-.23-.16-.28-.47-.12-.7.99-1.4 2.25-2.5 3.75-3.27C9.98 4.04 14 4.03 17.15 5.65c1.5.77 2.76 1.86 3.75 3.25.16.22.11.54-.12.7-.23.16-.54.11-.7-.12-.9-1.26-2.04-2.25-3.39-2.94-2.87-1.47-6.54-1.47-9.4.01-1.36.7-2.5 1.7-3.4 2.96-.08.14-.23.21-.39.21zm6.25 12.07c-.13 0-.26-.05-.35-.15-.87-.87-1.34-1.43-2.01-2.64-.69-1.23-1.05-2.73-1.05-4.34 0-2.97 2.54-5.39 5.66-5.39s5.66 2.42 5.66 5.39c0 .28-.22.5-.5.5s-.5-.22-.5-.5c0-2.42-2.09-4.39-4.66-4.39-2.57 0-4.66 1.97-4.66 4.39 0 1.44.32 2.77.93 3.85.64 1.15 1.08 1.64 1.85 2.42.19.2.19.51 0 .71-.11.1-.24.15-.37.15zm7.17-1.85c-1.19 0-2.24-.3-3.1-.89-1.49-1.01-2.38-2.65-2.38-4.39 0-.28.22-.5.5-.5s.5.22.5.5c0 1.41.72 2.74 1.94 3.56.71.48 1.54.71 2.54.71.24 0 .64-.03 1.04-.1.27-.05.53.13.58.41.05.27-.13.53-.41.58-.57.11-1.07.12-1.21.12zM14.91 22c-.04 0-.09-.01-.13-.02-1.59-.44-2.63-1.03-3.72-2.1-1.4-1.39-2.17-3.24-2.17-5.22 0-1.62 1.38-2.94 3.08-2.94 1.7 0 3.08 1.32 3.08 2.94 0 1.07.93 1.94 2.08 1.94s2.08-.87 2.08-1.94c0-3.77-3.25-6.83-7.25-6.83-2.84 0-5.44 1.58-6.61 4.03-.39.81-.59 1.76-.59 2.8 0 .78.07 2.01.67 3.61.1.26-.03.55-.29.64-.26.1-.55-.04-.64-.29-.49-1.31-.73-2.61-.73-3.96 0-1.2.23-2.29.68-3.24 1.33-2.79 4.28-4.6 7.51-4.6 4.55 0 8.25 3.51 8.25 7.83 0 1.62-1.38 2.94-3.08 2.94s-3.08-1.32-3.08-2.94c0-1.07-.93-1.94-2.08-1.94s-2.08.87-2.08 1.94c0 1.71.66 3.31 1.87 4.51.95.94 1.86 1.46 3.27 1.85.27.07.42.35.35.61-.05.23-.26.38-.47.38z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>

        </section>
        <!-- / CTA -->

        <!-- Icon List -->
        <section class="icon-list">

            <div class="content-box flex-cols cols-4">

                <div class="col">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                    </svg>
                    <div class="reveal">
                        <h3>vida</h3>
                        <h4>Seguro de Vida</h4>
                        <p>Descubra que puede hacer este tipo de seguro por usted y su familia.</p>
                        <!-- <h4>{{ section_life.subtitle }}</h4>
                        <p>{{ section_life.summary }}</p> -->
                    </div>
                    <a href="/pages/vida/{{ section_life.button_url }}" class="btn reveal-300">ver más</a>
                </div>

                <div class="col">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
                    <path d="M16.6,7.6C19.3,7.1,22,6.6,24.7,6c1.5-0.2,2.9-0.5,4.3-0.9C30,5,30.9,5,31.9,5.1c0.3,0.2,0.6,0.3,0.9,0.3
                        c2.6,1.1,3.6,3.3,4,5.9c0.1,0.6,0.2,1.2,0.3,1.8c0,0.1,0,0.1,0,0.2c1,3.7-1.4,7-4.8,7.7c-2.2,0.4-4.5,0.9-6.7,1.3
                        c-0.8,0.1-1.1,0.4-1,1.2c0.1,1.6,0,3.2,0,4.7c0,0.3-0.1,0.7,0.1,1c0,2.7,0,5.4,0,8.2c-0.1,0.1-0.1,0.3-0.1,0.5c0,2.3,0,4.7,0,7
                        c0,0.2,0,0.3,0.1,0.5c0,2.7,0,5.4,0,8.2c-0.3,0.7,0,1.3,0,1.9c0.1,2.1,0.6,4.2,1.3,6.2c1,3.1,2.7,5.8,4.9,8.2
                        c0.5,0.7,1.1,1.3,1.8,1.8c0.4,0.5,1,0.9,1.5,1.3c2,1.5,4.1,2.7,6.5,3.5c2.7,1,5.5,1.5,8.3,1.5c1,0,1.9,0,2.9-0.1
                        c1.8-0.3,3.6-0.6,5.3-1.3c0.1,0,0.1,0,0.2,0c4.6-1.7,8.4-4.7,11.2-8.6c1.3-1.8,2.5-3.8,3.1-6c1.1-2.6,1.5-5.4,1.6-8.2
                        c0-2.7,0-5.4,0-8c0-2.7,0-5.4,0-8.2c0-2.7,0-5.4,0-8.2c0-2.1,0-4.2,0-6.2c0-0.4-0.1-0.5-0.5-0.6c-2.2-0.4-4.4-0.9-6.6-1.3
                        c-2.8-0.5-4.7-1.9-5.4-4.7c-0.3-1.1-0.1-2.2,0.1-3.3c0.1-0.2,0.1-0.4,0.2-0.6c0.2-1,0.4-2.1,0.6-3.1c0.5-2,1.9-3.2,3.7-4.1
                        c2.3-0.8,4.6,0.1,6.9,0.5c0.3,0,0.6,0.1,0.9,0.1c2.8,0.7,5.6,1.2,8.4,1.7c0.9,0.2,1.9,0.4,2.8,0.6c2.6,0.5,4.3,2,5.1,4.5
                        c0,0.2,0.1,0.3,0.1,0.5c0,2.7,0,5.3,0.1,8c-0.1,2.7-0.1,5.5,0,8.2c-0.1,2.7-0.1,5.4,0,8.2c-0.1,2.7-0.1,5.4,0,8
                        c-0.1,2.7-0.1,5.4,0,8.1c0,0.2-0.1,0.3-0.1,0.5c0,3.4-0.5,6.8-1.4,10.1c-0.5,2-1.3,3.8-2,5.7c-0.1,0.3-0.3,0.5-0.4,0.8
                        c-2.1,4.5-4.9,8.5-8.5,12c-1.3,1.2-2.6,2.3-4,3.5c-0.1,0-0.1,0.1-0.2,0.1c-2.5,1.8-5.2,3.3-8,4.7c-2.4,0.9-4.7,1.8-7.2,2.3
                        c-0.7,0.1-0.9,0.4-0.7,1.1c0,0.3,0.1,0.7,0.1,1c0.4,2.5,0.9,4.9,2.1,7.1c0,0.1,0.1,0.2,0.1,0.3c1,2.1,2.2,4,3.7,5.7
                        c0.6,0.7,1.1,1.5,2,2c0,0,0,0,0,0c1.5,1.7,3.4,2.9,5.3,4.1c0.9,0.6,1.8,1.1,2.9,1.4c2.6,1.3,5.3,1.9,8.2,2.3c2,0.3,3.9,0.4,5.9,0.3
                        c0.7,0,1.4,0,2.1-0.3c2.9-0.3,5.5-1.1,8.2-2.2c2-0.9,4-1.9,5.7-3.3c0.9-0.7,1.9-1.3,2.5-2.3l0,0c0.2,0,0.3-0.2,0.5-0.3
                        c2.2-2.3,4.1-4.8,5.4-7.7c0.1-0.2,0.2-0.4,0.3-0.6c1-2.4,1.7-4.9,1.8-7.5c0.3-2.7,0.1-5.4,0.1-8.2c0-2.7,0-5.4,0-8.2
                        c0-2.7,0-5.4,0-8c0-2,0-3.9,0-5.9c0-0.3-0.1-0.5-0.3-0.6c-0.8-0.5-1.6-1.1-2.3-1.7c-0.2-0.4-0.6-0.5-0.9-0.9
                        c-3.5-3.9-5-8.4-4.5-13.6c0-0.7,0.2-1.3,0.3-1.9c0.9-3.1,2.6-5.7,4.9-8c0.9-0.7,1.9-1.4,2.8-2.1c2.5-1.3,5.2-1.9,8-2
                        c2.8,0,5.5,0.7,8,2c1,0.7,2.1,1.4,3,2.2c1.5,1.5,2.8,3.1,3.7,5.1c0.9,1.9,1.4,3.8,1.5,5.9c0.3,5.1-1.4,9.3-5,12.8
                        c-0.1,0.1-0.1,0.2-0.2,0.2c-0.8,0.7-1.5,1.3-2.4,1.8c-0.3,0.2-0.4,0.4-0.4,0.7c0,1.9,0,3.9,0,5.8c0,2.7,0,5.4,0,8.2c0,2.7,0,5.3,0,8
                        c0,2.7,0,5.4,0,8.2c-0.1,0.3-0.2,0.7-0.1,1.1c-0.2,2.4-0.6,4.8-1.2,7.1c-0.7,2.8-1.8,5.4-3,8c-1.2,2.2-2.5,4.3-3.9,6.4
                        c-0.5,0.6-1,1.1-1.4,1.8c-0.5,0.5-1,1.1-1.5,1.6c-1.6,1.7-3.4,3.3-5.2,4.9c-0.8,0.5-1.5,1-2.2,1.7c-1.9,1.2-3.9,2.4-5.9,3.4
                        c-0.4,0.2-0.8,0.4-1.3,0.6c-2.2,1-4.6,1.7-6.9,2.5c-1.9,0.4-3.7,0.9-5.6,1.1c-3.4,0.5-6.8,0.5-10.3,0.3c-2.9-0.2-5.7-0.8-8.4-1.4
                        c-1.1-0.3-2.1-0.7-3.2-1c-1.7-0.6-3.3-1.3-5-2c-2-1-4-2.2-5.9-3.4c-0.7-0.5-1.4-1.1-2.1-1.6c-5-4.1-9.1-8.9-12-14.7
                        c-1.2-2.6-2.3-5.2-3-8c-0.6-2.4-1-4.8-1.2-7.3c0-0.3,0-0.6,0-0.9c0.1-0.7-0.3-1-1-1c-0.1,0-0.2-0.1-0.4-0.1
                        c-2.4-0.5-4.7-1.4-6.9-2.3c-1.3-0.7-2.7-1.3-4-2.1c-1.4-0.8-2.7-1.8-4-2.6c0,0-0.1-0.1-0.1-0.1c-1.3-1.1-2.5-2.1-3.7-3.2
                        c-1.6-1.5-2.9-3.1-4.3-4.8c0,0-0.1-0.1-0.1-0.1c-1.8-2.5-3.3-5.2-4.6-8c-0.8-2-1.5-4-2.1-6.1c-0.9-3.4-1.2-6.8-1.3-10.2
                        c0-2.7,0-5.3,0-8c0-2.7,0-5.4,0-8.2c0-2.7,0-5.4,0-8.2c0-2.7,0-5.4,0-8.2c0.1-2.7-0.1-5.3,0.1-8c0-0.1,0-0.3,0-0.4
                        c0-0.1,0.1-0.1,0.1-0.2c0.8-2.4,2.5-3.8,5-4.3C14.7,8,15.6,7.8,16.6,7.6z M122.1,45.7c-2.3,0-4,1.8-4,4.2c0,2.2,1.8,3.9,4,3.9
                        c1.9,0.2,4.1-1.6,4.1-3.9C126.2,47.3,124.3,45.5,122.1,45.7z"/>
                    </svg>
                    <div class="reveal">
                        <h3>médico</h3>
                        <h4>Gastos Médicos</h4>
                        <p>Acceda a los mejores hospitales locales e internacionales.</p>
                        <!-- <h4>{{ section_medical.subtitle }}</h4>
                        <p>{{ section_medical.summary }}</p> -->
                    </div>
                    <a href="/pages/gastos-medicos/{{ section_medical.button_url }}"
                       class="btn reveal-300">ver más</a>
                </div>

                <div class="col">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <div class="reveal">
                        <h3>hogar</h3>
                        <h4>Incendio y otros</h4>
                        <p>Protéjase y a su hogar contra eventos inesperados.</p>
                        <!-- <h4>{{ section_home.subtitle }}</h4>
                        <p>{{ section_home.summary }}</p> -->
                    </div>
                    <a href="{{ section_home.button_url }}" class="btn reveal-300">ver más</a>
                </div>

                <div class="col">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <div class="reveal">
                        <h3>vehículo</h3>
                        <h4>Colisiones y otros</h4>
                        <p>Descubra como puede hacer mas eficiente el seguro de su vehículo.</p>
                        <!-- <h4>{{ section_vehicle.subtitle }}</h4>
                        <p>{{ section_vehicle.summary }}</p> -->
                    </div>
                    <a href="{{ section_vehicle.button_url }}"
                       class="btn reveal-300">ver más</a>
                </div>

                <div class="col" style="max-width:375px;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
                    <path d="M121.9,80c0,2.7,0,5.5,0,8.2c-0.1,2.7-0.1,5.5,0,8.2c0,2.7,0,5.5,0,8.2c-0.1,2.7-0.1,5.4,0,8c0,2.7,0,5.5,0,8.2
                        c0,2.6,0,5.2,0,7.7c0,0.5,0.3,0.4,0.6,0.4c1.5,0,3,0,4.5,0c1.8,0,3.1,1.3,3.1,3.1c0,1.6,0,3.3,0,4.9c-2.9,0-5.8,0-8.6,0
                        c-34.8,0-69.7,0-104.5,0c-0.7,0-1-0.1-0.9-0.9c0.1-1.7-0.1-3.4,0.1-5.1c0.4-1,1.1-1.6,2-2c1.8-0.1,3.6,0,5.4-0.1
                        c0.4,0,0.6,0,0.6-0.5c0-2.6,0-5.1,0-7.7c0.1-2.7,0.1-5.5,0-8.2c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.4,0-8c0.1-2.7,0.1-5.5,0-8.2
                        c0.1-2.7,0.1-5.4,0-8c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.5,0-8.2c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.4,0-8c0-2.7,0-5.5,0-8.2
                        c0.1-2.7,0.1-5.5,0-8.2c0-2.7,0-5.5,0-8.2c0.1-2.7,0.1-5.4,0-8c0.1-1.3-0.1-2.6,0.2-3.9c0.1-0.2,0.2-0.3,0.3-0.5
                        c0.7-1.7,2-2.9,3.8-3.5C28.5,7,28.8,6.9,29,6.8c14.1,0,28.2,0,42.3,0c14.7,0,29.3,0,44,0c3.1,0,5.7,1.7,6.5,4.6
                        c0.3,1.2,0,2.4,0.2,3.6c0,2.7,0,5.4,0,8c-0.1,2.7-0.1,5.5,0,8.2c0,2.7,0,5.5,0,8.2c-0.1,2.7-0.1,5.4,0,8c0,2.7,0,5.5,0,8.2
                        c-0.1,2.7-0.1,5.5,0,8.2c0,2.7,0,5.5,0,8.2C121.8,74.7,121.8,77.3,121.9,80z M64.8,55.6c0-1.7,0-3.4,0-5.1c0-1.6-1.3-2.9-2.9-2.9
                        c-1.7,0-3.4,0-5.1,0c-1.8-0.2-3.7-0.2-5.5,0c-1.7,0.2-2.7,1.4-2.7,3.1c0,1.7,0,3.3,0,5c0,1.8,0,3.5,0,5.3c0,1.6,1.3,2.9,2.9,2.9
                        c1.8,0,3.5,0,5.3,0c1.7,0,3.4,0,5.1,0c1.6,0,2.9-1.3,2.9-2.8C64.8,59.2,64.8,57.4,64.8,55.6z M73,104.6c-1.8,0-3.5,0-5.3,0
                        c-1.4,0-2.6,1-2.8,2.4c-0.3,1.9-0.1,3.8-0.1,5.6c-0.1,2.7-0.1,5.5,0,8.2c0,2.6,0,5.1,0,7.7c0,0.4,0.1,0.5,0.5,0.5c2.6,0,5.1,0,7.7,0
                        c2.6,0,5.2,0,7.7,0c0.3,0,0.4-0.1,0.4-0.4c0-2.6,0-5.2,0-7.7c0.1-2.7,0.1-5.5,0-8.2c0-1.7,0.1-3.5,0-5.2c0-1.4-1.1-2.7-2.4-2.8
                        C76.8,104.4,74.9,104.4,73,104.6z M89.2,39.3c1.8,0,3.7,0,5.5,0c1.5-0.1,2.7-1.3,2.7-2.8c0-1.8,0-3.5,0-5.3c0-1.7,0.1-3.3,0-5
                        c0-1.7-1.4-3.1-3-3.2c-1.7-0.1-3.5,0-5.2,0c-1.6,0-3.2-0.1-4.8,0c-1.9,0.1-3.2,1.2-3.2,2.8c0,1.8,0,3.6,0,5.3c0,1.7,0,3.5,0,5.2
                        c0,1.5,1.2,2.9,2.8,2.9C85.7,39.4,87.4,39.3,89.2,39.3z M64.8,31.2c0-1.7,0-3.3,0-5c0-1.8-1.2-3.1-2.9-3.2c-1.7-0.1-3.4,0-5.1,0
                        c-1.7,0-3.3-0.1-5,0c-2.2,0.1-3.2,1.3-3.2,3.5c0,1.6,0,3.1,0,4.7c0,1.8,0,3.5,0,5.3c0,1.5,1.3,2.8,2.8,2.9c1.8,0.1,3.6,0,5.4,0
                        c1.7,0,3.4,0.1,5.1,0c1.6-0.1,2.9-1.3,2.9-2.8C64.8,34.7,64.8,33,64.8,31.2z M56.7,72c-1.8,0-3.6,0-5.4,0c-1.5,0-2.7,1.3-2.8,2.8
                        c0,1.8,0,3.6,0,5.4c0,1.8,0,3.5,0,5.3c0,1.5,1.3,2.7,2.8,2.8c1.8,0,3.6,0,5.4,0c1.8,0,3.5,0,5.3,0c1.5,0,2.8-1.3,2.8-2.8
                        c0-1.8,0-3.6,0-5.4c0-1.8,0.1-3.5,0-5.3c0-1.5-1.3-2.7-2.8-2.8C60.3,71.9,58.5,72,56.7,72z M89.2,72c-1.8,0-3.5,0-5.3,0
                        c-1.5,0-2.7,1.3-2.8,2.8c0,1.8,0,3.6,0,5.4c0,1.8-0.1,3.5,0,5.3c0,1.5,1.3,2.7,2.8,2.8c1.8,0,3.5,0,5.3,0c1.8,0,3.6,0,5.4,0
                        c1.5,0,2.8-1.3,2.8-2.8c0-1.8,0-3.6,0-5.4c0-1.8,0-3.5,0-5.3c0-1.5-1.3-2.8-2.8-2.8C92.8,71.9,91,72,89.2,72z M89.2,63.8
                        c1.8,0,3.5,0,5.3,0c1.6,0,2.9-1.3,2.9-2.9c0-1.8,0-3.5,0-5.3c0-1.7,0-3.5,0-5.2c0-1.6-1.3-2.8-2.9-2.9c-1.7,0-3.4,0-5.1,0
                        c-1.9-0.1-3.8-0.2-5.8,0c-1.4,0.2-2.4,1.4-2.4,2.7c0,1.8,0,3.6,0,5.3c0,1.7,0,3.5,0,5.2c0,1.6,1.3,2.9,2.9,3
                        C85.8,63.8,87.5,63.8,89.2,63.8z"/>
                    </svg>
                    <div class="reveal">
                        <h3>empresa</h3>
                        <h4>Protección Empresarial</h4>
                        <p>Descubra que puede hacer este tipo de seguro por usted y su empresa.</p>
                        <!-- <h4>{{ section_enterprise.subtitle }}</h4>
                        <p>{{ section_enterprise.summary }}</p> -->
                    </div>
                    <a href="{{ section_enterprise.button_url }}"
                       class="btn reveal-300">ver más</a>
                </div>

            </div>


        </section>
        <!-- / Intro List -->

        <!-- CTA -->
        <section class="cta">

            <div class="content-box">

                <h2 class="title reveal">
                   Tranquilidad
                </h2>
                <h3 class="subtitle reveal-300">
                    Es saber que segurú lo tiene cubierto
                </h3>
                <p class="reveal-500">
                    {{ section_three.summary }}
                </p>

                <div class="action-container reveal-500">
                    <a href="{% url 'client.calculator.index' %}"
                       class="btn btn-white">ver más</a>
                    <a href="{% url 'client.contact_form' %}"
                       class="btn btn-secondary">contacto<i
                            class="fa fa-arrow-right"></i></a>
                </div>
            </div>

            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.127 14.56l1.43-1.43 6.44 6.443L19.57 21zm4.293-5.73l2.86-2.86c-3.95-3.95-10.35-3.96-14.3-.02 3.93-1.3 8.31-.25 11.44 2.88zM5.95 5.98c-3.94 3.95-3.93 10.35.02 14.3l2.86-2.86C5.7 14.29 4.65 9.91 5.95 5.98zm.02-.02l-.01.01c-.38 3.01 1.17 6.88 4.3 10.02l5.73-5.73c-3.13-3.13-7.01-4.68-10.02-4.3z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>

        </section>
        <!-- / CTA -->

        <!-- CTA -->
        <section class="cta cta-gradient" style="background-image: url({{ section_one.background_image.url }});">

            <div class="content-box">

                <h2 class="title reveal">
                    Eficiencia
                </h2>
                <h3 class="subtitle reveal-300">
                    Es cotizar en menos tiempo
                </h3>
                <p class="reveal-500">
                    {{ section_one.summary }}
                </p>

                <div class="action-container reveal-500">
                    <a href="{% url 'client.calculator.index' %}"
                       class="btn btn-white">ver más</a>
                    <a href="{% url 'client.contact_form' %}"
                       class="btn btn-secondary">contacto<i
                            class="fa fa-arrow-right"></i></a>
                </div>
            </div>

            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z"/>
            </svg>

        </section>
        <!-- / CTA -->
        <!-- Form Group -->
        <section class="form-container">
            <div class="content-box">
                <h2 class="title reveal">
                    ¡Hablemos!
                </h2>
                <h3 class="subtitle reveal-300">
                    Siempre atentos a sus consultas
                </h3>
                <p class="reveal-500">
                    <!--fzeledon removed template text ... -->
                </p>
                <!--<form action="{% url 'client.contact_form' %}" method="post">{% csrf_token %}

                    <div class="form-group">
                        <label>
                            Nombre:
                            <input type="text" name="full_name">
                        </label>

                        <label class="half">
                            Email:
                            <input type="text" name="email">
                        </label>
                        <label class="half">
                            Teléfono:
                            <input type="text" name="phone">
                        </label>
                        <label>
                            Mensaje:
                            <textarea name="message" rows="4"></textarea>
                        </label>
                        <div class="action-container">
                            <button type="submit" class="btn btn-secondary">Enviar</button>
                        </div>
                    </div>
                </form>-->
                <script id="bx24_form_inline" data-skip-moving="true">
                    (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                        (w[b].forms=w[b].forms||[]).push(arguments[0])};
                        if(w[b]['forms']) return;
                        var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://seguru.bitrix24.com/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"4","lang":"la","sec":"115kt3","type":"inline"});
    </script>
            </div>
        </section>
        <!-- / Form Group -->
        <!-- Map -->
        <section class="map">
            <div id="map">
	    <iframe class="map-top" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGyRLKNXziM_eadZ1_CRPRf2U5l7Dr750&q=Centro+Corporativo+Lindora" allowfullscreen=""></iframe>
	    </div>
        </section>
        <!-- / Map -->
    </main>
{% endblock %}

{% block script_js %}


    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167250969-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167250969-1');
</script>

    <!-- / Scripts -->
{% endblock %}
