{% extends 'insurance/layout/base.html' %}

{% block title %}
    {{ title_form }}
{% endblock %}

{% block breadcrumb %}
    Secciones
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-success">
                <div class="card-header">{{ title_form }}</div>
                <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            {% for error in form.title.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.subtitle.label_tag }}
                            {{ form.subtitle }}
                            {% for error in form.subtitle.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.summary.label_tag }}
                            {{ form.summary }}
                            {% for error in form.summary.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.button_text.label_tag }}
                            {{ form.button_text }}
                            {% for error in form.button_text.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.button_url.label_tag }}
                            {{ form.button_url }}
                            {% for error in form.button_url.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.home_tag.label_tag }}
                            <input type="text" name="{{ form.home_tag.name }}" id="{{ form.home_tag.id_for_label }}"
                                   class="form-control" value="{{ section_home.home_tag }}"
                                   {% if section_home %}readonly{% endif %}>
                            {% for error in form.home_tag.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}