{% extends 'insurance/layout/base.html' %}

{% block title %}
    Respuestas Seguros de Vehículos
{% endblock %}

{% block breadcrumb %}
    Respuestas Seguros de Vehículos
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Respuestas Seguros de Vehículos</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-6">Seguros</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th class="text-center">Año</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for insurance_vehicle_response in insurance_vehicle_response_list %}
                            <tr>
                                <td>{{ insurance_vehicle_response.insurances_linked }}</td>
                                <td>{{ insurance_vehicle_response.vehicle_model.vehicle_brand }}</td>
                                <td>{{ insurance_vehicle_response.vehicle_model }}</td>
                                <td class="text-center">{{ insurance_vehicle_response.year }}</td>
                                <td class="text-center">
                                    <a href="{% url 'insurance.insurance_vehicle_response.edit' insurance_vehicle_response.id %}"
                                       title="Editar" class="text-warning">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-danger text-center">
                                    <h4>No hay respuestas disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if insurance_vehicle_response_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=6 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-lg-end">
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.insurance_vehicle_response.add' %}" class="text-success">
                                <i class="far fa-file"></i> Nueva
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}