{% extends 'insurance/layout/base.html' %}

{% block title %}
	{{ title_form }}
{% endblock %}

{% block breadcrumb %}
	{{ title_section }}
{% endblock %}

{% block content %}
	<form method="post" action="">{% csrf_token %}
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="card card-accent-success">
					<div class="card-header">{{ title_form }}</div>
					<div class="card-body">
						{{ form.errors }}
						<div class="card card-accent-gray-300">
							<div class="card-header">Información Básica</div>
							<div class="card-body">
								{% for field in form %}
									{% if field.name != 'insurance' %}
										{% if field.is_hidden %}
											{{ field }}
										{% else %}
											<div class="form-group">
												{{ field.label_tag }}
												{{ field }}
												{% for error in field.errors %}
													<div class="invalid-feedback">{{ error }}</div>
												{% endfor %}
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>

						<div class="card card-accent-gray-400">
							<div class="card-header">Seguros</div>
							<div class="card-body">
								{% for field in form %}
									{% if field.name == 'insurance' %}
										{% if field.is_hidden %}
											{{ field }}
										{% else %}
											<div class="form-group">
												{{ field }}
												{% for error in field.errors %}
													<div class="invalid-feedback">{{ error }}</div>
												{% endfor %}
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>

						<div class="form-group text-right">
							<button type="submit" class="btn btn-success">Guardar</button>
						</div>

					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-lg-6">
								<a href="{{ reverse_url }}"><i class="fas fa-arrow-left"></i> Regresar</a>
							</div>
							<div class="col-lg-6"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block js_scripts %}

	<script>
        var vehicle_brand_selector = '#{{ form.vehicle_brand.id_for_label }}';

        var vehicle_model_selector = '#{{ form.vehicle_model.id_for_label }}';

        var vehicle_year_selector = '#{{ form.vehicle_year.id_for_label }}';

        var url_models = '{% url 'insurance.vehicle_brand.get_models' %}';

        var url_years = '{% url 'insurance.vehicle_brand.get_years' %}';

        {% if insurance_vehicle_response %}
            $(vehicle_model_selector).prop("disabled", false);
            $(vehicle_year_selector).prop("disabled", false);

            setVehicleModelSelector({{ insurance_vehicle_response.vehicle_model.vehicle_brand_id }});
            setVehicleYearSelector({{ insurance_vehicle_response.vehicle_model_id }})
        {% else %}
            $(vehicle_model_selector).prop("disabled", true);
            $(vehicle_year_selector).prop("disabled", true);
        {% endif %}

        $(vehicle_brand_selector).change(function () {
            setVehicleModelSelector($(this).val());
        });

        $(vehicle_model_selector).change(function () {
            setVehicleYearSelector($(this).val());
        });

        function setVehicleModelSelector(vehicle_brand_id) {
            var text_loading = '<option>Cargando....</option>';

            var selected_vehicle_model = {% if insurance_vehicle_response.vehicle_model_id %}
                {{ insurance_vehicle_response.vehicle_model_id }} {% else %} undefined {% endif %};

            $(vehicle_model_selector).html(text_loading);

            $.get(url_models, {vehicle_brand_id: vehicle_brand_id}, function (data) {
                $(vehicle_model_selector).prop("disabled", false);

                $(vehicle_model_selector).empty();

                $(vehicle_model_selector).append('<option value="">Seleccione un Modelo</option>');

                $.each(data, function (i, vehicle_model) {
                    if (vehicle_model.id == selected_vehicle_model) {
                        $(vehicle_model_selector).append('<option value="' + vehicle_model.id + '" selected>' + vehicle_model.name + '</option>');
                    }
                    else {
                        $(vehicle_model_selector).append('<option value="' + vehicle_model.id + '">' + vehicle_model.name + '</option>');
                    }
                })
            });
        }

        function setVehicleYearSelector(vehicle_model_id) {
            var text_loading = '<option>Cargando....</option>';

            var selected_vehicle_year = {% if insurance_vehicle_response.vehicle_year_id %}{{ insurance_vehicle_response.vehicle_year_id }} {% else %} undefined {% endif %};

            $(vehicle_year_selector).html(text_loading);

            $.get(url_years, {vehicle_model_id: vehicle_model_id}, function (data) {
                $(vehicle_year_selector).prop("disabled", false);

                $(vehicle_year_selector).empty();

                $(vehicle_year_selector).append('<option value="">Seleccione un Año</option>');

                $.each(data, function (i, vehicle_year) {
                    if (vehicle_year.id == selected_vehicle_year) {
                        $(vehicle_year_selector).append('<option value="' + vehicle_year.id + '" selected>' + vehicle_year.year + '</option>');
                    }
                    else {
                        $(vehicle_year_selector).append('<option value="' + vehicle_year.id + '">' + vehicle_year.year + '</option>');
                    }
                })
            });
        }
	</script>

{% endblock %}