{% extends 'insurance/layout/base.html' %}


{% block title %}
    Respuestas Seguro de Casa
{% endblock %}

{% block breadcrumb %}
    Respuestas Seguro de Casa
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Respuestas Seguro de Casa</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr class="">
                            <th class="col-lg-4">Seguros</th>
                            <th class="col-lg-3 text-center">Tipo de Construcción</th>
                            <th class="col-lg-2">Antigüedad</th>
                            <th class="col-lg-2 text-right">Características</th>
                            <th class="col-lg-1"></th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for home_response in home_response_list %}
                            <tr>
                                <td>{{ home_response.insurances_linked }}</td>
                                <td class="text-center">{{ home_response.construction_type_linked }}</td>
                                <td class="text-center">{{ home_response.building_age }}</td>
                                <td class="text-right">{{ home_response.features_linked }}</td>
                                <td class="text-center">
                                    <a href="{% url 'insurance.insurance_home_response.edit' home_response.id %}"
                                       title="Editar" class="text-warning">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="text-danger"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-danger">
                                    <h4>No hay respuestas disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if home_response_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=6 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-lg-end">
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.insurance_home_response.add' %}" class="text-success">
                                <i class="far fa-file"></i> Nueva
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}