{% extends 'insurance/layout/base.html' %}

{% block title %}
    Compañias
{% endblock %}

{% block breadcrumb %}
    Compañias
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">Lista de Compañias</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="col-lg-11">Nombre</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company in company_list %}
                            <tr>
                                <td>{{ company }}</td>
                                <td class="text-center">
                                    <a href="{% url 'insurance.company.edit' company.id %}" class="text-warning"
                                       title="Editar">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center text-danger">
                                    <h4>No hay compañias disponibles</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if company_list %}
                            {% include 'insurance/layout/paginator.html' with colspan=2 %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-lg-end">
                        <div class="col-lg-6 text-right">
                            <a href="{% url 'insurance.company.add' %}" class="text-success">
                                <i class="far fa-file"></i> Nueva Compañia
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}