@import url(swiper.min.css);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1;
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
sup{
    vertical-align:super;
    font-size:.8em
}
*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,body{
    background-color:#ffffff;
    min-height:100%;
    font-size:1.1em;
    font-weight:300;
    font-family:Helvetica,Arial,sans-serif;
    color:#4a4a4a;
    overflow-x:hidden;
}
html.stop-scroll,body.stop-scroll{
    overflow:hidden
}
h1,h2,h3,h4,h5,h6{
    font-family:Helvetica,Arial,sans-serif;
    font-weight:700;
    text-transform:uppercase
}
p{
    margin-bottom:1rem;
    line-height:1.6;
    text-rendering:optimizeLegibility
}
a{
    color:inherit;
    text-decoration:none
}
.btn{
    display:inline-block;
    padding:10px 20px;
    min-width:140px;
    background-color:#080B4C;
    border:none;
    border-radius:2px;
    color:#ffffff;
    text-align:center;
    font-family:Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.btn.btn-secondary{
    background-color:#00C276
}
.btn.btn-white{
    background-color:#ffffff;
    color:#4a4a4a
}
.btn.btn-black{
    background-color:#000000;
    color:#ffffff
}
.btn.btn-ghost{
    background-color:inherit;
    color:#4a4a4a
}
.btn.btn-ghost-white{
    background-color:inherit;
    color:#ffffff
}
.background-cover{
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat
}
.clearfix::after{
    content:'';
    display:block;
    clear:both
}
header{
    z-index:300
}
nav{
    z-index:299
}
main section{
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
    z-index:0
}
main section .title{
    margin-bottom:10px;
    color:#080B4C;
    font-size:4em;
    font-size:10vw;
    text-transform:uppercase;
    letter-spacing:1px
}
main section .title.title-big{
    font-size:14vw
}
@media all and (min-width: 800px){
    main section .title{
        font-size:8vw
    }
    main section .title.title-big{
        font-size:10vw
    }
}
main section .subtitle{
    margin-bottom:10px;
    color:#7f7f7f;
    font-size:1.2em;
    text-transform:uppercase;
    letter-spacing:1px
}
main section .subtitle span{
    color:#00C276
}
@media all and (min-width: 800px){
    main section .subtitle{
        font-size:2vw;
        letter-spacing:4px
    }
}
main section .content-box{
    display:block;
    position:relative;
    padding:0 5%;
    z-index:1
}
main section .center-box{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    width:90%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
main section .action-container{
    position:relative;
    margin:20px 0 0;
    z-index:1
}
main section .action-container .btn{
    margin:5px
}
main section .flex-cols{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -ms-flex-pack:distribute;
    justify-content:space-around
}
main section .flex-cols .col{
    display:block;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto
}
main section .flex-cols.no-grow .col{
    -webkit-box-flex:0;
    -ms-flex:0 1 auto;
    flex:0 1 auto
}
main section .flex-cols.cols-1 .col{
    width:100%
}
main section .flex-cols.cols-2 .col{
    width:100%
}
@media all and (min-width: 600px){
    main section .flex-cols.cols-2 .col{
        width:50%
    }
}
main section .flex-cols.cols-3 .col{
    width:100%
}
@media all and (min-width: 800px){
    main section .flex-cols.cols-3 .col{
        width:33.33%
    }
}
main section .flex-cols.cols-4 .col{
    width:100%
}
@media all and (min-width: 600px){
    main section .flex-cols.cols-4 .col{
        width:50%
    }
}
@media all and (min-width: 1000px){
    main section .flex-cols.cols-4 .col{
        width:25%
    }
}
.btn{
    cursor:pointer
}
.btn.btn-flashy{
    background-color:#ff4700;
    color:#ffffff
}
.particles-js-canvas-el{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#080B4C;
    z-index:0
}
header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
    background-color:transparent;
    -webkit-transition:.3s background-color, .3s box-shadow;
    transition:.3s background-color, .3s box-shadow
}
header.add-background,header.scrolled{
    -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    background-color:#080B4C
}
header.add-background .open-nav span,header.scrolled .open-nav span{
    background-color:#00C276
}
header.add-background .logo,header.scrolled .logo{
    opacity:1 !important
}
header.add-background .logo .st0,header.scrolled .logo .st0{
    fill:#ffffff !important
}
header .logo-container .logo{
    position:absolute;
    top:5px;
    left:5%;
    width:auto;
    height:55px;
    -webkit-transform:none;
    transform:none;
    -webkit-transition:.3s opacity;
    transition:.3s opacity
}
header .logo-container .logo .st0{
    fill:#080B4C
}
header.hide-logo .logo{
    opacity:0
}
header .actions{
    position:absolute;
    top:0;
    right:5%;
    height:60px
}
header .actions .btn{
    font-size:12px
}
header .open-nav{
    display:inline-block;
    position:relative;
    margin-left:10px;
    height:60px;
    width:24px;
    vertical-align:middle;
    cursor:pointer
}
header .open-nav span{
    position:absolute;
    width:100%;
    height:2px;
    top:50%;
    left:0;
    background-color:#ffffff;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transition:margin .3s ease-in-out .3s, opacity .3s ease-in-out .3s, background-color .3s, -webkit-transform .3s;
    transition:margin .3s ease-in-out .3s, opacity .3s ease-in-out .3s, background-color .3s, -webkit-transform .3s;
    transition:transform .3s, margin .3s ease-in-out .3s, opacity .3s ease-in-out .3s, background-color .3s;
    transition:transform .3s, margin .3s ease-in-out .3s, opacity .3s ease-in-out .3s, background-color .3s, -webkit-transform .3s
}
header .open-nav span:first-child{
    margin-top:-6px
}
header .open-nav span:last-child{
    margin-top:6px
}
header .open-nav.opened span{
    -webkit-transition:margin .3s, opacity .3s, background-color .3s, -webkit-transform .3s ease-in-out .3s;
    transition:margin .3s, opacity .3s, background-color .3s, -webkit-transform .3s ease-in-out .3s;
    transition:transform .3s ease-in-out .3s, margin .3s, opacity .3s, background-color .3s;
    transition:transform .3s ease-in-out .3s, margin .3s, opacity .3s, background-color .3s, -webkit-transform .3s ease-in-out .3s
}
header .open-nav.opened span:first-child{
    margin-top:0px;
    -webkit-transform:translateY(-50%) rotateZ(-45deg);
    transform:translateY(-50%) rotateZ(-45deg)
}
header .open-nav.opened span:nth-child(2){
    opacity:0
}
header .open-nav.opened span:last-child{
    margin-top:0px;
    -webkit-transform:translateY(-50%) rotateZ(45deg);
    transform:translateY(-50%) rotateZ(45deg)
}
.notification-bar{
    position:fixed;
    top:60px;
    left:0;
    right:0;
    opacity:0;
    -webkit-transition:.3s opacity;
    transition:.3s opacity;
    z-index:298
}
.notification-bar.scrolled{
    opacity:1;
    -webkit-transition:.3s opacity ease-in-out .3s;
    transition:.3s opacity ease-in-out .3s
}
.notification-bar a{
    display:block;
    padding:10px 20px;
    background-color:#00C276;
    color:#ffffff;
    text-align:center;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    white-space:nowrap
}
nav{
    position:fixed;
    padding:80px 20px;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    max-width:400px;
    background-color:#080B4C;
    color:#ffffff;
    text-align:center;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:-webkit-transform .3s;
    transition:-webkit-transform .3s;
    transition:transform .3s;
    transition:transform .3s, -webkit-transform .3s;
    overflow-y:auto
}
nav.opened{
    -webkit-transform:translateX(0%);
    transform:translateX(0%)
}
nav .subtitle{
    margin-bottom:20px;
    padding:10px 0;
    background-color:#00C276;
    color:#ffffff;
    letter-spacing:2px
}
nav ul a{
    display:block;
    padding:10px 0;
    color:#ffffff;
    text-transform:uppercase
}
nav ul.social{
    margin-top:40px;
    padding-top:10px;
    border-top:solid 2px #00C276
}
nav ul.social li{
    display:inline-block
}
nav ul.social li a{
    padding:10px;
    font-size:1.4em
}
main:after{
    content:'';
    visibility:hidden;
    opacity:0;
    -webkit-transition:.3s visibility, .3s opacity;
    transition:.3s visibility, .3s opacity
}
main.opened:after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    display:block;
    position:fixed;
    background-color:rgba(0,0,0,0.7);
    visibility:visible;
    opacity:1
}
main.single-page{
    padding:60px 0 0
}
main section.intro{
    height:100vh;
    min-height:600px;
    background-color:#080B4C
}
main section.intro .swiper-container{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1
}
main section.intro .swiper-container .swiper-slide{
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100%;
    width:100%
}
main section.intro .overlay{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#ffffff;
    -webkit-transition:background-color 1s;
    transition:background-color 1s
}
main section.intro.show-background .overlay{
    background-color:rgba(0,0,0,0.2)
}
main section.intro .content-box{
    position:absolute;
    top:50%;
    left:0;
    opacity:0;
    -webkit-transform:translateY(-30%);
    transform:translateY(-30%);
    -webkit-transition:opacity 1s, -webkit-transform 1s;
    transition:opacity 1s, -webkit-transform 1s;
    transition:opacity 1s, transform 1s;
    transition:opacity 1s, transform 1s, -webkit-transform 1s;
    -webkit-transition-delay:1s;
    transition-delay:1s;
    z-index:2
}
@media all and (min-width: 1000px){
    main section.intro .content-box{
        margin-left:5%
    }
}
main section.intro .content-box .title{
    display:inline-block;
    padding:20px;
    background-color:#ffffff;
    color:#080B4C;
    font-size:2em;
    font-size:8vw
}
@media all and (min-width: 800px){
    main section.intro .content-box .title{
        padding:20px 30px;
        font-size:3em;
        font-size:5vw
    }
}
main section.intro .content-box .subtitle{
    margin-top:5px;
    color:#ffffff;
    font-size:1.2em;
    font-size:4vw
}
@media all and (min-width: 800px){
    main section.intro .content-box .subtitle{
        font-size:1.8em;
        font-size:2vw
    }
}
main section.intro .content-box .form-group{
    margin:40px 0;
    max-width:500px
}
main section.intro .content-box .form-group .col{
    width:100%
}
@media all and (min-width: 500px){
    main section.intro .content-box .form-group .col-1{
        width:30%
    }
}
@media all and (min-width: 500px){
    main section.intro .content-box .form-group .col-2{
        width:70%
    }
}
main section.intro .content-box .form-group p{
    color:#ffffff;
    text-transform:uppercase
}
main section.intro .content-box .form-group .btn,main section.intro .content-box .form-group input,main section.intro .content-box .form-group select{
    vertical-align:top;
    border-radius:2px
}
main section.intro .content-box .form-group input,main section.intro .content-box .form-group select{
    padding:0 15px;
    height:42px;
    line-height:42px;
    outline:none;
    background-color:rgba(255,255,255,0.5);
    border:solid thin #ffffff;
    color:#080B4C;
    font-size:20px;
    font-weight:700;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
main section.intro .content-box .form-group ::-webkit-input-placeholder{
    color:#ffffff;
    letter-spacing:1px
}
main section.intro .content-box .form-group ::-moz-placeholder{
    color:#ffffff;
    letter-spacing:1px
}
main section.intro .content-box .form-group :-ms-input-placeholder{
    color:#ffffff;
    letter-spacing:1px
}
main section.intro .content-box .form-group :-moz-placeholder{
    color:#ffffff;
    letter-spacing:1px
}
main section.intro .content-box .form-group .btn{
    display:inline-block;
    margin:5px 0 25px;
    padding:0 15px;
    min-width:100px;
    max-width:100px;
    height:42px;
    line-height:42px;
    vertical-align:top;
    text-align:center
}
@media all and (min-width: 500px){
    main section.intro .content-box .form-group .btn{
        margin:0 0 25px 5px
    }
}
main section.intro .content-box .form-group .btn i{
    font-size:20px
}
main section.intro .content-box .action-container{
    margin-top:40px
}
main section.intro.show-content .content-box{
    opacity:1;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
main section.intro svg.logo{
    position:absolute;
    top:50%;
    left:50%;
    height:30%;
    height:30vmin;
    -webkit-transform:translate(-50%, -30%);
    transform:translate(-50%, -30%);
    opacity:0;
    -webkit-transition:all 1s;
    transition:all 1s;
    overflow:hidden;
    z-index:1
}
@media all and (min-width: 600px){
    main section.intro svg.logo{
        height:50%;
        height:50vmin
    }
}
main section.intro svg.logo.fade-in{
    opacity:1;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
main section.intro svg.logo.set-position{
    top:5px;
    left:5%;
    width:auto;
    height:50px;
    -webkit-transform:none;
    transform:none
}
main section.intro svg.logo .st0{
    -webkit-transition:fill .5s;
    transition:fill .5s
}
main section.intro svg.logo.fade-white .st0{
    fill:#ffffff
}
main section.intro svg.background-icon{
    position:relative;
    height:100%;
    fill:#00C276;
    opacity:.4;
    z-index:0
}
@media all and (min-width: 800px){
    main section.intro svg.background-icon{
        height:initial;
        width:100%
    }
}
main section.cta{
    background-color:#080B4C;
    overflow:hidden
}
main section.cta:after{
    content:'';
    background-color:#080B4C;
    background:-webkit-gradient(linear, left top, right top, color-stop(10%, #080B4C), to(#00C276));
    background:linear-gradient(to right, #080B4C 10%, #00C276 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#080B4C', endColorstr='#00C276', GradientType=1 );
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:10px
}
main section.cta.cta-gradient:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background-color:#080B4C;
    background:-webkit-gradient(linear, left top, right top, color-stop(10%, #080B4C), to(#00C276));
    background:linear-gradient(to right, #080B4C 10%, #00C276 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#080B4C', endColorstr='#00C276', GradientType=1 );
    opacity:.4
}
main section.cta.cta-gradient .subtitle{
    color:#ffffff
}
main section.cta .content-box{
    padding:60px 5%
}
@media all and (min-width: 700px){
    main section.cta .content-box{
        padding:80px 5%
    }
}
main section.cta .title{
    color:#ffffff;
    text-shadow:0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.2)
}
main section.cta .subtitle{
    color:#00C276
}
main section.cta p{
    color:#ffffff;
    max-width:800px
}
main section.cta svg{
    position:absolute;
    top:50%;
    right:5%;
    height:120%;
    fill:rgba(0,194,118,0.4);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    z-index:0
}
main section.icon-list .content-box{
    padding:60px 5%
}
@media all and (min-width: 700px){
    main section.icon-list .content-box{
        padding:80px 5%
    }
}
main section.icon-list .col{
    padding:10px 20px 20px;
    text-align:center
}
main section.icon-list .col svg{
    display:block;
    margin:10px auto;
    width:50%;
    fill:#080B4C
}
main section.icon-list .col h3{
    margin-bottom:5px;
    text-transform:uppercase;
    font-weight:700;
    font-size:1.4em;
    color:#080B4C
}
main section.icon-list .col h4{
    margin-bottom:5px;
    text-transform:uppercase;
    color:#00C276
}
main section.form-container .content-box{
    padding:60px 5%;
    text-align:center
}
@media all and (min-width: 700px){
    main section.form-container .content-box{
        padding:80px 5%
    }
}
main section.form-container .content-box p{
    margin:0 auto;
    max-width:800px
}
main section.form-container .form-group{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:40px auto;
    max-width:800px;
    text-align:left;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap
}
main section.form-container .form-group label{
    display:block;
    margin:5px 0;
    padding:0 10px;
    width:100%;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto
}
@media all and (min-width: 600px){
    main section.form-container .form-group label.half{
        width:50%
    }
}
main section.form-container .form-group label textarea,main section.form-container .form-group label input{
    display:block;
    margin-top:5px;
    padding:0 15px;
    height:32px;
    width:100%;
    line-height:32px;
    background-color:#dedede;
    border:none;
    outline:none;
    border-radius:2px;
    font-size:14px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
main section.form-container .form-group label textarea{
    padding:15px;
    height:initial;
    line-height:1.2
}
main section.form-container .form-group .radio{
    width:100%;
    text-align:center
}
main section.form-container .form-group .radio label{
    display:inline-block;
    margin:20px 0;
    width:90%;
    max-width:300px;
    color:pointer
}
main section.form-container .form-group .radio .icon{
    display:inline-block;
    margin-right:5px;
    padding:4px;
    width:40px;
    height:40px;
    border:solid 4px #080B4C;
    border-radius:100%;
    vertical-align:middle
}
main section.form-container .form-group .radio input{
    height:1px;
    width:1px;
    margin:0;
    padding:0;
    visibility:hidden;
    opacity:0
}
main section.form-container .form-group .radio input:checked+.icon:after{
    content:'';
    display:block;
    height:100%;
    width:100%;
    background-color:#00C276;
    border-radius:100%
}
main section.form-container .form-group .action-container{
    padding:0 10px;
    width:100%;
    text-align:right
}
main section.form-container .form-group .action-container .btn{
    margin:0;
    padding:14px 20px;
    width:100%
}
main section.map{
    height:50vh;
    min-height:350px
}
main section.map:after{
    content:'';
    background-color:#080B4C;
    background:-webkit-gradient(linear, left top, right top, color-stop(10%, #080B4C), to(#00C276));
    background:linear-gradient(to right, #080B4C 10%, #00C276 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#080B4C', endColorstr='#00C276', GradientType=1 );
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:10px
}
main section.map #map{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%
}
main section.single-page{
    min-height:90vh
}
main section.single-page .content-box{
    margin:0 auto;
    padding:40px 5%;
    max-width:1200px
}
@media all and (min-width: 700px){
    main section.single-page .content-box{
        padding:60px 5%
    }
}
main section.single-page p{
    max-width:1400px
}
main section.single-page p:first-of-type{
    margin-top:20px
}
main section.single-page .swiper-container{
    margin:40px 0;
    height:350px
}
main section.single-page .swiper-container .swiper-slide{
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    border-radius:2px
}
main section.calculator{
    min-height:calc(100vh - 60px);
    z-index:1
}
main section.calculator .menu-tab{
    padding:60px 5%;
    background:#ffffff;
    min-height:calc(100vh - 60px)
}
main section.calculator .menu-tab ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:40px 0;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -ms-flex-pack:distribute;
    justify-content:space-around
}
@media all and (min-width: 800px){
    main section.calculator .menu-tab ul{
        margin:60px 0
    }
}
main section.calculator .menu-tab ul li{
    display:inline-block;
    margin:10px;
    width:300px;
    width:80vw;
    height:250px;
    height:40vw;
    max-width:90%;
    max-height:90%;
    min-width:200px;
    min-height:200px;
    background-color:#00C276;
    border:solid 14px #00C276;
    border-bottom:none;
    border-radius:6px
}
@media all and (min-width: 510px){
    main section.calculator .menu-tab ul li{
        width:300px;
        width:30vw;
        width:300px;
        height:30vw
    }
}
@media all and (min-width: 970px){
    main section.calculator .menu-tab ul li{
        width:250px;
        width:20vw;
        height:250px;
        height:20vw
    }
}
main section.calculator .menu-tab ul li .icon{
    position:relative;
    width:100%;
    height:70%;
    padding:20px;
    background:#ffffff;
    border-radius:6px;
    text-align:center
}
main section.calculator .menu-tab ul li .icon svg{
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    height:80%;
    fill:#00C276;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
main section.calculator .menu-tab ul li .menu-title{
    position:relative;
    width:100%;
    height:30%;
    text-align:center;
    color:#ffffff
}
main section.calculator .menu-tab ul li .menu-title h3{
    position:absolute;
    top:50%;
    left:50%;
    font-size:1em;
    letter-spacing:1px;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
@media all and (min-width: 1200px){
    main section.calculator .menu-tab ul li .menu-title h3{
        font-size:1.4em
    }
}
main section.calculator .progress-bar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background-color:#4a4a4a;
    border:solid 5px #4a4a4a;
    border-left:none;
    border-right:none;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap
}
main section.calculator .progress-bar .progress{
    height:100%;
    width:10%;
    background-color:#00C276;
    z-index:0;
    -webkit-transition:width 1s;
    transition:width 1s
}
main section.calculator .progress-bar .label{
    position:absolute;
    top:50%;
    left:50%;
    color:#ffffff;
    font-size:1em;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    z-index:1
}
main section.calculator .tab{
    position:relative;
    margin:100px auto;
    padding:40px 20px;
    max-width:800px;
    background-color:#ffffff;
    -webkit-box-shadow:0px 2px 4px 1px rgba(0,0,0,0.3);
    box-shadow:0px 2px 4px 1px rgba(0,0,0,0.3);
    z-index:1
}
@media all and (min-width: 800px){
    main section.calculator .tab{
        padding:40px;
        border-radius:5px
    }
}
main section.calculator .tab .question-title{
    margin:0 auto;
    max-width:800px;
    line-height:1.2;
    text-align:center;
    color:#080B4C;
    font-size:1.1em
}
@media all and (min-width: 500px){
    main section.calculator .tab .question-title{
        font-size:1.2em
    }
}
@media all and (min-width: 800px){
    main section.calculator .tab .question-title{
        font-size:1.4em
    }
}
@media all and (min-width: 1100px){
    main section.calculator .tab .question-title{
        font-size:2vw
    }
}
main section.calculator .tab .question{
    margin:40px 0 0
}
main section.calculator .tab .question .radio{
    text-align:center
}
main section.calculator .tab .question .radio label{
    display:inline-block;
    margin:20px 0;
    width:90%;
    max-width:300px;
    color:pointer
}
main section.calculator .tab .question .radio .icon{
    display:inline-block;
    margin-right:5px;
    padding:4px;
    width:40px;
    height:40px;
    border:solid 4px #080B4C;
    border-radius:100%;
    vertical-align:middle
}
main section.calculator .tab .question .radio input{
    height:1px;
    width:1px;
    margin:0;
    padding:0;
    visibility:hidden;
    opacity:0
}
main section.calculator .tab .question .radio input:checked+.icon:after{
    content:'';
    display:block;
    height:100%;
    width:100%;
    background-color:#00C276;
    border-radius:100%
}
main section.calculator .tab .question .checkbox{
    text-align:center
}
main section.calculator .tab .question .checkbox label{
    display:inline-block;
    margin:20px 0;
    width:90%;
    max-width:300px;
    color:pointer
}
main section.calculator .tab .question .checkbox .icon{
    display:inline-block;
    margin-right:5px;
    padding:4px;
    width:40px;
    height:40px;
    border:solid 4px #080B4C;
    border-radius:20%;
    vertical-align:middle
}
main section.calculator .tab .question .checkbox input{
    height:1px;
    width:1px;
    margin:0;
    padding:0;
    visibility:hidden;
    opacity:0
}
main section.calculator .tab .question .checkbox input:checked+.icon:after{
    content:'✓';
    display:block;
    height:100%;
    width:100%;
    color:#00C276;
    border-radius:100%;
    font-size:25px
}
main section.calculator .tab .question .simple-input{
    display:block;
    margin:0 auto;
    /*width:90%;*/
    max-width:400px;
}
main section.calculator .tab .question .simple-input label{
    display:block;
    margin-bottom:15px;
    text-align:left
}
main section.calculator .tab .question .simple-input input,main section.calculator .tab .question .simple-input select,main section.calculator .tab .question .simple-input textarea{
    padding:10px 20px;
    width:100%;
    margin-top:5px;
    background-color:#ffffff;
    border:solid 2px #080B4C;
    border-radius:5px;
    outline:none;
    color:#080B4C;
    font-size:1.3em
}
main section.calculator .tab .question .simple-input select{
    height:2em
}
main section.calculator .tab .question input,main section.calculator .tab .question select,main section.calculator .tab .question textarea{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
main section.calculator .tab .question textarea{
    min-height:7em;
    resize:vertical
}
main section.calculator .tab .question .actions{
    margin:60px 0 0;
    text-align:center
}
main section.calculator .tab .question .actions .btn{
    margin:5px
}
main section.calculator-results{
    min-height:90vh;
    padding:0 0 100px;
    background-color:#ffffff
}
@media all and (min-width: 800px){
    main section.calculator-results{
        padding:60px 5% 100px;
        background-color:#eaeaea
    }
}
main section.calculator-results .content-box{
    margin:0 auto;
    padding:0;
    width:100%;
    max-width:1200px;
    overflow-x:auto
}
main section.calculator-results .content-box table{
    width:100%;
    background-color:#ffffff;
    position: relative;
    border-collapse: collapse;
}
@media all and (min-width: 800px){
    main section.calculator-results .content-box table{
        border-radius:4px;
        overflow:hidden;
        position: relative;
        border-collapse: collapse;
    }
}
main section.calculator-results .content-box table th,main section.calculator-results .content-box table td{
    padding:20px 20px;
    min-width:150px;
    font-size:16px;
    vertical-align:middle
}
main section.calculator-results .content-box table th{
    color:#080B4C;
    text-transform:uppercase;
    font-weight:700;
}
main section.calculator-results .content-box table thead th{
    background-color:#080B4C;
        border-bottom:none;
        color:#ffffff;
    text-transform:uppercase;
    font-weight:700;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}
main section.calculator-results .content-box table thead td{
    border-bottom:solid 2px #7f7f7f
}
main section.calculator-results .content-box table thead th:first-child {
    left: 0;
    z-index: 1;
}
@media all and (min-width: 800px){
    main section.calculator-results .content-box table thead td{
        background-color:#080B4C;
        border-bottom:none;
        color:#ffffff;
        letter-spacing:1px;
    }
    main section.calculator-results .content-box table thead th{
        background-color:#080B4C;
        border-bottom:none;
        color:#ffffff;
        letter-spacing:1px;
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
    }
    main section.calculator-results .content-box table thead th:first-child {
        left: 0;
        z-index: 1;
    }
}
main section.calculator-results .content-box table tbody{
    border:solid thin #7f7f7f;
    border-top:none
}
main section.calculator-results .content-box table tbody tr td{
    border-bottom:solid thin #c8c8c8;
}
main section.calculator-results .content-box table tbody tr th{
    border-bottom:solid thin #c8c8c8;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
}
main section.calculator-results .content-box table tbody tr:last-child td{
    border-bottom:solid 2px #080B4C;
}
main section.calculator-results .content-box table tbody tr:last-child th{
    border-bottom:solid 2px #080B4C;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
}
main section.calculator-results .content-box table tbody.labels tr td {
    background-color: #00C175;
    font-weight: bold;
    color: #fff;
    /*text-align: left;*/ 
}
@media all and (min-width: 800px){
    main section.calculator-results .content-box table tbody tr:last-child td{
        border-bottom:none;
    }
    main section.calculator-results .content-box table tbody tr:last-child th{
        border-bottom:none;
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        left: 0;
        background: #FFF;
    }
}
main section.calculator-results .content-box table tbody tr th{
    border-right:solid 2px #080B4C;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
}
footer{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    padding:40px 5%;
    background-color:#080B4C;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
footer:after{
    content:'';
    background-color:#080B4C;
    background:-webkit-gradient(linear, left top, right top, color-stop(10%, #080B4C), to(#00C276));
    background:linear-gradient(to right, #080B4C 10%, #00C276 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#080B4C', endColorstr='#00C276', GradientType=1 );
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:10px
}
footer .col{
    min-width:300px;
    padding:20px;
    color:#ffffff;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto
}
footer .col h3{
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:solid thin #00C276
}
footer .col ul li{
    margin:10px 0;
    font-size:14px
}
footer .col.social ul li{
    display:inline-block;
    margin:10px;
    font-size:1.4em
}
footer .col:first-child{
    text-align:left
}
footer .col:nth-child(2){
    text-align:center
}
footer .col:last-child{
    text-align:right
}
/*# sourceMappingURL=main.css.map */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .calc-fa {
        font-size: 4em;
    }
  }