{% extends 'client/layout/base.html' %}

{% block title %}
    {{ page }}
{% endblock %}

{% block content %}
    <main class="single-page">
        <section class="single-page">

            <div class="content-box">

                <h2 class="title reveal">
                    {{ page }}
                </h2>
                <h3 class="subtitle reveal-300">
                    {{ page.subtitle|default_if_none:'' }}
                </h3>

                <div>
                    {{ page.content|safe }}
                </div>

                <div class="action-container reveal-500">
                    {% if page.primary_button_text and page.primary_button_url %}
                        <a href="{{ page.primary_button_url }}" class="btn">{{ page.primary_button_text }}</a>
                    {% endif %}

                    {% if page.secondary_button_text and page.secondary_button_url %}
                        <a href="{{ page.secondary_button_url }}"
                           class="btn btn-secondary">{{ page.secondary_button_text }} <i class="fa fa-arrow-right"></i></a>
                    {% endif %}
                </div>

                {% if page.images.all %}
                    <!-- Slider main container -->
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for post_image in page.images.all %}
                                <div class="swiper-slide"
                                     style="background-image: url({{ post_image.image.url }});"></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

        </section>
    </main>
{% endblock %}

{% block script_js %}
    <script type="text/javascript">
        (function () {

            var mySwiper = new Swiper('.swiper-container', {
                // Optional parameters
                loop: true,
                speed: 1000,
                slidesPerView: 3,
                spaceBetween: 20,
                autoplay: {
                    delay: 5000,
                },
                effect: 'slide',
                breakpoints: {
                    640: {
                        slidesPerView: 1
                    },
                    1100: {
                        slidesPerView: 2
                    }
                }
            });

        })();
    </script>
{% endblock %}